force-app/main/default/flows/Action_Flow_Create_Matching_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Output_Variable</name>
        <label>Assign Output Variable</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputCreatedAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Appointment</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Action Flow: Create Matching Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action Flow: Create Matching Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Matching_Appointment</name>
        <label>Create Matching Appointment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>appointmentId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>eventId.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>All_Day_Event__c</field>
            <value>
                <elementReference>eventId.IsAllDayEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>eventId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Campaign_ID__c</field>
            <value>
                <elementReference>eventId.telegenta__Call_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>eventId.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedDate</field>
            <value>
                <elementReference>eventId.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>eventId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End__c</field>
            <value>
                <elementReference>eventId.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_URL__c</field>
            <value>
                <elementReference>eventUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>eventId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journal__c</field>
            <value>
                <elementReference>eventId.Journal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>eventId.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_group__c</field>
            <value>
                <elementReference>eventId.telegenta__Lead_group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>eventId.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>eventId.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>eventId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>eventId.Phone_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Time__c</field>
            <value>
                <elementReference>eventId.telegenta__Process_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Set__c</field>
            <value>
                <elementReference>eventId.IsReminderSet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Reminder_New__c</field>
            <value>
                <elementReference>eventId.SMS_Reminders_New__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start__c</field>
            <value>
                <elementReference>eventId.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>eventId.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Appointment</name>
        <label>Get Created Appointment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Output_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Matching_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>eventUrl</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>https://dfj.lightning.force.com/lightning/r/{!eventId.Id}/view</text>
    </textTemplates>
    <variables>
        <name>appointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>outputCreatedAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
</Flow>
