force-app/main/default/flows/Action_Flow_Update_Calendly_Actions_with_Routing_Form_Submissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Record_to_Collection</name>
        <label>Add Record to Collection</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CalendlyActionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Calendly_Actions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Calendly_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Routing_Form_Submission_ID_to_Variable</name>
        <label>Assign Routing Form Submission ID to Variable</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_Calendly_Actions.CalendlyRoutingFormSubmission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Routing_Form_Submissions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>550</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Within_Limit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_we_find_Routing_From_Submission</name>
        <label>Did we find Routing From Submission?</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Calendly_Actions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Routing From Submission</defaultConnectorLabel>
        <rules>
            <name>Routing_From_Submission_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Routing_Form_Submissions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Routing_Form_Submission_ID_to_Variable</targetReference>
            </connector>
            <label>Routing From Submission Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Within_Limit</name>
        <label>Within Limit?</label>
        <locationX>550</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Calendly_Actions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exit Loop</defaultConnectorLabel>
        <rules>
            <name>Still_Within_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>95.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Routing_Form_Submissions</targetReference>
            </connector>
            <label>Still Within Limit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Action Flow: Update Calendly Actions with Routing Form Submissiosn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action Flow: Update Calendly Actions with Routing Form Submissions</label>
    <loops>
        <name>Loop_Calendly_Actions</name>
        <label>Loop Calendly Actions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Calendly_Actions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Calendly_Actions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Calendly_Actions</name>
        <label>Get Calendly Actions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Calendly_Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__FormSubmissionUUID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CalendlyRoutingFormSubmission__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Calendly__CalendlyAction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Routing_Form_Submissions</name>
        <label>Get Routing Form Submissions</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_Routing_From_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__FormSubmissionUUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Calendly_Actions.Calendly__FormSubmissionUUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendly__CalendlyRoutingFormSubmission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Calendly_Actions</name>
        <label>Update Calendly Actions</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <inputReference>CalendlyActionCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Calendly_Actions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CalendlyActionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calendly__CalendlyAction__c</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
