force-app/main/default/flows/Action_Flow_Post_Work_Log_s_Work_Description_to_Chatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_to_Plain_Text_Action</name>
        <label>Convert to Plain Text Action</label>
        <locationX>550</locationX>
        <locationY>674</locationY>
        <actionName>ConvertToPlainText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_We_Still_Within_Limit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>richTextInput</name>
            <value>
                <elementReference>RichWorkDescription</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertToPlainText</nameSegment>
        <outputParameters>
            <assignToReference>PlainWorkDescription</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_Parent</name>
        <label>Post to Chatter (Parent)</label>
        <locationX>264</locationX>
        <locationY>1322</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Add_Work_Log_to_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PlainWorkDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Loop_Work_Logs.Parent_Project__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_Project</name>
        <label>Post to Chatter (Project)</label>
        <locationX>396</locationX>
        <locationY>890</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Assign_Feed_Item_ID_to_Work_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PlainWorkDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Loop_Work_Logs.Project__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Work_Log_to_Collection</name>
        <label>Add Work Log to Collection</label>
        <locationX>396</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>WorkLogCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Work_Logs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Work_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Feed_Item_ID_to_Work_Log</name>
        <label>Assign Feed Item ID to Work Log</label>
        <locationX>396</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Loop_Work_Logs.Chatter_Feed_Item_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Log_Have_a_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Description_to_Variable</name>
        <label>Assign Work Description to Variable</label>
        <locationX>759</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RichWorkDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Work_Logs.Work_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Work_Description_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>759</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Work_Description_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter_Again</name>
        <label>Increment Counter Again</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Chatter_Parent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_We_Still_Within_Limit</name>
        <label>Are We Still Within Limit?</label>
        <locationX>550</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Work_Logs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Limit Exceeded</defaultConnectorLabel>
        <rules>
            <name>Within_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_Project</targetReference>
            </connector>
            <label>Within Limit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Log_Have_a_Parent</name>
        <label>Does Log Have a Parent?</label>
        <locationX>396</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Add_Work_Log_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Log_has_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Work_Logs.Parent_Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter_Again</targetReference>
            </connector>
            <label>Log has Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Work_Description_Populated</name>
        <label>Is Work Description Populated?</label>
        <locationX>759</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Work_Logs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Work Description is Empty</defaultConnectorLabel>
        <rules>
            <name>Work_Description_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RichWorkDescription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_to_Plain_Text_Action</targetReference>
            </connector>
            <label>Work Description is Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Action Flow: Post Work Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action Flow: Post Work Log&apos;s Work Description to Chatter</label>
    <loops>
        <name>Loop_Work_Logs</name>
        <label>Loop Work Logs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Work_Logs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Work_Logs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work_Logs</name>
        <label>Get Work Logs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Work_Logs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Chatter_Feed_Item_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Work_Log__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Logs</name>
        <label>Update Work Logs</label>
        <locationX>176</locationX>
        <locationY>1874</locationY>
        <inputReference>WorkLogCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Logs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>FeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PlainWorkDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RichWorkDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkLogCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Work_Log__c</objectType>
    </variables>
</Flow>
