force-app/main/default/flows/Action_Flow_Populate_Country_on_All_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_User_Record_to_Collection</name>
        <label>Add User Record to Collection</label>
        <locationX>660</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>userCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Denmark_to_User</name>
        <label>Assign Denmark to User</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Users.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denmark</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Team_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Spain_to_User</name>
        <label>Assign Spain to User</label>
        <locationX>792</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Users.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spain</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Team_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sweden_to_User</name>
        <label>Assign Sweden to User</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Users.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sweden</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Team_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Team</name>
        <label>Assign Value to Team</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_Users.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Team_Empty</name>
        <label>Is Team Empty?</label>
        <locationX>660</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Add_User_Record_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Users.Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_to_Team</targetReference>
            </connector>
            <label>Team is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_User_s_Location</name>
        <label>What is User&apos;s Location?</label>
        <locationX>660</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Denmark_to_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Location</defaultConnectorLabel>
        <rules>
            <name>Copenhagen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Users.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copenhagen (Headquarters)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Denmark_to_User</targetReference>
            </connector>
            <label>Copenhagen</label>
        </rules>
        <rules>
            <name>Malm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Users.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malmö</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sweden_to_User</targetReference>
            </connector>
            <label>Malmö</label>
        </rules>
        <rules>
            <name>Malaga</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Users.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaga</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Spain_to_User</targetReference>
            </connector>
            <label>Malaga</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Action Flow: Populate Country on All users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action Flow: Populate Country on All Users</label>
    <loops>
        <name>Loop_Users</name>
        <label>Loop Users</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_is_User_s_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0051t000002MycGAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005W5000001f3r0IAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005W5000001VzRdIAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0051t000002l3GnAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005W5000002vjc0IAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0051t00000370JoAAI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Users</name>
        <label>Update Users</label>
        <locationX>176</locationX>
        <locationY>1142</locationY>
        <inputReference>userCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>userCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
