force-app/main/default/flows/Action_Flow_Mass_Create_Licenses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_License_Collection</name>
        <label>Add to License Collection</label>
        <locationX>704</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>outputLicenseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>licenseRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LicenseCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MonthlyCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_License_Type_Records.Monthly_Cost_Per_License_in_DKK__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_License_Type_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_Assignment</name>
        <label>Counter Assignment</label>
        <locationX>812</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>loopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_we_looped_through_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_License_Variable</name>
        <label>Populate License Variable</label>
        <locationX>836</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>licenseRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_License_Type_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>licenseRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>licenseRecord.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Employees.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>licenseRecord.Issue_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>licenseRecord.License_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_License_Type_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_License_Duplicate_Check</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Licenses</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Licenses</label>
        <locationX>680</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Licenses</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_License_Types_for_Role</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Licenses.Applicable_Roles__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Loop_Employees.Role__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Did_we_find_any_License_Types</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Did_we_find_any_License_Types</name>
        <label>Did we find any License Types?</label>
        <locationX>680</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>License_Types_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Licenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_License_Type_Records</targetReference>
            </connector>
            <label>License Types Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_we_looped_through_10</name>
        <label>Have we looped through 10?</label>
        <locationX>812</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_License_Records_from_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End flow</defaultConnectorLabel>
        <rules>
            <name>No_continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_License_Types_for_Role</targetReference>
            </connector>
            <label>No, continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_duplicate</name>
        <label>Is it a duplicate?</label>
        <locationX>836</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Loop_License_Type_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Original</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_License_Duplicate_Check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_License_Collection</targetReference>
            </connector>
            <label>Original</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Action Flow: Mass Create Licenses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action Flow: Mass Create Licenses</label>
    <loops>
        <name>Loop_Employees</name>
        <label>Loop Employees</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Employees_without_Licenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counter_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_License_Records_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_License_Type_Records</name>
        <label>Loop License Type Records</label>
        <locationX>616</locationX>
        <locationY>890</locationY>
        <collectionReference>Filter_Licenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_License_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Employees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_License_Records_from_Collection</name>
        <label>Create License Records from Collection</label>
        <locationX>176</locationX>
        <locationY>1850</locationY>
        <inputReference>outputLicenseCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employees_without_Licenses</name>
        <label>Get Employees without Licenses</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Employees</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <dateTimeValue>2024-07-11T22:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>Employment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_Licenses__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SFDC_Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_License_Duplicate_Check</name>
        <label>Get License (Duplicate Check)</label>
        <locationX>836</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_a_duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>licenseRecord.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>License_Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>licenseRecord.License_Provider__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>licenseRecord.Employee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>License__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_License_Types_for_Role</name>
        <label>Get License Types for Role</label>
        <locationX>680</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Licenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>License_Type_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>License_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employees_without_Licenses</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Licenses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>License_Type__c</objectType>
    </variables>
    <variables>
        <name>inputEmployeeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SFDC_Employee__c</objectType>
    </variables>
    <variables>
        <name>inputLicenseTypeRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>License_Type__c</objectType>
    </variables>
    <variables>
        <name>LicenseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>licenseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>License__c</objectType>
    </variables>
    <variables>
        <name>loopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MonthlyCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outputLicenseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>License__c</objectType>
    </variables>
</Flow>
