force-app/main/default/flows/AL_Aggregate_Lead_Product_Quantities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_to_Product_Quantities</name>
        <label>Count to Product Quantities</label>
        <locationX>402</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>QtyTestamente</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fr_AddToTestamente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyFremtidsfuldmagt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fr_AddToFremtidsfuldmagt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyGeneralfuldmagt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fr_AddToGeneralfuldmagt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyAegtepagt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fr_AddToAegtepagt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyFremtidsfuldmagtKundefordel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fr_AddToKundefordelFremtidsfuldmagt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QtyKundefordelGeneralfuldmagt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fr_AddToKundefordelGeneraluldmagt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lead_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>794</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_Discount_Products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Discount Products</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Discount_Products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Lead_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Discount_Products.Is_Discount_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Do_We_Have_Any_Discount_Products</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_non_discount_Products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for non-discount Products</label>
        <locationX>314</locationX>
        <locationY>698</locationY>
        <assignNextValueToReference>currentItem_Filter_for_non_discount_Products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Lead_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_non_discount_Products.Is_Discount_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Lead_Products</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Do_We_Have_Any_Discount_Products</name>
        <label>Do We Have Any Discount Products?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Filter_for_non_discount_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_Products_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_for_Discount_Products</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Discount_Products</targetReference>
            </connector>
            <label>Discount Products Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fr_AddToAegtepagt</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!Get_Products.Product_Identifier__c} = &quot;AP&quot;, 
  {!Loop_Lead_Products.Quantity__c},
  0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fr_AddToFremtidsfuldmagt</name>
        <dataType>Number</dataType>
        <expression>IF(
  OR(
    {!Get_Products.Product_Identifier__c} = &quot;FF&quot;, 
    {!Get_Products.Product_Identifier__c} = &quot;FFV&quot;
  ),
  {!Loop_Lead_Products.Quantity__c},
  0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fr_AddToGeneralfuldmagt</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!Get_Products.Product_Identifier__c} = &quot;GF&quot;, 
  {!Loop_Lead_Products.Quantity__c},
  0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fr_AddToKundefordelFremtidsfuldmagt</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!Get_Products.Product_Identifier__c} = &quot;FFK&quot;, 
  {!Loop_Lead_Products.Quantity__c},
  0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fr_AddToKundefordelGeneraluldmagt</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!Get_Products.Product_Identifier__c} = &quot;GFK&quot;, 
  {!Loop_Lead_Products.Quantity__c},
  0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fr_AddToTestamente</name>
        <dataType>Number</dataType>
        <expression>IF(
  OR(
    {!Get_Products.Product_Identifier__c} = &quot;TS&quot;, 
    {!Get_Products.Product_Identifier__c} = &quot;30T&quot;
  ),
  {!Loop_Lead_Products.Quantity__c},
  0
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AL - Aggregate Lead Product Quantities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Aggregate Lead Product Quantities</label>
    <loops>
        <name>Loop_Lead_Products</name>
        <label>Loop Lead Products</label>
        <locationX>314</locationX>
        <locationY>806</locationY>
        <collectionReference>Filter_for_non_discount_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Products</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Existing_Discount_Products</name>
        <label>Delete Existing Discount Products</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Filter_for_non_discount_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputLead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Discount_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LeadProducts__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Lead_Products</name>
        <label>Get Lead Products</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_for_Discount_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputLead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeadProducts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>402</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_to_Product_Quantities</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Lead_Products.Product_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>794</locationX>
        <locationY>350</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>AL - Add Bundle Discounts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>inputLead.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Filter_for_Discount_Products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadProducts__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_non_discount_Products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeadProducts__c</objectType>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>QtyAegtepagt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QtyFremtidsfuldmagt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QtyFremtidsfuldmagtKundefordel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QtyGeneralfuldmagt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QtyKundefordelGeneralfuldmagt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QtyTestamente</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
