force-app/main/default/flows/AL_Create_Customer_Reference_from_Input_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Account_s_ID_as_Record_ID</name>
        <label>Assign Account&apos;s ID as Record ID</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_s_ID_as_Record_ID</name>
        <label>Assign Lead&apos;s ID as Record ID</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringLead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Lead_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Account_Values</name>
        <label>Populate Account Values</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringAccount.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringAccount.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringAccount.telegenta__Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringAccount.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarketUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringAccount.Market_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerReference.Referring_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Customer_Reference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_IsSuccess_to_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_Input_Record</name>
        <label>Populate Custom Error with Invalid Input Record</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Input Record: Flow Accepts Lead, Account or Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_IsSuccess_to_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Missing_New_Lead_Record_Variable</name>
        <label>Populate Custom Error with Missing New Lead Record Variable</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Record Variable Containing the Newly Created Lead is Required for this flow to run</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_IsSuccess_to_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Customer_Reference</name>
        <label>Populate Customer Reference</label>
        <locationX>842</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>CustomerReference.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerReference.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerReference.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerReference.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerReference.Is_Gift_Card_Referral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputIsGiftCardReferral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerReference.Market_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerReference.Is_From_Marketing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputIsFromMarketing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerReference.Created_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCreatedLead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Customer_Reference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lead_Values</name>
        <label>Populate Lead Values</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>inputReferringLead.Reference_givet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputReferringLead.Date_of_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringLead.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringLead.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringLead.Phone_Formatted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringLead.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarketUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReferringLead.Market_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerReference.Referring_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Opportunity_s_Account_s_Values</name>
        <label>Populate Opportunity&apos;s Account&apos;s Values</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputOpportunity.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputOpportunity.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputOpportunity.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputOpportunity.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarketUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputOpportunity.Account.Market_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputOpportunity.Achieved_Outcomes__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Reference Lead Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerReference.From_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Record_ID_with_Opportunity_s_Account_s_ID</name>
        <label>Populate Record ID with Opportunity&apos;s Account&apos;s ID</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IsSuccess_to_False</name>
        <label>Set IsSuccess to False</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_IsSuccess_to_True</name>
        <label>Set IsSuccess to True</label>
        <locationX>842</locationX>
        <locationY>1256</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Do_We_Have_a_Record_Variable_for_the_Newly_Created_Lead</name>
        <label>Do We Have a Record Variable for the Newly Created Lead?</label>
        <locationX>1502</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Missing_New_Lead_Record_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_New_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCreatedLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Reference_from_Lead_or_Account</targetReference>
            </connector>
            <label>Got New Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reference_from_Lead_or_Account</name>
        <label>Is Reference from Lead or Account?</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Invalid_Input_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Opportunity_s_Account_s_Values</targetReference>
            </connector>
            <label>From Opportunity</label>
        </rules>
        <rules>
            <name>From_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputReferringAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_s_ID_as_Record_ID</targetReference>
            </connector>
            <label>From Account</label>
        </rules>
        <rules>
            <name>From_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputReferringLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_s_ID_as_Record_ID</targetReference>
            </connector>
            <label>From Lead</label>
        </rules>
    </decisions>
    <description>Updated to Set &quot;Referring Lead&quot; using the input referring_lead variable (should&apos;ve always done this, but was an oversigt)</description>
    <environments>Default</environments>
    <interviewLabel>AL - Create Customer Reference from Input Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Create Customer Reference from Input Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Reference</name>
        <label>Create Customer Reference</label>
        <locationX>842</locationX>
        <locationY>1148</locationY>
        <connector>
            <targetReference>Set_IsSuccess_to_True</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>CustomerReference</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Populate_Account_Values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Reference__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Given__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Populate_Customer_Reference</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>inputReferringLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Populate_Record_ID_with_Opportunity_s_Account_s_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>inputOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_We_Have_a_Record_Variable_for_the_Newly_Created_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerReference</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Reference__c</objectType>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputCreatedLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>inputIsFromMarketing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputIsGiftCardReferral</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>inputReferringAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>inputReferringLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MarketUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
