force-app/main/default/flows/AL_Cancel_Customer_s_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Output_Confirmation</name>
        <label>Assign Output Confirmation</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputRemainingTickets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmRemainingTickets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCancellationReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Reason_for_Cancellation__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Campaign_Member</name>
        <label>Assign Values to Campaign Member</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Cancelled_tickets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputNumberOfTicketsToCancel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Booking_cancellation_method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chatbot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Reason_for_Cancellation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCancellationReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Tickets_in_Variable</name>
        <label>Set Current Tickets in Variable</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>numCurrentTickets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Remaining_Tickets__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_We_Have_a_Related_Lead_or_Related_Contact</name>
        <label>Do We Have a Related Lead or Related Contact?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Related_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.LeadOrContactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Got Related Lead</label>
        </rules>
        <rules>
            <name>Got_Related_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.LeadOrContactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Got Related Contact</label>
        </rules>
    </decisions>
    <description>Run this flow to cancel a customer&apos;s booking</description>
    <environments>Default</environments>
    <formulas>
        <name>frmRemainingTickets</name>
        <dataType>Number</dataType>
        <expression>MAX({!numCurrentTickets} - {!inputNumberOfTicketsToCancel}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AL - Cancel Customer&apos;s Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Cancel Customer&apos;s Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Current_Tickets_in_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Output_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.LeadOrContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancelled_Tickets__c</field>
            <value>
                <elementReference>inputNumberOfTicketsToCancel</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member</name>
        <label>Update Campaign Member</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Do_We_Have_a_Related_Lead_or_Related_Contact</targetReference>
        </connector>
        <inputReference>Get_Campaign_Member</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Output_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.LeadOrContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancelled_tickets__c</field>
            <value>
                <elementReference>inputNumberOfTicketsToCancel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Cancellation__c</field>
            <value>
                <elementReference>inputCancellationReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>booking_cancellation_method__c</field>
            <value>
                <stringValue>Chatbot</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputCampaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If we get a specific reason from the customer for their reason for cancelling their booking, it is stored in this variable.</description>
        <name>inputCancellationReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the amount of tickets the customer wishes to cancel.</description>
        <name>inputNumberOfTicketsToCancel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>numCurrentTickets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outputCancellationReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputRemainingTickets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
