force-app/main/default/flows/AL_Create_Form_Submission_from_Input_Campaign_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Form_Submission_to_Collection_and_Count</name>
        <label>Add Form Submission to Collection and Count</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FormSubmissionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormSubmission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormSubmissionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FormSubmissionCollection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Form_Submission_to_Variable</name>
        <label>Assign Form Submission to Variable</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>FormSubmission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form_Submission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Form_Submission_to_Collection_and_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>704</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>AvoidInheritanceTax</name>
        <dataType>String</dataType>
        <expression>IF({!inputAvoidInheritanceTax}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>AvoidPartnerPayout</name>
        <dataType>String</dataType>
        <expression>IF({!inputAvoidPartnerPayout}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>AvoidUnequalInheritance</name>
        <dataType>String</dataType>
        <expression>IF({!inputAvoidUnequalInheritance}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>ControlWhoInherits</name>
        <dataType>String</dataType>
        <expression>IF({!inputControlWhoInherits}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>DoNotContact</name>
        <dataType>String</dataType>
        <expression>IF({!inputDoNotContact}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>ExistingDocumentCheck</name>
        <dataType>String</dataType>
        <expression>IF({!inputExistingDocumentCheck}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>FuturePoACustomerBenefit</name>
        <dataType>String</dataType>
        <expression>IF({!inputFuturePoACustomerBenefit}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>FuturePowerOfAttorney</name>
        <dataType>String</dataType>
        <expression>IF({!inputFuturePowerOfAttorney}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>GeneralPowerOfAttorney</name>
        <dataType>String</dataType>
        <expression>IF({!inputGeneralPowerOfAttorney}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>GiftCardForReferral</name>
        <dataType>String</dataType>
        <expression>IF({!inputGiftCardForReferral}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>PensionCheck</name>
        <dataType>String</dataType>
        <expression>IF({!inputPensionCheck}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>PrenupToProtectSpouse</name>
        <dataType>String</dataType>
        <expression>IF({!inputPrenupToProtectSpouse}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>SecureChildrensFuture</name>
        <dataType>String</dataType>
        <expression>IF({!inputSecureChildrensFuture}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>SeparatePropertyForKids</name>
        <dataType>String</dataType>
        <expression>IF({!inputSeparatePropertyForKids}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetConditionsOnInheritance</name>
        <dataType>String</dataType>
        <expression>IF({!inputSetConditionsOnInheritance}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>TransferRealEstate</name>
        <dataType>String</dataType>
        <expression>IF({!inputTransferRealEstate}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>AL - Create Form Submission from Input Campaign Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Create Form Submission from Input Campaign Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Form_Submission</name>
        <label>Create Form Submission</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>FormSubmissionId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Form_Submission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>inputCampaignMember.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Member_ID__c</field>
            <value>
                <elementReference>inputCampaignMember.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>inputCampaignMember.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>inputComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Contact__c</field>
            <value>
                <elementReference>inputDoNotContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>inputCampaignMember.External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Name__c</field>
            <value>
                <elementReference>inputCampaignMember.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Registration_Form_Logged_Manually__c</field>
            <value>
                <elementReference>inputManuallyLogged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>inputCampaignMember.LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Unit__c</field>
            <value>
                <elementReference>inputCampaignMember.Market_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_s_First_Name__c</field>
            <value>
                <elementReference>inputPartnerFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_s_Last_Name__c</field>
            <value>
                <elementReference>inputPartnerLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_s_Phone_Number__c</field>
            <value>
                <elementReference>inputPartnerPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>inputSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>inputFormSubmissionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_Existing_Documents_Checked__c</field>
            <value>
                <elementReference>ExistingDocumentCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_Future_PoA_Customer_Benefit__c</field>
            <value>
                <elementReference>FuturePoACustomerBenefit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_Future_Power_of_Attorney__c</field>
            <value>
                <elementReference>FuturePowerOfAttorney</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_General_Power_of_Attorney__c</field>
            <value>
                <elementReference>GeneralPowerOfAttorney</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_Pension_Check__c</field>
            <value>
                <elementReference>PensionCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_Separate_Property_for_Their_Kids__c</field>
            <value>
                <elementReference>SeparatePropertyForKids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_a_Prenup_to_Protect_Their_Spouse__c</field>
            <value>
                <elementReference>PrenupToProtectSpouse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_to_Avoid_Inheritance_Tax__c</field>
            <value>
                <elementReference>AvoidInheritanceTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_to_Avoid_Partner_Payout_When_I_Die__c</field>
            <value>
                <elementReference>AvoidPartnerPayout</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_to_Avoid_Unequal_Inheritance__c</field>
            <value>
                <elementReference>AvoidUnequalInheritance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_to_Control_Who_Inherits__c</field>
            <value>
                <elementReference>ControlWhoInherits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_to_Provide_Gift_Card_for_Referral__c</field>
            <value>
                <elementReference>GiftCardForReferral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_to_Secure_Childrens_Future__c</field>
            <value>
                <elementReference>SecureChildrensFuture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_to_Set_Conditions_on_Inheritance__c</field>
            <value>
                <elementReference>SetConditionsOnInheritance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wants_to_Transfer_Real_Estate__c</field>
            <value>
                <elementReference>TransferRealEstate</elementReference>
            </value>
        </inputAssignments>
        <object>Form_Submission__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Form_Submission</name>
        <label>Get Form Submission</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Form_Submission_to_Variable</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormSubmissionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Form_Submission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Error_Email_from_Input_Values</name>
        <label>Send Error Email from Input Values</label>
        <locationX>704</locationX>
        <locationY>350</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>AL - Create Form Submission from Input Campaign Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>inputCampaignMember.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormSubmission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_Submission__c</objectType>
    </variables>
    <variables>
        <name>FormSubmissionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Form_Submission__c</objectType>
    </variables>
    <variables>
        <name>FormSubmissionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FormSubmissionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputAvoidInheritanceTax</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputAvoidPartnerPayout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputAvoidUnequalInheritance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>inputComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputControlWhoInherits</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputDoNotContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputExistingDocumentCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputFormSubmissionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFuturePoACustomerBenefit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFuturePowerOfAttorney</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputGeneralPowerOfAttorney</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputGiftCardForReferral</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputManuallyLogged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputPartnerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPartnerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPartnerPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPensionCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPrenupToProtectSpouse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputSecureChildrensFuture</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputSeparatePropertyForKids</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputSetConditionsOnInheritance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTransferRealEstate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
