force-app/main/default/flows/AL_Create_SMS_Conversation_from_Input_Variables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_IsSuccess_False</name>
        <label>Assign IsSuccess False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_IsSuccess_True</name>
        <label>Assign IsSuccess True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IsSuccess_False</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_already_an_Open_Conversation</name>
        <label>Is there already an Open Conversation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_SMS_Conversation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Open_Conversation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SMS_Conversation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IsSuccess_True</targetReference>
            </connector>
            <label>Got Open Conversation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AL - Create SMS Conversation from Input Variables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Create SMS Conversation from Input Variables</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS_Conversation</name>
        <label>Create SMS Conversation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>outputSmsConversationId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_IsSuccess_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Conversation_Type__c</field>
            <value>
                <elementReference>inputConversationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Keyword_Reply_Expected__c</field>
            <value>
                <elementReference>inputIsKeyWordReplyExpected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Unit__c</field>
            <value>
                <elementReference>inputMarketUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>inputPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_ID__c</field>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid_Keywords__c</field>
            <value>
                <elementReference>inputKeywordString</elementReference>
            </value>
        </inputAssignments>
        <object>SMS_Conversation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_SMS_Conversation</name>
        <label>Get SMS Conversation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_already_an_Open_Conversation</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR (4 AND 5))</filterLogic>
        <filters>
            <field>Conversation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputConversationType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Response_Evaluation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SMS_Conversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SMS_Conversation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputConversationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputIsKeyWordReplyExpected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputKeywordString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputMarketUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>outputSmsConversationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SmsConversation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS_Conversation__c</objectType>
    </variables>
</Flow>
