force-app/main/default/flows/AL_Create_Record_Trail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Trail_Name</name>
        <label>Assign Trail Name</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>TrailName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptTrailName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Object_Does_the_Record_ID_Point_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Account_Lookup</name>
        <label>Populate Account Lookup</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RecordTrail.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Record_Trail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Campaign_Lookup</name>
        <label>Populate Campaign Lookup</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RecordTrail.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Record_Trail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Contact_Lookup</name>
        <label>Populate Contact Lookup</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RecordTrail.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Record_Trail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Journal_Lookup</name>
        <label>Populate Journal Lookup</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RecordTrail.Journal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Record_Trail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lead_Lookup</name>
        <label>Populate Lead Lookup</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RecordTrail.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Record_Trail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Order_Lookup</name>
        <label>Populate Order Lookup</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RecordTrail.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Record_Trail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Record_Trail</name>
        <label>Populate Record Trail</label>
        <locationX>842</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>RecordTrail.Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputChangeType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTrail.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimmedTrailName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTrail.Record_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTrail.Name_of_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputNameOfFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTrail.Flow_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputFlowId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTrail.Change_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputChangeLogText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_We_Have_Required_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_We_Have_Required_Values</name>
        <label>Do We Have Required Values?</label>
        <locationX>842</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Required_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTrail.Change_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTrail.Record_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTrail.Change_Type__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTrail.Record_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_Trail</targetReference>
            </connector>
            <label>Got Required Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Object_Does_the_Record_ID_Point_to</name>
        <label>Which Object Does the Record ID Point to?</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Populate_Record_Trail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lead_Lookup</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Account_Lookup</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Order_Lookup</targetReference>
            </connector>
            <label>Order</label>
        </rules>
        <rules>
            <name>Journal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Journal_Lookup</targetReference>
            </connector>
            <label>Journal</label>
        </rules>
        <rules>
            <name>Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Campaign_Lookup</targetReference>
            </connector>
            <label>Campaign</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Contact_Lookup</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TrimmedTrailName</name>
        <dataType>String</dataType>
        <expression>LEFT({!TrailName}, 80) &amp; IF(LEN({!TrailName}) &gt; 80, &quot;...&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>AL - Create Record Trail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Create Record Trail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Record_Trail</name>
        <label>Create Record Trail</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <inputReference>RecordTrail</inputReference>
    </recordCreates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Trail_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ptTrailName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!inputChangeType} by {!inputNameOfFlow} ({!inputRecordId})</text>
    </textTemplates>
    <variables>
        <name>inputChangeLogText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputChangeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputNameOfFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTrail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Record_Trail__c</objectType>
    </variables>
    <variables>
        <name>TrailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
