force-app/main/default/flows/AL_Create_Assets_from_Input_Order_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Assets_from_Order</name>
        <label>Create Assets from Order</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>OrderAssetCreator</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderAssetCreator</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assets_Created_on_Order</name>
        <label>Set &quot;Assets Created&quot; on Order</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Order.Assets_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_any_Assets</name>
        <label>Did We Find any Assets?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Assets_from_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assets_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assets</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assets_Created_on_Order</targetReference>
            </connector>
            <label>Assets Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Order_have_a_Journal</name>
        <label>Does Order have a Journal?</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Journal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Journal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assets</targetReference>
            </connector>
            <label>Journal Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision filters out the User &quot;Invoice Receiver Site Guest User&quot; based on its alias &quot;guest&quot;</description>
        <name>Is_Current_User_Valid_to_Proceed</name>
        <label>Is Current User Valid to Proceed?</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Order_have_a_Journal</targetReference>
            </connector>
            <label>User is Valid</label>
        </rules>
    </decisions>
    <description>Updated flow to run as system, to get around issue with the guest user &quot;Invoice Receiver Site Guest User&quot; getting an error when creating additional orders on account</description>
    <environments>Default</environments>
    <interviewLabel>AL - Create Assets from Input Order Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Create Assets from Input Order Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assets</name>
        <label>Get Assets</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_any_Assets</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Order</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Current_User_Valid_to_Proceed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>AL - Create Assets from Input Order Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
