force-app/main/default/flows/AL_Find_Potential_Lectures.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Danish_Values</name>
        <label>Assign Danish Values</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>MarketUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DFJ_DK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fault_Outcome_Invalid_Country</name>
        <label>Assign Fault Outcome Invalid Country</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>outputFaultOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Country &quot;{!inputCountry}&quot;. Supported Values are Denmark, Sweden and Ireland.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Irish_Values</name>
        <label>Assign Irish Values</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>MarketUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ireland</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Swedish_Values</name>
        <label>Assign Swedish Values</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>MarketUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FA_SE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Events</name>
        <label>Count Events</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>CampaignCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CampaignCollection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Which_Country_is_Set</name>
        <label>Which Country is Set?</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Fault_Outcome_Invalid_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Denmark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denmark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Danish_Values</targetReference>
            </connector>
            <label>Denmark</label>
        </rules>
        <rules>
            <name>Sweden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Swedish_Values</targetReference>
            </connector>
            <label>Sweden</label>
        </rules>
        <rules>
            <name>Ireland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Irish_Values</targetReference>
            </connector>
            <label>Ireland</label>
        </rules>
    </decisions>
    <description>A simplified version that just finds all future lectures in the country, in an attempt to have the Agent pick interesting ones.</description>
    <environments>Default</environments>
    <interviewLabel>AL - Find Potential Campaigns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Find Potential Lectures</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaigns</name>
        <label>Get Campaigns</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Events</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Booking_Percentage__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>97.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Market_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarketUnit</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Host_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Restaurant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Host_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hotel</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>CampaignCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start__c</queriedFields>
        <queriedFields>Lecturer_Name__c</queriedFields>
        <queriedFields>Host_Address__City__s</queriedFields>
        <queriedFields>Host_Address__PostalCode__s</queriedFields>
        <queriedFields>Host_Address__Street__s</queriedFields>
        <queriedFields>Venue__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Country_is_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inputCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MarketUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputFaultOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
