force-app/main/default/flows/AL_Find_Available_Host_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Available_Account_to_Variable</name>
        <label>Add Available Account to Variable</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>outputAvailableAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Counter</name>
        <label>Add to Counter</label>
        <locationX>550</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_we_within_Limits</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_Current_Account_s_Campaigns</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Current Account&apos;s Campaigns</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Current_Host_s_Campaigns</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Campaigns</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Current_Host_s_Campaigns.Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Accounts.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Did_we_find_anything</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_by_Rating</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort by Rating</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>outputAvailableAccounts</collectionReference>
        <limit>100</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Host_Rating__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Are_we_within_Limits</name>
        <label>Are we within Limits?</label>
        <locationX>550</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Still_within_limits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>125.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_for_Current_Account_s_Campaigns</targetReference>
            </connector>
            <label>Still within limits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_find_anything</name>
        <label>Did we find anything?</label>
        <locationX>396</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unavailable</defaultConnectorLabel>
        <rules>
            <name>Host_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_for_Current_Account_s_Campaigns</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Available_Account_to_Variable</targetReference>
            </connector>
            <label>Host is Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmDateToCheckMinusProximityValue</name>
        <dataType>Date</dataType>
        <expression>{!inputDateToCheck}-{!inputProximityValue}</expression>
    </formulas>
    <formulas>
        <name>frmDateToCheckPlusProximityValue</name>
        <dataType>Date</dataType>
        <expression>{!inputDateToCheck}+{!inputProximityValue}</expression>
    </formulas>
    <interviewLabel>AL - Find Available Host Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Find Available Host Accounts</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_by_Rating</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Finds Host Accounts Matching Criteria</description>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputMarketUnit</elementReference>
            </value>
        </filters>
        <filters>
            <field>Host_Rating__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Capacity__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Host_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Host_Rating__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaigns</name>
        <label>Get Campaigns</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <filterLogic>(1 OR 4) AND 2 AND 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>frmDateToCheckPlusProximityValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>frmDateToCheckMinusProximityValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Current_Host_s_Campaigns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>inputDateToCheck</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputMarketUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputProximityValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberOfAvailableHosts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outputAvailableAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
