force-app/main/default/flows/AL_Get_Create_Calendly_Event_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>teknik@dinfamiliejurist.dk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@dinfamiliejurist.dk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Unknown Calendly Event Type</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>rtEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Event_Type_to_Variable</name>
        <label>Assign Existing Event Type to Variable</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Calendly_Event_Type</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Event_Type_Record_Variable</name>
        <label>Populate Event Type Record Variable</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCalendlyAction.Calendly__EventTypeName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType.Event_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCalendlyAction.Calendly__EventTypeDuration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType.Event_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCalendlyAction.Calendly__EventTypeKind__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType.Event_Slug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCalendlyAction.Calendly__EventTypeSlug__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType.Question_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCalendlyAction.Calendly__CustomQuestion1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType.Question_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCalendlyAction.Calendly__CustomQuestion2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType.Question_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCalendlyAction.Calendly__CustomQuestion3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCalendlyAction.Calendly__EventDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCalendlyAction.Calendly__Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Calendly_Event_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Time_of_Most_Recent_Booking_on_Calendly_Event_Type</name>
        <label>Set Time of Most Recent Booking on Calendly Event Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>outputCalendlyEventType.Time_of_Most_Recent_Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCalendlyAction.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Calendly_Event_Type_Exist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Calendly_Event_Type_Exist</name>
        <label>Does Calendly Event Type Exist?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Populate_Event_Type_Record_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Event Type</defaultConnectorLabel>
        <rules>
            <name>Event_Type_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Calendly_Event_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Event_Type_to_Variable</targetReference>
            </connector>
            <label>Event Type Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AL - Get/Create Calendly Event Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Get/Create Calendly Event Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Calendly_Event_Type</name>
        <label>Create Calendly Event Type</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>outputCalendlyEventType</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Calendly_Event_Type</name>
        <label>Get Calendly Event Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Time_of_Most_Recent_Booking_on_Calendly_Event_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Slug__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCalendlyAction.Calendly__EventTypeSlug__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendly_Event_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Calendly_Event_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Send_Error_Email_from_Input_Values</name>
        <label>Send Error Email from Input Values</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>AL - Create Calendly Event Type</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>inputCalendlyAction.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>rtEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;An unknown event was booked.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;A record has been created for it - &lt;a href=&quot;https://dfj.lightning.force.com/lightning/r/{!outputCalendlyEventType.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please update UTM and Source values&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputCalendlyAction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Calendly__CalendlyAction__c</objectType>
    </variables>
    <variables>
        <name>outputCalendlyEventType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Calendly_Event_Type__c</objectType>
    </variables>
</Flow>
