force-app/main/default/flows/AL_Loop_Orders_on_an_Account_and_Update_Summary_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Product_Name_to_String_and_Count_Products</name>
        <label>Add Product Name to String and Count Products</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Products_Purchased__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Number_of_Products__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assign Combined Order Value to Account</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Sales_value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CombinedOrderValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Combined_Order_Price</name>
        <label>Calculate Combined Order Price</label>
        <locationX>264</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>CombinedOrderValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Orders.Order_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>1232</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <description>Takes an input Order and loops through all the related Account&apos;s Orders, and then populates the &quot;Products Purchased&quot; and &quot;Account Value&quot; fields</description>
    <environments>Default</environments>
    <formulas>
        <name>ProductName</name>
        <dataType>String</dataType>
        <expression>{!Loop_Order_Products.Product_Name__c}&amp;&quot;;&quot;</expression>
    </formulas>
    <interviewLabel>AL - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Loop Orders on an Account and Update Summary Fields</label>
    <loops>
        <name>Loop_Order_Products</name>
        <label>Loop Order Products</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_Name_to_String_and_Count_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Orders</name>
        <label>Loop Orders</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Combined_Order_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOrder.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOrder.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds all Orders related to the same Account</description>
        <name>Get_Orders</name>
        <label>Get Orders</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOrder.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Error_Email_from_Input_Values</name>
        <label>Send Error Email from Input Values</label>
        <locationX>1232</locationX>
        <locationY>350</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>AL - Loop Orders on an Account and Update Summary Fields</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>inputOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CombinedOrderValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>IsSubscriptionIncluded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderProductString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
