force-app/main/default/flows/AL_Send_Booking_Confirmation_to_Lecture_Attendee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_Start_Time</name>
        <label>Format Start Time</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <actionName>DFJ_TimeFormatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>What_is_the_Lecture_Country</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>formatKey</name>
            <value>
                <stringValue>LONG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>marketUnitKey</name>
            <value>
                <elementReference>Campaign.Market_Unit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>Campaign.Start__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DFJ_TimeFormatter</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Action</name>
        <label>Send Email Action</label>
        <locationX>50</locationX>
        <locationY>1664</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Do_We_Have_a_ToNumber</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ToAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <elementReference>SenderType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>inputRegistrationStaging.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Campaign_s_Values_to_Variables</name>
        <label>Assign Campaign&apos;s Values to Variables</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign.Host_Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Host_Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Host_Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Venue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Venue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Reg_Staging_Have_a_Related_Lead_Staging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_to_Variable</name>
        <label>Assign Campaign to Variable</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Campaign_s_Values_to_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Danish_Email_Values</name>
        <label>Assign Danish Email Values</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>foredrag@dinfamiliejurist.dk</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtEmailDanish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSubjectDanish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSmsDanish</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_We_Have_a_ToAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Irish_Email_Values</name>
        <label>Assign Irish Email Values</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>lectures@hereslaw.ie</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtEmailIrish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSubjectIrish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsBody</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Do_We_Have_a_ToAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Swedish_Email_Values</name>
        <label>Assign Swedish Email Values</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>foredrag@dinfamiljejurist.nu</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtEmailSwedish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSwedishSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSmsSwedish</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_We_Have_a_ToAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Cannot_Find_Campaign</name>
        <label>Populate Custom Error with Cannot Find Campaign</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Find Campaign with ID &quot;{!inputRegistrationStaging.Campaign__c}&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>1766</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_Market_Unit</name>
        <label>Populate Custom Error with Invalid Market Unit</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Market Unit. Market Unit: &quot;{!Campaign.Market_Unit__c}&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Missing_Values_Information</name>
        <label>Populate Custom Error with Missing Values Information</label>
        <locationX>578</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptMissingValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Default_Email_SMS_Values</name>
        <label>Populate Default Email &amp; SMS Values</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>SenderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfTickets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegistrationStaging.Booked_Tickets__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegistrationStaging.External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegistrationStaging.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegistrationStaging.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FromNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FamJurist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Format_Start_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_s_Contact_Info_in_Variables</name>
        <label>Set Lead&apos;s Contact Info in Variables</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegistrationStaging.Lead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!inputRegistrationStaging.Lead__r.FirstName} {!inputRegistrationStaging.Lead__r.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegistrationStaging.Lead__r.Phone_Formatted_No_Spaces__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Default_Email_SMS_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Stagings_Contact_Info_in_Variables</name>
        <label>Set Lead Stagings Contact Info in Variables</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegistrationStaging.Lead_Staging__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegistrationStaging.Lead_Staging__r.Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRegistrationStaging.Lead_Staging__r.Phone_Formatted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Default_Email_SMS_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_SMS_Send_Succeed</name>
        <label>Did SMS Send Succeed?</label>
        <locationX>380</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_Send_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSmsSendSubflowSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SMS Send Succeeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_a_Campaign</name>
        <label>Did We Find a Campaign?</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Cannot_Find_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_to_Variable</targetReference>
            </connector>
            <label>Campaign Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_a_ToAddress</name>
        <label>Do We Have a ToAddress?</label>
        <locationX>578</locationX>
        <locationY>1448</locationY>
        <defaultConnector>
            <targetReference>Do_We_Have_a_ToNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Address_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_We_Have_All_Necessary_Values</targetReference>
            </connector>
            <label>Email Address Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>TEMPORARILY HARD CODED TO SKIP IRELAND MARKET UNIT</description>
        <name>Do_We_Have_a_ToNumber</name>
        <label>Do We Have a ToNumber?</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ToNumber_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign.Market_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AL_Create_Outbound_SMS</targetReference>
            </connector>
            <label>ToNumber Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_All_Necessary_Values</name>
        <label>Do We Have All Necessary Values?</label>
        <locationX>314</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Missing_Values_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Necessary_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FromAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Action</targetReference>
            </connector>
            <label>Got Necessary Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Reg_Staging_Have_a_Related_Lead_Staging</name>
        <label>Does Reg. Staging Have a Related Lead Staging?</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_Lead_s_Contact_Info_in_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reg_Staging_has_Lead_Staging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRegistrationStaging.Lead_Staging__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Stagings_Contact_Info_in_Variables</targetReference>
            </connector>
            <label>Reg. Staging has Lead Staging</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Lecture_Country</name>
        <label>What is the Lecture Country?</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Invalid_Market_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Market Unit</defaultConnectorLabel>
        <rules>
            <name>Danish_Lecture</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Campaign.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Danish_Email_Values</targetReference>
            </connector>
            <label>Danish Lecture</label>
        </rules>
        <rules>
            <name>Swedish_Lecture</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Campaign.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA_SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Swedish_Email_Values</targetReference>
            </connector>
            <label>Swedish Lecture</label>
        </rules>
        <rules>
            <name>Irish_Lecture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Irish_Email_Values</targetReference>
            </connector>
            <label>Irish Lecture</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AL - Send Attendee Booking Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Send Booking Confirmation to Lecture Attendee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRegistrationStaging.Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Create_Outbound_SMS</name>
        <label>AL - Create Outbound SMS</label>
        <locationX>380</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Did_SMS_Send_Succeed</targetReference>
        </connector>
        <flowName>AL_Create_Outbound_SMS</flowName>
        <inputAssignments>
            <name>MarketUnit</name>
            <value>
                <elementReference>Campaign.Market_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>SmsBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendFrom</name>
            <value>
                <stringValue>Alphanumeric Sender ID</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ToNumber</name>
            <value>
                <elementReference>ToNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CustomError</assignToReference>
            <name>CustomError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsSmsSendSubflowSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values_Flow</name>
        <label>AL - Send Error Email from Input Values Flow</label>
        <locationX>1766</locationX>
        <locationY>350</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>AL - Send Booking Confirmation to Lecture Attendee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>inputRegistrationStaging.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ptMissingValues</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Some values are missing for sending a booking confirmation to the customer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;To Email Address:&lt;/strong&gt; {!ToAddress}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;From Email Address:&lt;/strong&gt; {!FromAddress}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Related Record ID:&lt;/strong&gt; {!RelatedRecordId}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dfj.lightning.force.com/lightning/r/{!RelatedRecordId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to Registration Staging&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ptSmsDanish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Kære {!CustomerName},

Tak for din tilmelding til foredrag om arv og testamente.
Dato: {!Format_Start_Time.formatted}.
Sted: {!Venue}
Adresse: {!Street}, {!ZipCode} {!City}

Vi glæder os til at se dig!
Med venlig hilsen, 
Din Familiejurist</text>
    </textTemplates>
    <textTemplates>
        <name>ptSmsIrish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!CustomerName},

Thank you for signing up for the lecture on inheritance and wills.
Date: {!Format_Start_Time.formatted}.
Place: {!Venue}
Address: {!Street}, {!ZipCode} {!City}

We look forward to seeing you!
Kind regards,
Heres Law</text>
    </textTemplates>
    <textTemplates>
        <name>ptSmsSwedish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hej {!CustomerName},

Tack för din anmälan till föreläsningen om arv og testamente.
Datum: {!Format_Start_Time.formatted}.
Plats: {!Venue}
Adress: {!Street}, {!ZipCode} {!City}

Vi ser fram emot att träffa dig!
Med vänliga hälsningar,
Din Familjejurist</text>
    </textTemplates>
    <textTemplates>
        <name>ptSubjectDanish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Tak for din tilmelding | Din Familiejurist</text>
    </textTemplates>
    <textTemplates>
        <name>ptSubjectIrish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We are delighted you are joining us | Wills &amp; Inheritance Talk, Wexford</text>
    </textTemplates>
    <textTemplates>
        <name>ptSwedishSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Tack för din anmälan | Din Familjejurist</text>
    </textTemplates>
    <textTemplates>
        <name>rtEmailDanish</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://dfj.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=068W500000GGGvi&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05TW500000JCkvy&amp;amp;page=0&amp;amp;d=/a/W5000003rfcn/n4YkKjPkLeJZ72a2WBdjYLI1hicg0r6u5HnYy8UbEqY&amp;amp;oid=00D1t000000w9f2&amp;amp;dpt=null&amp;amp;viewId=&quot; alt=&quot;dfj-logo (3).png&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Tak for din tilmelding!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Kære {!CustomerName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿Jeg glæder mig til at byde på middag og se dig til foredrag om, hvordan du bedst sikrer dig og din familie gennem arv og testamente {!Format_Start_Time.formatted}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Detaljer:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Antal billetter:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!NumberOfTickets}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Billetnummer:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!BookingId}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Sted: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Venue}, {!Street}, {!ZipCode} {!City}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;VIGTIGT: Afmelding hvis du bliver forhindret&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hvis dine planer ændrer sig, bedes du hurtigst muligt afmelde dig via &lt;/span&gt;&lt;a href=&quot;https://afmeld.dinfamiliejurist.dk/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;dette link&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Dette giver os mulighed for at tilbyde din plads til andre på ventelisten.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Med venlig hilsen,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Campaign.Lecturer_Name__c} fra Din Familiejurist&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;(I døren skal du blot sige dit navn, så finder vi din billet.)&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>rtEmailIrish</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://dfj.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=068W500000kidEU&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05TW500000roGCn&amp;amp;page=0&amp;amp;d=/a/W5000008UIkT/SDosJN8BgaECWtUsmttsyWqQ6UuZKd6h1op4ABa8kDY&amp;amp;oid=00D1t000000w9f2&amp;amp;dpt=null&amp;amp;viewId=&quot; alt=&quot;HeresLaw_Logo (1).png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thank you for your registration!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Dear {!CustomerName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); background-color: rgb(255, 255, 255); font-size: small; font-family: arial, sans-serif;&quot;&gt;Thank you so much for registering — we are delighted you will be joining us for our talk on how to best protect yourself and your family through wills, inheritance and future planning&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: small; font-family: arial, sans-serif;&quot;&gt;at&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Format_Start_Time.formatted}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We will begin the evening with a relaxed dinner, our treat, before moving on to the talk — a chance to enjoy good company and a bit of conversation before we get started.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Details:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Number of tickets:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!NumberOfTickets}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Ticket number:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!BookingId}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Venue:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Venue}, {!Street}, {!ZipCode} {!City}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;If you cannot make it&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;If your plans change, please cancel your registration as soon as possible by using the link below so we can offer your seat to someone on the waiting list.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://cancel.hereslaw.ie/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Cancel your registration&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Kind regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Campaign.Lecturer_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Heres Law&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;(At the door, just give your name — and I will have your ticket ready.)&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>rtEmailSwedish</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://dfj.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=068W500000NF6aw&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05TW500000R5dxX&amp;amp;page=0&amp;amp;d=/a/W5000003rg2b/jvsK20ytWS0BvDHOYs7gpXV7MJanCgTTqw_1Ec0imH8&amp;amp;oid=00D1t000000w9f2&amp;amp;dpt=null&amp;amp;viewId=&quot; alt=&quot;dfj-se-crop-underline&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Tack för din anmälan!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hej {!CustomerName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Jag ser fram emot att träffa dig på föredraget om hur du bäst tryggar dig själv och din familj genom arv och testamente &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Format_Start_Time.formatted}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Detaljer:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Antal biljetter:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!NumberOfTickets}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Biljettnummer:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!BookingId}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Plats:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Venue}, {!Street}, {!ZipCode} {!City}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;VIKTIGT: Avanmälan vid förhinder&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Om dina planer ändras, vänligen avanmäl dig så snart som möjligt via &lt;/span&gt;&lt;a href=&quot;https://dinfamiljejurist.se/avboka?id={!inputRegistrationStaging.External_ID__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;denna länk&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Detta gör att vi kan erbjuda din plats till andra som står i kö.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Jag ser fram emot att träffa dig!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Med vänliga hälsningar,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Campaign.Lecturer_Name__c} från Din Familjejurist&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;(Vid dörren behöver du bara säga ditt namn så hittar vi din biljett.)&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRegistrationStaging</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration_Staging__c</objectType>
    </variables>
    <variables>
        <name>IsSmsSendSubflowSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfTickets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SenderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SmsBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Venue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
