force-app/main/default/flows/AL_Send_SFMC_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GenerateToken</name>
        <label>GenerateMarketingCloudToken</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GenerateMarketingCloudToken</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values_for_Sending_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <stringValue>536006730</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authorizationURL</name>
            <value>
                <elementReference>AuthorizationUrl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientSecret</name>
            <value>
                <elementReference>ClientSecret</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scope</name>
            <value>
                <elementReference>Scope</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateMarketingCloudToken</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendEmailViaMC</name>
        <label>SendEmailViaMC</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>SendEmailViaMC</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apiEndpoint</name>
            <value>
                <elementReference>ApiEndpoint</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>definitionKey</name>
            <value>
                <elementReference>DefinitionKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeKey1</name>
            <value>
                <elementReference>MergeKey1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeKey2</name>
            <value>
                <elementReference>MergeKey2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeKey3</name>
            <value>
                <elementReference>MergeKey4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeKey4</name>
            <value>
                <elementReference>MergeKey4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeKey5</name>
            <value>
                <elementReference>MergeKey5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeValue1</name>
            <value>
                <elementReference>MergeValue1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeValue2</name>
            <value>
                <elementReference>MergeValue2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeValue3</name>
            <value>
                <elementReference>MergeValue3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeValue4</name>
            <value>
                <elementReference>MergeValue4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mergeValue5</name>
            <value>
                <elementReference>MergeValue5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>GenerateToken.responseObject.access_token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toRecipient</name>
            <value>
                <elementReference>ToEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailViaMC</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values_for_Generating_Token</name>
        <label>Assign Values for Generating Token</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Scope</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>email_read email_write email_send</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SfmcAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>536006730</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>774owv8fys3zf2qqw82iwmum</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientSecret</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>XefmhOmdjbSm8NguFgTai6e1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AuthorizationUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://mc1-5lym458dzjwrq1gt5ln503q0.auth.marketingcloudapis.com/v2/token</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GenerateToken</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>https://mc1-5lym458dzjwrq1gt5ln503q0.rest.marketingcloudapis.com/messaging/v1/email/messageDefinitionSends/key:test-triggered-send-marketing-dk/send</description>
        <name>Assign_Values_for_Sending_Email</name>
        <label>Assign Values for Sending Email</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ApiEndpoint</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://mc1-5lym458dzjwrq1gt5ln503q0.rest.marketingcloudapis.com/messaging/v1/email/messageDefinitionSends/definitionKey:test-triggered-send-marketing-dk/send</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefinitionKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>unique-key-test1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>mt@dinfamiliejurist.dk</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeKey1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FirstName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeKey2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LastName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeKey3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EmailAddress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeKey4</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RefId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeKey5</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SubscriberKey</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeValue1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mathias</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tonder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeValue3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>mathtc@gmail.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeValue4</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>subkey123</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeValue5</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REF-12345</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MC_Email_+{!$Flow.CurrentDateTime}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailViaMC</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AL - Send SFMC EMail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Send SFMC Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Values_for_Generating_Token</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ApiEndpoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientSecret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefinitionKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeKey1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeKey2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeKey3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeKey4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeKey5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeValue1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeValue2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeValue3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeValue4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MergeValue5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Scope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SfmcAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
