force-app/main/default/flows/AL_Set_Testamente_vs_Fremtidsfuldmagt_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Products_Purchased_to_Text_Variable</name>
        <label>Assign Products Purchased to Text Variable</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>txtProductsPurchased</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Products_Purchased__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_it_Contain_Fremtidsfuldmagt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Testamente_vs_Fremtidsfuldmagt_with_Both</name>
        <label>Populate Testamente vs. Fremtidsfuldmagt with Both</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Account.Testamente_vs_Fremtidsfuldmagt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Both</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_with_Contains_Both</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Testamente_vs_Fremtidsfuldmagt_with_Neither</name>
        <label>Populate Testamente vs. Fremtidsfuldmagt with Neither</label>
        <locationX>842</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Account.Testamente_vs_Fremtidsfuldmagt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Neither</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_with_Contains_Neither</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Testamente_vs_Fremtidsfuldmagt_with_Only_Fremtidsfuldmagt</name>
        <label>Populate Testamente vs. Fremtidsfuldmagt with Only Fremtidsfuldmagt</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Account.Testamente_vs_Fremtidsfuldmagt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Only Fremtidsfuldmagt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_with_Only_Fremtidsfuldmagt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Testamente_vs_Fremtidsfuldmagt_with_Only_Testamente</name>
        <label>Populate Testamente vs. Fremtidsfuldmagt with Only Testamente</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Account.Testamente_vs_Fremtidsfuldmagt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Only Testamente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_with_Only_Testamente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContainsFremtidsfuldmagt_to_True</name>
        <label>Set ContainsFremtidsfuldmagt to True</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ContainsFremtidsfuldmagt</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_it_Contain_Testamente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContainsTestamente_to_True</name>
        <label>Set ContainsTestamente to True</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>ContainsTestamente</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_have_both_neither_or_only_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_we_have_both_neither_or_only_1</name>
        <label>Do we have both neither or only 1?</label>
        <locationX>446</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Populate_Testamente_vs_Fremtidsfuldmagt_with_Neither</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contains Neither</defaultConnectorLabel>
        <rules>
            <name>Only_Testamente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContainsFremtidsfuldmagt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContainsTestamente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Testamente_vs_Fremtidsfuldmagt_with_Only_Testamente</targetReference>
            </connector>
            <label>Only Testamente</label>
        </rules>
        <rules>
            <name>Both_Only_Fremtidsfuldmagt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContainsFremtidsfuldmagt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContainsTestamente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Testamente_vs_Fremtidsfuldmagt_with_Only_Fremtidsfuldmagt</targetReference>
            </connector>
            <label>Only Fremtidsfuldmagt</label>
        </rules>
        <rules>
            <name>Contains_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContainsFremtidsfuldmagt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContainsTestamente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Testamente_vs_Fremtidsfuldmagt_with_Both</targetReference>
            </connector>
            <label>Contains Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_it_Contain_Fremtidsfuldmagt</name>
        <label>Does it Contain Fremtidsfuldmagt?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Does_it_Contain_Testamente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Fremtidsfuldmagt</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account.Products_Purchased__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fremtidsfuldmagt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ContainsFremtidsfuldmagt_to_True</targetReference>
            </connector>
            <label>Contains Fremtidsfuldmagt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_it_Contain_Testamente</name>
        <label>Does it Contain Testamente?</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Do_we_have_both_neither_or_only_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Testamente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Products_Purchased__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Testamente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ContainsTestamente_to_True</targetReference>
            </connector>
            <label>Contains Testamente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AL- Set Testamente vs. Fremtidsfuldmagt on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL- Set Testamente vs. Fremtidsfuldmagt on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_with_Contains_Both</name>
        <label>Update Account with Contains Both</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Contains_Neither</name>
        <label>Update Account with Contains Neither</label>
        <locationX>842</locationX>
        <locationY>1058</locationY>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Only_Fremtidsfuldmagt</name>
        <label>Update Account with Only Fremtidsfuldmagt</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Only_Testamente</name>
        <label>Update Account with Only Testamente</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Products_Purchased_to_Text_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContainsFremtidsfuldmagt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContainsTestamente</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>txtProductsPurchased</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
