force-app/main/default/flows/AL_Send_OTP_on_Email_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!EmailBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>RelatedRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Danish_Values</name>
        <label>Assign Danish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SmsBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSmsBodyDanish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptHtmlBodyDanish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSubjectDanish</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_OTP_Medium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Irish_Values</name>
        <label>Assign Irish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SmsBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSmsBodyDanish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptHtmlBodyEnglish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSubjectEnglish</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_OTP_Medium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Swedish_Values</name>
        <label>Assign Swedish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SmsBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSmsBodyDanish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptHtmlBodySwedish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptSubjectSwedish</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_OTP_Medium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_Market_Unit</name>
        <label>Populate Custom Error with Invalid Market Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid or Missing Market Unit &quot;{!$Record.Market_Unit__c}&quot;. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_OTP_Medium</name>
        <label>Populate Custom Error with Invalid OTP Medium</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid or Missing OTP Medium &quot;{!$Record.OTP_Medium__c}&quot;. Valid values are &quot;SMS&quot; and &quot;Email&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_Related_Record_ID</name>
        <label>Populate Custom Error with Invalid Related Record ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Identify Contact ID nor Lead ID on the Campaign Member. One of them is required.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Values</name>
        <label>Set Contact Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Country_is_the_Campaign_Member_in</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Values</name>
        <label>Set Lead Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Country_is_the_Campaign_Member_in</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_SMS_Subflow_Succeed</name>
        <label>Did SMS Subflow Succeed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_Subflow_was_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSmsSubflowSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SMS Subflow was Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_a_Contact_ID_or_a_Lead_ID</name>
        <label>Do We Have a Contact ID or a Lead ID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Invalid_Related_Record_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Contact_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Values</targetReference>
            </connector>
            <label>Got Contact ID</label>
        </rules>
        <rules>
            <name>Got_Lead_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Values</targetReference>
            </connector>
            <label>Got Lead ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_OTP_Medium</name>
        <label>What is OTP Medium?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Invalid_OTP_Medium</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTP_Medium_is_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OTP_Medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>OTP Medium is Email</label>
        </rules>
        <rules>
            <name>OTP_Medium_is_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OTP_Medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AL_Send_Twilio_SMS</targetReference>
            </connector>
            <label>OTP Medium is SMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Country_is_the_Campaign_Member_in</name>
        <label>Which Country is the Campaign Member in?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Invalid_Market_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Denmark</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Danish_Values</targetReference>
            </connector>
            <label>Denmark</label>
        </rules>
        <rules>
            <name>Sweden</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA_SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_SV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Swedish_Values</targetReference>
            </connector>
            <label>Sweden</label>
        </rules>
        <rules>
            <name>Ireland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Irish_Values</targetReference>
            </connector>
            <label>Ireland</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AL - Send OTP on Email or SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Send OTP on Email/SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_We_Have_a_Contact_ID_or_a_Lead_ID</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OTP_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>RT - Campaign Member: OTP is Updated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AL_Send_Twilio_SMS</name>
        <label>AL - Send Twilio SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_SMS_Subflow_Succeed</targetReference>
        </connector>
        <flowName>AL_Send_Twilio_SMS</flowName>
        <inputAssignments>
            <name>inputFromNumber</name>
            <value>
                <elementReference>FromNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputMarketUnit</name>
            <value>
                <elementReference>$Record.Market_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputMessage</name>
            <value>
                <elementReference>SmsBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputToNumber</name>
            <value>
                <elementReference>$Record.Phone_Formatted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CustomError</assignToReference>
            <name>CustomError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsSmsSubflowSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ptHtmlBodyDanish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot; /&gt;
    &lt;title&gt;Din engangskode&lt;/title&gt;
  &lt;/head&gt;
  &lt;body style=&quot;margin:0; padding:0; font-family: Arial, sans-serif; background-color:#f6f6f6;&quot;&gt;

    &lt;table role=&quot;presentation&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
      &lt;tr&gt;
        &lt;td align=&quot;center&quot; style=&quot;padding: 20px 0;&quot;&gt;

          &lt;!-- Main container --&gt;
          &lt;table role=&quot;presentation&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;600&quot; style=&quot;background:#ffffff; border-radius:8px; padding: 30px;&quot;&gt;
            
            &lt;!-- Logo --&gt;
            &lt;tr&gt;
              &lt;td align=&quot;center&quot; style=&quot;padding-bottom:20px;&quot;&gt;
                &lt;img src=&quot;https://dfj.my.salesforce.com/sfc/p/1t000000w9f2/a/W5000007LddR/SxXvRXF8spDCZOPGAwHjQtPk0B8G7cKoYk2ehJrCMg8&quot;
                     alt=&quot;Logo&quot; 
                     width=&quot;180&quot; 
                     style=&quot;display:block; border:0;&quot;/&gt;
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- Title --&gt;
            &lt;tr&gt;
              &lt;td style=&quot;text-align:center; font-size:20px; font-weight:bold; color:#333333; padding-bottom:20px;&quot;&gt;
                Din engangskode
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- Intro text --&gt;
            &lt;tr&gt;
              &lt;td style=&quot;font-size:16px; color:#333333; padding-bottom:20px; text-align:center;&quot;&gt;
                Brug koden nedenfor for at fuldføre din bekræftelse.&lt;br&gt;
                Denne kode er gyldig indtil &lt;strong&gt;{!$Record.OTP_Expires__c}&lt;/strong&gt;.
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- OTP Code --&gt;
            &lt;tr&gt;
              &lt;td align=&quot;center&quot; style=&quot;padding: 20px 0;&quot;&gt;
                &lt;div style=&quot;font-size:28px; font-weight:bold; letter-spacing:4px; color:#2c3e50; background:#f2f2f2; padding:15px 25px; border-radius:6px; display:inline-block;&quot;&gt;
                  {!$Record.OTP_Code__c}
                &lt;/div&gt;
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- Disclaimer --&gt;
            &lt;tr&gt;
              &lt;td style=&quot;font-size:14px; color:#666666; padding-top:20px; text-align:center;&quot;&gt;
                Hvis du ikke har anmodet om denne kode, kan du se bort fra denne e-mail.
              &lt;/td&gt;
            &lt;/tr&gt;
            
          &lt;/table&gt;

        &lt;/td&gt;
      &lt;/tr&gt;
    &lt;/table&gt;

  &lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ptHtmlBodyEnglish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot; /&gt;
    &lt;title&gt;Your One-Time Code&lt;/title&gt;
  &lt;/head&gt;
  &lt;body style=&quot;margin:0; padding:0; font-family: Arial, sans-serif; background-color:#f6f6f6;&quot;&gt;

    &lt;table role=&quot;presentation&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
      &lt;tr&gt;
        &lt;td align=&quot;center&quot; style=&quot;padding: 20px 0;&quot;&gt;

          &lt;!-- Main container --&gt;
          &lt;table role=&quot;presentation&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;600&quot; style=&quot;background:#ffffff; border-radius:8px; padding: 30px;&quot;&gt;
            
            &lt;!-- Logo --&gt;
            &lt;tr&gt;
              &lt;td align=&quot;center&quot; style=&quot;padding-bottom:20px;&quot;&gt;
                &lt;img src=&quot;https://dfj.my.salesforce.com/sfc/p/1t000000w9f2/a/W5000007JZ2r/vZlkbe_A6_OyB8boGYQZcMwrnY_QB8c8QFXLC9eckTg&quot;
                     alt=&quot;Company Logo&quot; 
                     width=&quot;180&quot; 
                     style=&quot;display:block; border:0;&quot;/&gt;
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- Title --&gt;
            &lt;tr&gt;
              &lt;td style=&quot;text-align:center; font-size:20px; font-weight:bold; color:#333333; padding-bottom:20px;&quot;&gt;
                Your One-Time Code
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- Intro text --&gt;
            &lt;tr&gt;
              &lt;td style=&quot;font-size:16px; color:#333333; padding-bottom:20px; text-align:center;&quot;&gt;
                Use the code below to complete your verification.  
                This code is valid until &lt;strong&gt;{!$Record.OTP_Expires__c}&lt;/strong&gt;.
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- OTP Code --&gt;
            &lt;tr&gt;
              &lt;td align=&quot;center&quot; style=&quot;padding: 20px 0;&quot;&gt;
                &lt;div style=&quot;font-size:28px; font-weight:bold; letter-spacing:4px; color:#2c3e50; background:#f2f2f2; padding:15px 25px; border-radius:6px; display:inline-block;&quot;&gt;
                  {!$Record.OTP_Code__c}
                &lt;/div&gt;
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- Disclaimer --&gt;
            &lt;tr&gt;
              &lt;td style=&quot;font-size:14px; color:#666666; padding-top:20px; text-align:center;&quot;&gt;
                If you didn’t request this code, you can safely ignore this email.
              &lt;/td&gt;
            &lt;/tr&gt;
            
          &lt;/table&gt;

        &lt;/td&gt;
      &lt;/tr&gt;
    &lt;/table&gt;

  &lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ptHtmlBodySwedish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot; /&gt;
    &lt;title&gt;Din engångskod&lt;/title&gt;
  &lt;/head&gt;
  &lt;body style=&quot;margin:0; padding:0; font-family: Arial, sans-serif; background-color:#f6f6f6;&quot;&gt;

    &lt;table role=&quot;presentation&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
      &lt;tr&gt;
        &lt;td align=&quot;center&quot; style=&quot;padding: 20px 0;&quot;&gt;

          &lt;!-- Main container --&gt;
          &lt;table role=&quot;presentation&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;600&quot; style=&quot;background:#ffffff; border-radius:8px; padding: 30px;&quot;&gt;
            
            &lt;!-- Logo --&gt;
            &lt;tr&gt;
              &lt;td align=&quot;center&quot; style=&quot;padding-bottom:20px;&quot;&gt;
                &lt;img src=&quot;https://dfj.my.salesforce.com/sfc/p/1t000000w9f2/a/W5000007Ldbp/yWyzcknpEKmmeC63uhPCCqwTVuzyE26aBsEbofgTD5Q&quot;
                     alt=&quot;Logotyp&quot; 
                     width=&quot;180&quot; 
                     style=&quot;display:block; border:0;&quot;/&gt;
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- Title --&gt;
            &lt;tr&gt;
              &lt;td style=&quot;text-align:center; font-size:20px; font-weight:bold; color:#333333; padding-bottom:20px;&quot;&gt;
                Din engångskod
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- Intro text --&gt;
            &lt;tr&gt;
              &lt;td style=&quot;font-size:16px; color:#333333; padding-bottom:20px; text-align:center;&quot;&gt;
                Använd koden nedan för att slutföra din verifiering.&lt;br&gt;
                Denna kod är giltig till &lt;strong&gt;{!$Record.OTP_Expires__c}&lt;/strong&gt;.
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- OTP Code --&gt;
            &lt;tr&gt;
              &lt;td align=&quot;center&quot; style=&quot;padding: 20px 0;&quot;&gt;
                &lt;div style=&quot;font-size:28px; font-weight:bold; letter-spacing:4px; color:#2c3e50; background:#f2f2f2; padding:15px 25px; border-radius:6px; display:inline-block;&quot;&gt;
                  {!$Record.OTP_Code__c}
                &lt;/div&gt;
              &lt;/td&gt;
            &lt;/tr&gt;
            
            &lt;!-- Disclaimer --&gt;
            &lt;tr&gt;
              &lt;td style=&quot;font-size:14px; color:#666666; padding-top:20px; text-align:center;&quot;&gt;
                Om du inte har begärt denna kod kan du bortse från detta e-postmeddelande.
              &lt;/td&gt;
            &lt;/tr&gt;
            
          &lt;/table&gt;

        &lt;/td&gt;
      &lt;/tr&gt;
    &lt;/table&gt;

  &lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ptSmsBodyDanish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Her er din engangskode: {!$Record.OTP_Code__c}.
Den udløber {!$Record.OTP_Expires__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>ptSmsBodyEnglish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Here is your one-time code: {!$Record.OTP_Code__c}.
It expires {!$Record.OTP_Expires__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>ptSmsBodySwedish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Här är din engångskod: {!$Record.OTP_Code__c}.
Den upphör att gälla {!$Record.OTP_Expires__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>ptSubjectDanish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Din Familiejurist | Din engangskode</text>
    </textTemplates>
    <textTemplates>
        <name>ptSubjectEnglish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Heres Law | Your One-Time Code</text>
    </textTemplates>
    <textTemplates>
        <name>ptSubjectSwedish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Din Familjejurist | Din engångskod</text>
    </textTemplates>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSmsSubflowSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RelatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SmsBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
