force-app/main/default/flows/AL_Update_Pub_Doc_Reg_with_Missing_Journals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>PublicDocumentRegistrationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Public_Document_Registrations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Public_Document_Registrations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_to_Public_Document_Registration</name>
        <label>Assign Journal to Public Document Registration</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_Public_Document_Registrations.Journal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Journal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>550</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Counter_within_Limit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_a_Journal</name>
        <label>Did We Find a Journal?</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Public_Document_Registrations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Journal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Journal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Journal_to_Public_Document_Registration</targetReference>
            </connector>
            <label>Journal Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Counter_within_Limit</name>
        <label>Is Counter within Limit?</label>
        <locationX>550</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Pub_Doc_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Within_Limi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>95.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Journal</targetReference>
            </connector>
            <label>Within Limit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AL - Update Pub. Doc. Reg. with Missing Journals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Update Pub. Doc. Reg. with Missing Journals</label>
    <loops>
        <name>Loop_Public_Document_Registrations</name>
        <label>Loop Public Document Registrations</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Public_Document_Registrations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Pub_Doc_Rec</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Journal</name>
        <label>Get Journal</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Journal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Public_Document_Registrations.Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journal__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Document_Registrations</name>
        <label>Get Public Document Registrations</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Public_Document_Registrations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Journal__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Public_Document_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pub_Doc_Rec</name>
        <label>Update Pub Doc Rec</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <inputReference>PublicDocumentRegistrationCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Public_Document_Registrations</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PublicDocumentRegistrationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Public_Document_Registration__c</objectType>
    </variables>
</Flow>
