force-app/main/default/flows/AL_Update_Form_Submission_Backlog.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FormSubCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Form_Submissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Form_Submissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Profile_ID_to_Form_Sub</name>
        <label>Assign Customer Profile ID to Form Sub</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Form_Submissions.Customer_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerProfile.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AL - Update Form Submission Backlog {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Update Form Submission Backlog</label>
    <loops>
        <name>Loop_Form_Submissions</name>
        <label>Loop Form Submissions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Form_Submissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AL_Parse_Customer_Profiler_Information_Flow_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Form_Submissions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Form_Submissions</name>
        <label>Get Form Submissions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Form_Submissions</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Customer_Profile__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2025-05-21T22:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>10.0</numberValue>
        </limit>
        <object>Form_Submission__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Form_Submissions</name>
        <label>Update Form Submissions</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputReference>FormSubCol</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Form_Submissions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>AL_Parse_Customer_Profiler_Information_Flow_1</name>
        <label>AL - Parse Customer Profiler Information Flow 1</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_Customer_Profile_ID_to_Form_Sub</targetReference>
        </connector>
        <flowName>AL_Parse_Customer_Profiler_Information</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Loop_Form_Submissions.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CustomerProfile</assignToReference>
            <name>CustomerProfile</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CustomerProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Profile__c</objectType>
    </variables>
    <variables>
        <name>FormSubCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_Submission__c</objectType>
    </variables>
</Flow>
