force-app/main/default/flows/AS_Lead_Lead_is_Updated_to_a_Closed_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Fault_Message_to_Custom_Error</name>
        <label>Assign Fault Message to Custom Error</label>
        <locationX>1986</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_as_Owner</name>
        <label>Assign User as Owner</label>
        <locationX>1513</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Lead_Updated_to_Closed_Lost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Existing_Campaign_Member</name>
        <label>Assign Values to Existing Campaign Member</label>
        <locationX>50</locationX>
        <locationY>1896</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Signup_Count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Latest_Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Campaign_Member</name>
        <label>Populate Campaign Member</label>
        <locationX>578</locationX>
        <locationY>1896</locationY>
        <assignmentItems>
            <assignToReference>CampaignMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Closed_By</name>
        <label>Set &quot;Closed By&quot;</label>
        <locationX>1425</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.Closed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Lead_Owned_by_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_to_0</name>
        <label>Set Value to 0</label>
        <locationX>1590</locationX>
        <locationY>3120</locationY>
        <assignmentItems>
            <assignToReference>Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Create_Update_Targets_and_Target_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_to_1</name>
        <label>Set Value to 1</label>
        <locationX>1326</locationX>
        <locationY>3120</locationY>
        <assignmentItems>
            <assignToReference>Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Create_Update_Targets_and_Target_Links</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_Target_Subflow_Succeed</name>
        <label>Did Target Subflow Succeed?</label>
        <locationX>1458</locationX>
        <locationY>3420</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fault_Message_to_Custom_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Subflow_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Target_Subflow_Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_a_Campaign</name>
        <label>Did We Find a Campaign?</label>
        <locationX>842</locationX>
        <locationY>1572</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Member</targetReference>
            </connector>
            <label>Campaign Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_a_Partner_Referral_Created_by_the_User</name>
        <label>Did We Find a Partner Referral Created by the User?</label>
        <locationX>1458</locationX>
        <locationY>3012</locationY>
        <defaultConnector>
            <targetReference>Set_Value_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Partner_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Referral</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Value_to_1</targetReference>
            </connector>
            <label>Got Partner Referral</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_Events</name>
        <label>Did We Find Events?</label>
        <locationX>600</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Is_it_a_Company_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Events_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Events</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Events</targetReference>
            </connector>
            <label>Events Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_a_Campaign_Member_Already_Exist</name>
        <label>Does a Campaign Member Already Exist?</label>
        <locationX>314</locationX>
        <locationY>1788</locationY>
        <defaultConnector>
            <targetReference>Populate_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Member_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Existing_Campaign_Member</targetReference>
            </connector>
            <label>Campaign Member Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_Company_Lead</name>
        <label>Is it a Company Lead?</label>
        <locationX>600</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>Is_Status_Closed_Not_Converted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Company Lead</defaultConnectorLabel>
        <rules>
            <name>Is_Company_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Is Company Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_Host_Lead</name>
        <label>Is it a Host Lead?</label>
        <locationX>1425</locationX>
        <locationY>2688</locationY>
        <defaultConnector>
            <targetReference>Which_Country_is_the_Lead_from</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Host_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Host</stringValue>
                </rightValue>
            </conditions>
            <label>Is Host Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Owned_by_User</name>
        <label>Is Lead Owned by User?</label>
        <locationX>1425</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Assign_User_as_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Owner</defaultConnectorLabel>
        <rules>
            <name>Owner_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseSafeUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Lead_Updated_to_Closed_Lost</targetReference>
            </connector>
            <label>Owner is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Closed_Not_Converted</name>
        <label>Is Status Closed Not Converted?</label>
        <locationX>1326</locationX>
        <locationY>1356</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_is_Closed_Not_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Not Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>Lead is Closed Not Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Lead_Updated_to_Closed_Lost</name>
        <label>Was Lead Updated to Closed Lost?</label>
        <locationX>1425</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Not Lost</defaultConnectorLabel>
        <rules>
            <name>Lead_Updated_to_Lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Not Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Events</targetReference>
            </connector>
            <label>Lead Updated to Lost</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sorts out countries that don&apos;t track Partner Referrals</description>
        <name>Which_Country_is_the_Lead_from</name>
        <label>Which Country is the Lead from?</label>
        <locationX>1788</locationX>
        <locationY>2796</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Danish_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Referral</targetReference>
            </connector>
            <label>Danish Lead</label>
        </rules>
    </decisions>
    <description>Removed setting of Target Link Name and Target Name</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseSafeUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>frmMonthNumber</name>
        <dataType>Number</dataType>
        <expression>MONTH({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmTargetName</name>
        <dataType>String</dataType>
        <expression>UPPER(
  LEFT({!$User.Email}, FIND(&quot;@&quot;, {!$User.Email}) - 1)
)
&amp; &quot; | Partner Referrals (&quot;
&amp; CASE(
    {!frmMonthNumber},
      1, &quot;January&quot;,   2, &quot;February&quot;,  3, &quot;March&quot;,
      4, &quot;April&quot;,     5, &quot;May&quot;,       6, &quot;June&quot;,
      7, &quot;July&quot;,      8, &quot;August&quot;,    9, &quot;September&quot;,
     10, &quot;October&quot;,  11, &quot;November&quot;, 12, &quot;December&quot;,
    &quot;Invalid Month&quot;
  )
&amp; &quot; &quot;
&amp; TEXT(
    FLOOR({!frmYear})
)
&amp; &quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>frmWeekNumber</name>
        <dataType>Number</dataType>
        <expression>ISOWEEK({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmYear</name>
        <dataType>Number</dataType>
        <expression>ISOYEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AS - Lead: Lead is Updated to a Closed Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS - Lead: Lead is Updated to a Closed Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>578</locationX>
        <locationY>2004</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fault_Message_to_Custom_Error</targetReference>
        </faultConnector>
        <inputReference>CampaignMember</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Events</name>
        <label>Delete Events</label>
        <locationX>336</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Is_it_a_Company_Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fault_Message_to_Custom_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Events</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>842</locationX>
        <locationY>1464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Campaign</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fault_Message_to_Custom_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automated Post-Closed Not Converted Journey</stringValue>
            </value>
        </filters>
        <filters>
            <field>Market_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Market_Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>314</locationX>
        <locationY>1680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_a_Campaign_Member_Already_Exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fault_Message_to_Custom_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>600</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Events</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message_to_Custom_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Referral</name>
        <label>Get Partner Referral</label>
        <locationX>1458</locationX>
        <locationY>2904</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Partner_Referral_Created_by_the_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fault_Message_to_Custom_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member</name>
        <label>Update Campaign Member</label>
        <locationX>50</locationX>
        <locationY>2004</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fault_Message_to_Custom_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Campaign_Member</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1425</locationX>
        <locationY>2580</locationY>
        <connector>
            <targetReference>Is_it_a_Host_Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fault_Message_to_Custom_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Closed_By__c</field>
            <value>
                <elementReference>$Record.Closed_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>391</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Set_Closed_By</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Create_Update_Targets_and_Target_Links</name>
        <label>AL - Create/Update Targets and Target Links</label>
        <locationX>1458</locationX>
        <locationY>3312</locationY>
        <connector>
            <targetReference>Did_Target_Subflow_Succeed</targetReference>
        </connector>
        <flowName>AL_Create_Update_Targets_and_Target_Links</flowName>
        <inputAssignments>
            <name>inputIsActive</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputIsUserTarget</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputLeadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputMarketUnit</name>
            <value>
                <elementReference>$Record.Market_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputMetric</name>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputMonthNumber</name>
            <value>
                <elementReference>frmMonthNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTag</name>
            <value>
                <elementReference>Get_Partner_Referral.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTargetPeriod</name>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTargetType</name>
            <value>
                <stringValue>Percentage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputValue</name>
            <value>
                <elementReference>Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputWeekNumber</name>
            <value>
                <elementReference>frmWeekNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputYear</name>
            <value>
                <elementReference>frmYear</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CustomError</assignToReference>
            <name>CustomError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values_Flow</name>
        <label>AL - Send Error Email from Input Values Flow</label>
        <locationX>1986</locationX>
        <locationY>1008</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>AS - Lead: Lead is Updated to a Closed Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>rtEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Error occured in the flow &quot;&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;AS - Lead: Lead is Updated to a Closed Status&quot;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Record ID:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;User Information:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error Message:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CustomError}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SenderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
