force-app/main/default/flows/AS_Order_Order_is_Created_Updated_with_Journal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>770</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Journal_Have_Lookup_to_Order</name>
        <label>Does Journal Have Lookup to Order?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Update_Journal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Journal_Has_Order_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Journal__r.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Journal Has Order Lookup</label>
        </rules>
    </decisions>
    <description>Added a step at the end, to also populate the Order Lookup on the related Journal, with the Order&apos;s ID</description>
    <environments>Default</environments>
    <interviewLabel>AS - Order: Order is Created/Updated with Journal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS - Order: Order is Created/Updated with Journal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Journal</name>
        <label>Update Journal</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Journal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Journal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Journal__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>AL_Create_Assets_from_Input_Order_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Create_Assets_from_Input_Order_Record</name>
        <label>AL - Create Assets from Input Order Record</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Does_Journal_Have_Lookup_to_Order</targetReference>
        </connector>
        <flowName>AL_Create_Assets_from_Input_Order_Record</flowName>
        <inputAssignments>
            <name>Order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>770</locationX>
        <locationY>708</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>AS - Order: Order is Created/Updated with Journal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfPublicDocumentRegistrations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
