force-app/main/default/flows/AS_OrderProduct_Product_Requiring_Tinglysning_is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_Public_Registration_Subflow_Successful</name>
        <label>Is Public Registration Subflow Successful?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Send_Error_Email_from_Input_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Public_Registration_Subflow_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPublicRegistrationSubflowSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Public Registration Subflow Success</label>
        </rules>
    </decisions>
    <description>When a Product requiring Tinglysning is created, we create a Public Document Registration Record</description>
    <environments>Default</environments>
    <interviewLabel>AS - OrderProduct: Product Requiring Tinglysning is Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AS - OrderProduct: Product Requiring Tinglysning is Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Public_Registration_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>AL_Create_Public_Document_Registrations_from_Input_Order_Product</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Create_Public_Document_Registrations_from_Input_Order_Product</name>
        <label>AL - Create Public Document Registrations from Input Order Product</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Is_Public_Registration_Subflow_Successful</targetReference>
        </connector>
        <flowName>AL_Create_Public_Document_Registrations_from_Input_Order_Product</flowName>
        <inputAssignments>
            <name>inputOrderProduct</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputOrderProductNumber</name>
            <value>
                <elementReference>$Record.OrderItemNumber</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsPublicRegistrationSubflowSuccess</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CustomError</assignToReference>
            <name>CustomError</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_Error_Email_from_Input_Values</name>
        <label>Send Error Email from Input Values</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>AS - OrderProduct: Product Requiring Tinglysning is Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsPublicRegistrationSubflowSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PublicDocumentRegistration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Public_Document_Registration__c</objectType>
    </variables>
    <variables>
        <name>PublicDocumentRegistrationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Public_Document_Registration__c</objectType>
    </variables>
</Flow>
