force-app/main/default/flows/Before_Save_Payment_is_Created_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Account_ID_to_Variable</name>
        <label>Assign Account ID to Variable</label>
        <locationX>72</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_we_have_an_Account</name>
        <label>Do we have an Account?</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Does_Order_have_an_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_an_order</name>
        <label>Do we have an order?</label>
        <locationX>281</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_an_Account</targetReference>
            </connector>
            <label>Order Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Order_have_an_Account</name>
        <label>Does Order have an Account?</label>
        <locationX>204</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_ID_to_Variable</targetReference>
            </connector>
            <label>Order has Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Before-Save: Payment is Created/Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before-Save: Payment is Created/Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>281</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_we_have_an_order</targetReference>
        </connector>
        <object>Payments__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
