force-app/main/default/flows/Before_Save_Lead_Staging_is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Capitalized_Name_to_Collection</name>
        <label>Add Capitalized Name to Collection</label>
        <locationX>1018</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>CapitalizedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NameCapitalizer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Name_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Full_Name</name>
        <label>Add to Full Name</label>
        <locationX>1282</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>FullName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Capitalized_Collection} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Capitalized_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets LastName to &quot;NotProvided&quot;</description>
        <name>Assign_Default_Last_Name</name>
        <label>Assign Default Last Name</label>
        <locationX>1018</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotProvided</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FullName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> NotProvided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Staging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Name</name>
        <label>Assign First Name</label>
        <locationX>1018</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Capitalized_Collection} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Full_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Name_to_Variable</name>
        <label>Assign First Name to Variable</label>
        <locationX>556</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_get_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Full_Name_to_Names_Variable</name>
        <label>Assign Full Name to Names Variable</label>
        <locationX>292</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>Names</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Space</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Full_Name_to_Variable</name>
        <label>Assign Full Name to Variable</label>
        <locationX>930</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>NameCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Names</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Name_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Name</name>
        <label>Assign Last Name</label>
        <locationX>1282</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Capitalized_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Full_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Name_to_Variable</name>
        <label>Assign Last Name to Variable</label>
        <locationX>556</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Full_Name_using_First_and_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_First_and_Last_Name</name>
        <label>Clear First and Last Name</label>
        <locationX>688</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Space</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Loop_Counter</name>
        <label>Increment Loop Counter</label>
        <locationX>1282</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_First_Last_or_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Name_Trimmer</name>
        <label>Name Trimmer</label>
        <locationX>930</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstNameTrimmer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastNameTrimmer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FullName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FullNameTrimmer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_have_a_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Full_Name_using_First_and_Last_Name</name>
        <label>Populate Full Name using First and Last Name</label>
        <locationX>688</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>Names</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstAndLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_First_and_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Last_Name_from_Split_Name</name>
        <label>Set Default Last Name from Split Name</label>
        <locationX>820</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Provided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Full_Name_using_First_and_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Names</name>
        <label>Update Names</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>NameCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Names</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_for_Space</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_First_Last_or_Exit</name>
        <label>Add First, Last or Exit?</label>
        <locationX>1282</locationX>
        <locationY>2027</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_First_Name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NameCounter</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Name</targetReference>
            </connector>
            <label>Add First Name</label>
        </rules>
        <rules>
            <name>Add_Last_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NameCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Name</targetReference>
            </connector>
            <label>Add Last Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Space</name>
        <label>Check for Space</label>
        <locationX>490</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Assign_Full_Name_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Space</defaultConnectorLabel>
        <rules>
            <name>Space_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContainsSpace</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Names</targetReference>
            </connector>
            <label>Space Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_get_First_Name</name>
        <label>Did we get First Name?</label>
        <locationX>688</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Did_we_get_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No First Name</defaultConnectorLabel>
        <rules>
            <name>Got_First_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Name_to_Variable</targetReference>
            </connector>
            <label>Got First Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_get_Full_Name</name>
        <label>Did we get Full Name?</label>
        <locationX>490</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Did_we_get_First_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Full Name</defaultConnectorLabel>
        <rules>
            <name>Got_Full_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Full_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Full_Name_to_Names_Variable</targetReference>
            </connector>
            <label>Got Full Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_get_Last_Name</name>
        <label>Did we get Last Name?</label>
        <locationX>688</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Last_Name_from_Split_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No last Name</defaultConnectorLabel>
        <rules>
            <name>Got_Last_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Name_to_Variable</targetReference>
            </connector>
            <label>Got Last Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_a_Last_Name</name>
        <label>Do we have a Last Name?</label>
        <locationX>930</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Default Last Name</defaultConnectorLabel>
        <rules>
            <name>Last_Name_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Staging</targetReference>
            </connector>
            <label>Last Name Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContainsSpace</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Names}, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>CurrentName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Names}, FIND(&quot; &quot;,{!Names}) - 1)</expression>
    </formulas>
    <formulas>
        <name>FirstNameTrimmer</name>
        <dataType>String</dataType>
        <expression>TRIM({!FirstName})</expression>
    </formulas>
    <formulas>
        <name>FullNameTrimmer</name>
        <dataType>String</dataType>
        <expression>TRIM({!FullName})</expression>
    </formulas>
    <formulas>
        <name>LastNameTrimmer</name>
        <dataType>String</dataType>
        <expression>TRIM({!LastName})</expression>
    </formulas>
    <formulas>
        <name>NameCapitalizer</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!Loop_Name_Collection}, 1)) &amp; LOWER(MID({!Loop_Name_Collection}, 2, LEN({!Loop_Name_Collection}) - 1))</expression>
    </formulas>
    <formulas>
        <name>RemainingNames</name>
        <dataType>String</dataType>
        <expression>MID({!Names}, FIND(&quot; &quot;, {!Names}) + 1, LEN({!Names}) - FIND(&quot; &quot;, {!Names}))</expression>
    </formulas>
    <interviewLabel>Before Save: Lead Staging is Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Save: Lead Staging is Created</label>
    <loops>
        <name>Loop_Capitalized_Collection</name>
        <label>Loop Capitalized Collection</label>
        <locationX>930</locationX>
        <locationY>1811</locationY>
        <collectionReference>CapitalizedCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Loop_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Name_Trimmer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Name_Collection</name>
        <label>Loop Name Collection</label>
        <locationX>930</locationX>
        <locationY>1511</locationY>
        <collectionReference>NameCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Capitalized_Name_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Capitalized_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Staging</name>
        <label>Update Lead Staging</label>
        <locationX>930</locationX>
        <locationY>2927</locationY>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Name__c</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_we_get_Full_Name</targetReference>
        </connector>
        <object>Lead_Staging_Record__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FirstAndLastName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!FirstName} {!LastName}</text>
    </textTemplates>
    <variables>
        <name>CapitalizedCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Names</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
