force-app/main/default/flows/BS_Attendance_Set_Correct_Attendance_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Attendance_Status_and_Absence_Category</name>
        <label>Set Attendance Status and Absence Category</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>AttendanceStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Absent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Public Holiday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Compensation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid Leave</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Attendance_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attendance_Status_to_Present</name>
        <label>Set Attendance Status to Present</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>AttendanceStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Present</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Attendance_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attendance_Status_to_Weekend</name>
        <label>Set Attendance Status to Weekend</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>AttendanceStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Weekend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Attendance_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Current_Day_a_Weekday</name>
        <label>Is Current Day a Weekday?</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Set_Attendance_Status_to_Weekend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Day is Weekend</defaultConnectorLabel>
        <rules>
            <name>Day_is_Weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayOfTheWeek</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Attendance_Status_to_Present</targetReference>
            </connector>
            <label>Day is Weekday</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Public_Holiday_on_this_day</name>
        <label>Is there a Public Holiday on this day?</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Current_Day_a_Weekday</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Public_Holiday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day__r.Public_Holiday__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Employee_s_Salesforce_User__r.Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Attendance_Status_and_Absence_Category</targetReference>
            </connector>
            <label>Public Holiday</label>
        </rules>
    </decisions>
    <description>Added setting of Attendance name</description>
    <environments>Default</environments>
    <formulas>
        <name>DayOfTheWeek</name>
        <dataType>Number</dataType>
        <expression>MOD({!$Record.Date__c} - DATE(1900, 1, 8), 7) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmAttendanceName</name>
        <dataType>String</dataType>
        <expression>/* e.g. “3. January 2025” */
TEXT( DAY({!$Record.Date__c}) )
&amp; &quot;. &quot;
&amp;
CASE(
  MONTH({!$Record.Date__c}),
  1, &quot;January&quot;,
  2, &quot;February&quot;,
  3, &quot;March&quot;,
  4, &quot;April&quot;,
  5, &quot;May&quot;,
  6, &quot;June&quot;,
  7, &quot;July&quot;,
  8, &quot;August&quot;,
  9, &quot;September&quot;,
  10, &quot;October&quot;,
  11, &quot;November&quot;,
  12, &quot;December&quot;,
  &quot;&quot;
)
&amp; &quot; &quot;
&amp; TEXT( YEAR({!$Record.Date__c}) )</expression>
    </formulas>
    <interviewLabel>BS - Attendance: Set Correct Attendance Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BS - Attendance: Set Correct Attendance Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Attendance_Status</name>
        <label>Update Attendance Status</label>
        <locationX>248</locationX>
        <locationY>779</locationY>
        <inputAssignments>
            <field>Absence_Category__c</field>
            <value>
                <elementReference>AbsenceCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendance_Status__c</field>
            <value>
                <elementReference>AttendanceStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compensation__c</field>
            <value>
                <elementReference>Compensation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>frmAttendanceName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_a_Public_Holiday_on_this_day</targetReference>
        </connector>
        <object>Attendance__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AbsenceCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AttendanceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Compensation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
