force-app/main/default/flows/CAF_Notify_Contact_Owner_via_Cadence_Tracker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_Message_About_Error</name>
        <label>Send Slack Message About Error</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TVAHYDPPH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08C5T18SAZ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_Action</name>
        <label>Send Slack Message Action</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TVAHYDPPH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08HZ1225B4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>ptSlackMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendCustomNotification</name>
        <label>Send Custom Notification</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Slack_Message_Action</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>ptNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ptNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Notification_Recipient_ID</name>
        <label>Assign Notification Recipient ID</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Populate_Custom_Error_with_Missing_Cadence_Tracker</name>
        <label>Populate Custom Error with Missing Contact</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Find Contact via ID &quot;{!Get_Cadence_Tracker.TargetId}&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Slack_Message_About_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>2690</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message_About_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_Target_Record</name>
        <label>Populate Custom Error with Invalid Target Record</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record with Target ID &quot;{!Get_Cadence_Tracker.TargetId}&quot; is not supported</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Slack_Message_About_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Missing_Cadence_Step_Tracker</name>
        <label>Populate Custom Error with Missing Cadence Step Tracker</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Find Cadence Step Tracker via ID &quot;{!actionCadenceStepTrackerId}&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Slack_Message_About_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Missing_Cadence_Tracker</name>
        <label>Populate Custom Error with Missing Cadence Tracker</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Find Cadence Tracker via ID &quot;{!actionCadenceTrackerId}&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Slack_Message_About_Error</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_a_Contact</name>
        <label>Did We Find a Contact?</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Populate_Custom_Error_with_Missing_Cadence_Tracker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cadence_Step_Tracker</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_a_Step_Tracker</name>
        <label>Did We Find a Step Tracker?</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Missing_Cadence_Step_Tracker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Step_Tracker_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cadence_Step_Tracker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Notification_Recipient_ID</targetReference>
            </connector>
            <label>Step Tracker Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Cadence_Tracker_Exist</name>
        <label>Does Cadence Tracker Exist?</label>
        <locationX>2030</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Missing_Cadence_Tracker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cadence_Tracker_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cadence_Tracker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Target_Record_Do_We_Have</targetReference>
            </connector>
            <label>Cadence Tracker Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Target_Record_Do_We_Have</name>
        <label>Which Target Record Do We Have?</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Invalid_Target_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cadence_Tracker.TargetId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Target Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CAF - Notify Contact Owner via Cadence Tracker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAF - Notify Contact Owner via Cadence Tracker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ActionCadenceAutolaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cadence_Step_Tracker</name>
        <label>Get Cadence Step Tracker</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Step_Tracker</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionCadenceStepTrackerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceStepTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cadence_Tracker</name>
        <label>Get Cadence Tracker</label>
        <locationX>2030</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Cadence_Tracker_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionCadenceTrackerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cadence_Tracker.TargetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendCustomNotification</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Association_Cadence_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cadence_Tracker</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ptNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You&apos;ve received a reply on an automated email flow:

Contact: {!Get_Contact.Name}
Account: {!Get_Contact.Account.Name}
Parent Account: {!Get_Contact.Account.Parent_Account_Custom__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>ptNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Potential Interest</text>
    </textTemplates>
    <textTemplates>
        <name>ptOppName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lecture Opp - {!Get_Contact.Account.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>ptSlackMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>_*Reaction on email Campaign*_
*Contact:* &lt;https://dfj.lightning.force.com/lightning/r/{!Get_Contact.Id}/view|{!Get_Contact.Name}&gt;  
*Account:* &lt;https://dfj.lightning.force.com/lightning/r/{!Get_Contact.AccountId}/view|{!Get_Contact.Account.Name}&gt; (&lt;https://dfj.lightning.force.com/lightning/r/{!Get_Contact.Account.ParentId}/view|{!Get_Contact.Account.Parent.Name}&gt;)</text>
    </textTemplates>
    <variables>
        <name>actionCadenceStepTrackerCompletionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionCadenceStepTrackerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionCadenceTrackerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
