force-app/main/default/flows/Case_Create_Case_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_new_Record</name>
        <label>Navigate to new Record</label>
        <locationX>710</locationX>
        <locationY>1358</locationY>
        <actionName>c:DFJ_navigateToNewRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:DFJ_navigateToNewRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Danish_Record_Type</name>
        <label>Assign Danish Record Type</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012W5000000N9aTIAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Case_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IT_Record_Type</name>
        <label>Assign IT Record Type</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012W5000000N9XFIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Case_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Swedish_Record_Type</name>
        <label>Assign Swedish Record Type</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012W5000000N9dhIAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Case_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_DK_Customer_Service_Queue</name>
        <label>Assign to DK - Customer Service Queue</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GAX000000NI7y2AG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_IT_Department_Queue</name>
        <label>Assign to IT Department Queue</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GW5000001IM7xMAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_as_Owner</name>
        <label>Assign User as Owner</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_to_DK_Customer_Service_Queue</name>
        <label>Copy 2 of Assign to DK - Customer Service Queue</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GW5000001IO1hMAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assign_case_to_myself</name>
        <choiceText>Assign case to myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign case to myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assign_case_to_the_team</name>
        <choiceText>Assign case to the team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign case to the team</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escalated</name>
        <choiceText>Escalated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalated</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Progress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Inquiry</name>
        <choiceText>Internal Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>On_Hold</name>
        <choiceText>On Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Problems_with_Public_Registration</name>
        <choiceText>Problems with Public Registration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problems with Public Registration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Question_about_when_their_documents_are_ready</name>
        <choiceText>Question about when their documents are ready</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Question about when their documents are ready</stringValue>
        </value>
    </choices>
    <choices>
        <name>Questions_about_document_procedures</name>
        <choiceText>Questions about document procedures</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Questions about document procedures</stringValue>
        </value>
    </choices>
    <choices>
        <name>Questions_about_the_contens_of_documents</name>
        <choiceText>Questions about the contens of documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Questions about the contens of documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requesting_Update_on_Status</name>
        <choiceText>Requesting Update on Status</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Requesting Update on Status</stringValue>
        </value>
    </choices>
    <choices>
        <name>Response_Received</name>
        <choiceText>Response Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Response Received</stringValue>
        </value>
    </choices>
    <choices>
        <name>User_didn_t_attend_training</name>
        <choiceText>User didn&apos;t attend training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>User didn&apos;t attend training</stringValue>
        </value>
    </choices>
    <choices>
        <name>Waiting_for_Customer</name>
        <choiceText>Waiting for Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting for Customer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Determine_Case_Assignment</name>
        <label>Determine Case Assignment</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Case_to_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radCaseOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_case_to_myself</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_as_Owner</targetReference>
            </connector>
            <label>Assign Case to User</label>
        </rules>
        <rules>
            <name>Assign_Case_to_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radCaseOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_case_to_the_team</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Queue_do_We_Assign_the_Case_to</targetReference>
            </connector>
            <label>Assign Case to Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Record_Type</name>
        <label>Determine Record Type</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen_2_Something_s_Wrong</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_it_for_Technique</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>mt@dinfamiliejurist.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>anje@dinfamiliejurist.dk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IT_Record_Type</targetReference>
            </connector>
            <label>Is it for Technique?</label>
        </rules>
        <rules>
            <name>Denmark</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Danish_Record_Type</targetReference>
            </connector>
            <label>Denmark</label>
        </rules>
        <rules>
            <name>Sweden</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA_SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_SV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Swedish_Record_Type</targetReference>
            </connector>
            <label>Sweden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Queue_do_We_Assign_the_Case_to</name>
        <label>Which Queue do We Assign the Case to?</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_to_IT_Department</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>mt@dinfamiliejurist.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>anje@dinfamiliejurist.dk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_IT_Department_Queue</targetReference>
            </connector>
            <label>Assign to IT Department</label>
        </rules>
        <rules>
            <name>Assign_to_DK_Customer_Service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_DK_Customer_Service_Queue</targetReference>
            </connector>
            <label>Assign to DK - Customer Service</label>
        </rules>
        <rules>
            <name>Assign_to_SE_Customer_Service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA_SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_SV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_to_DK_Customer_Service_Queue</targetReference>
            </connector>
            <label>Assign to SE - Customer Service</label>
        </rules>
    </decisions>
    <description>Updated to set &quot;Was Created Using Utility Bar&quot; when creating through this flow</description>
    <environments>Default</environments>
    <interviewLabel>Case: Create Case (Screen Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Create Case (Screen Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>710</locationX>
        <locationY>1142</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_3_Case_Succesfully_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CaseRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseRecord.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>CaseRecord.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Unit__c</field>
            <value>
                <elementReference>$User.Market_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>radOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>CaseRecord.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>plCaseReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>plStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseRecord.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>CaseRecord.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>CaseRecord.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_Created_Using_Utility_Bar__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Screen_1_Input_Fields</name>
        <label>Screen 1 - Input Fields</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Determine_Record_Type</targetReference>
        </connector>
        <fields>
            <name>S1_displayHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Create a New Case&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayContactInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Contact Information&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_1_Input_Fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Input_Fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtName</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The customer&apos;s name&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>txtSubject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Brief description of what the issue is&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Input_Fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtPhone</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The customer&apos;s phone number&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CaseRecord.AccountId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Input_Fields_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtEmail</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The customer&apos;s email&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CaseRecord.Lead__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayInternalNotes</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Internal Notes&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_1_Input_Fields_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Input_Fields_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>plStatus</name>
                    <choiceReferences>New</choiceReferences>
                    <choiceReferences>In_Progress</choiceReferences>
                    <choiceReferences>Waiting_for_Customer</choiceReferences>
                    <choiceReferences>Response_Received</choiceReferences>
                    <choiceReferences>On_Hold</choiceReferences>
                    <choiceReferences>Escalated</choiceReferences>
                    <choiceReferences>Closed</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>In_Progress</defaultSelectedChoiceReference>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>longtxtDescription</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;OPTIONAL: If needed, you can describe, in more detail, what the issue is about. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Input_Fields_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>plCaseReason</name>
                    <choiceReferences>Problems_with_Public_Registration</choiceReferences>
                    <choiceReferences>Questions_about_document_procedures</choiceReferences>
                    <choiceReferences>Questions_about_the_contens_of_documents</choiceReferences>
                    <choiceReferences>Requesting_Update_on_Status</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Case Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Help us categorize what caused the issue by filling out this field. &lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>txtDescribeCaseReason</name>
                    <dataType>String</dataType>
                    <fieldText>Describe Case Reason</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter a brief description about &lt;em&gt;why&lt;/em&gt; you think the issue occured. Preferably not more than 4-5 words.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>plCaseReason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Input_Fields_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>radOrigin</name>
                    <choiceReferences>Phone</choiceReferences>
                    <choiceReferences>Email</choiceReferences>
                    <choiceReferences>Internal_Inquiry</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Phone</defaultSelectedChoiceReference>
                    <fieldText>Origin</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Log the origin of the case - whether, for example, a customer called or emailed in or it was an internal inquiry, from e.g. a co-worker.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>radCaseOwner</name>
                    <choiceReferences>Assign_case_to_myself</choiceReferences>
                    <choiceReferences>Assign_case_to_the_team</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Assign_case_to_myself</defaultSelectedChoiceReference>
                    <fieldText>Case Owner</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;By default, any case you create is logged as your own case. However, you can assign it to the team, by selecting &quot;Assign case to the team&quot;, in which case, anyone will be able to help solve it. &lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Something_s_Wrong</name>
        <label>Screen 2 - Something&apos;s Wrong</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <fields>
            <name>displayErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Something went wrong&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;For some reason, we cannot determine where to put this case - contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3_Case_Succesfully_Created</name>
        <label>Screen 3 - Case Succesfully Created</label>
        <locationX>710</locationX>
        <locationY>1250</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_new_Record</targetReference>
        </connector>
        <fields>
            <name>S3_HeaderSuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 189, 50);&quot;&gt;Case Successfully Created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1_Input_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
