force-app/main/default/flows/Case_Create_Case_from_Other_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_new_Record</name>
        <label>Navigate to new Record</label>
        <locationX>446</locationX>
        <locationY>3182</locationY>
        <actionName>c:DFJ_navigateToNewRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:DFJ_navigateToNewRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_ID_from_Get_Account</name>
        <label>Assign Account ID from Get Account</label>
        <locationX>578</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_User_Set_Lead_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_ID_Set_By_User</name>
        <label>Assign Account ID Set By User</label>
        <locationX>314</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_User_Set_Lead_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Danish_Record_Type</name>
        <label>Assign Danish Record Type</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>recordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012W5000000N9aTIAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_User_Set_Account_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IT_Record_Type</name>
        <label>Assign IT Record Type</label>
        <locationX>578</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>recordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012W5000000N9XFIA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_User_Set_Account_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_ID_from_Get_Lead</name>
        <label>Assign Lead ID from Get Lead</label>
        <locationX>578</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_ID_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_ID_Set_By_User</name>
        <label>Assign Lead ID Set By User</label>
        <locationX>314</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_ID_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_ID_s</name>
        <label>Assign Other ID&apos;s</label>
        <locationX>446</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>journalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Journal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Swedish_Record_Type</name>
        <label>Assign Swedish Record Type</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>recordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012W5000000N9dhIAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_User_Set_Account_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_s_Contact_Info</name>
        <label>Assign User&apos;s Contact Info</label>
        <locationX>616</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>varName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1_Input_Fields</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Customer_Service</name>
        <choiceText>Customer Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>IT_Department</name>
        <choiceText>IT Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IT Department</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>616</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_s_Contact_Info</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Found</name>
        <label>Case Found?</label>
        <locationX>781</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_s_Contact_Info</targetReference>
            </connector>
            <label>Case Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Record_Type</name>
        <label>Determine Record Type</label>
        <locationX>446</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Screen_2_Something_s_Wrong</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Denmark</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>plSendTicketTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer_Service</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Danish_Record_Type</targetReference>
            </connector>
            <label>Denmark</label>
        </rules>
        <rules>
            <name>Sweden</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA_SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_SV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>plSendTicketTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer_Service</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Swedish_Record_Type</targetReference>
            </connector>
            <label>Sweden</label>
        </rules>
        <rules>
            <name>Ticket_for_IT_Department</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>plSendTicketTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IT_Department</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IT_Record_Type</targetReference>
            </connector>
            <label>Ticket for IT Department</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_User_Set_Account_ID</name>
        <label>Did User Set Account ID?</label>
        <locationX>446</locationX>
        <locationY>2258</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_ID_from_Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set it from Get Account</defaultConnectorLabel>
        <rules>
            <name>Account_ID_Set_Was_Set_By_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_ID_Set_By_User</targetReference>
            </connector>
            <label>Account ID Set Was Set By User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_User_Set_Lead_ID</name>
        <label>Did User Set Lead ID?</label>
        <locationX>446</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_ID_from_Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set it from Get Lead</defaultConnectorLabel>
        <rules>
            <name>Lead_ID_Was_Set_By_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_ID_Set_By_User</targetReference>
            </connector>
            <label>Lead ID Was Set By User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_RecordId</name>
        <label>Is there a RecordId?</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1_Input_Fields</targetReference>
            </connector>
            <label>RecordId Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Journal_Found</name>
        <label>Journal Found?</label>
        <locationX>1067</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Journal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Journal.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_s_Contact_Info</targetReference>
            </connector>
            <label>Journal Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Found</name>
        <label>Lead Found?</label>
        <locationX>935</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Journal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_s_Contact_Info</targetReference>
            </connector>
            <label>Lead Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case: Create Case from Other Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Create an Internal Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>446</locationX>
        <locationY>2966</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_3_Case_Succesfully_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>longtxtDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journal__c</field>
            <value>
                <elementReference>journalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>parentCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>txtPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>txtSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>txtEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>txtName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>616</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If the Case being created, is created from a Screen Flow on an existing Case, the Case found in this element, will be used as &quot;Parent Case&quot; on the new case we&apos;re creating.</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>781</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Journal</name>
        <label>Get Journal</label>
        <locationX>1067</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Journal_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>935</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_1_Input_Fields</name>
        <label>Screen 1 - Input Fields</label>
        <locationX>446</locationX>
        <locationY>1742</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Determine_Record_Type</targetReference>
        </connector>
        <fields>
            <name>S1_displayHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Create a New Case!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayContactInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Contact Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_1_Input_Fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Input_Fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varName</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>txtSubject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Input_Fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtEmail</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CaseRecord.AccountId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Input_Fields_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtPhone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varPhone</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CaseRecord.Lead__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Lead.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayNotesAndInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Notes &amp;amp; Information&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_1_Input_Fields_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Input_Fields_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Screen_1_Input_Fields_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Input_Fields_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>longtxtDescription</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Input_Fields_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>plSendTicketTo</name>
                    <choiceReferences>Customer_Service</choiceReferences>
                    <choiceReferences>IT_Department</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Customer_Service</defaultSelectedChoiceReference>
                    <fieldText>Send Ticket To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Something_s_Wrong</name>
        <label>Screen 2 - Something&apos;s Wrong</label>
        <locationX>842</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <fields>
            <name>displayErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Something went wrong&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;For some reason, we cannot determine where to put this case - contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3_Case_Succesfully_Created</name>
        <label>Screen 3 - Case Succesfully Created</label>
        <locationX>446</locationX>
        <locationY>3074</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_new_Record</targetReference>
        </connector>
        <fields>
            <name>S3_HeaderSuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 167, 48);&quot;&gt;Case Successfully Created!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Proceed to go to the new case&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_a_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varUserFullName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>journalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
