force-app/main/default/flows/CPR_Outbound_Nightly_Export.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CPR_Export_inddata_06</name>
        <label>CPR Export inddata 06</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CPROutbound06Exporter</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CPROutbound06Exporter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_any_CPR_Subscription_Adds</name>
        <label>Did We Find any CPR Subscription Adds?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_CPR_Subscription_Adds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPR_Subscription_Adds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPR_Export_inddata_06</targetReference>
            </connector>
            <label>Got CPR Subscription Adds</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CPR Outbound Nightly Export {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPR Outbound Nightly Export</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CPR_Subscription_Adds</name>
        <label>Get CPR Subscription Adds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_any_CPR_Subscription_Adds</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Outbound_Batch__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPR_Subscription_Add__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CPR_Subscription_Adds</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-08-22</startDate>
            <startTime>02:05:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>CPR Outbound Nightly Export</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
