force-app/main/default/flows/Record_Triggered_Host_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Campaigns_and_Events_to_Collections</name>
        <label>Add Campaigns and Events to Collections</label>
        <locationX>264</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>campaignCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Event</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Host_to_Campaign_and_Event</name>
        <label>Assign New Host to Campaign and Event</label>
        <locationX>264</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>Loop_Campaigns.Host__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Host.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event.Host__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Host.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event.Host_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Host.Host_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Campaigns.Host_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Host.Host_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Campaigns_and_Events_to_Collections</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Record-Triggered: Host Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Triggered: Host Deleted</label>
    <loops>
        <name>Loop_Campaigns</name>
        <label>Loop Campaigns</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Campaigns</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Host</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Campaigns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaigns</name>
        <label>Get Campaigns</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Host__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Host_to_Campaign_and_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Host</name>
        <label>Get Host</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Campaigns.Venue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hosts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaigns</name>
        <label>Update Campaigns</label>
        <locationX>176</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
        <inputReference>campaignCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <inputReference>eventCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
        <object>Hosts__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>campaignCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>eventCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
