force-app/main/default/flows/RT_Case_Changed_from_In_Progress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Most_Recent_Response_Values</name>
        <label>Assign Most Recent Response Values</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>MostRecentResponseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MostRecentResponseTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_This_the_First_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Response_Values</name>
        <label>Set First Response Values</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>FirstResponseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstResponseTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_We_Reset_the_Owner_to_a_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Should_We_Reset_the_Owner_to_a_Queue</name>
        <label>Should We Reset the Owner to a Queue?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reset_Owner_to_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_as_My_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AL_Find_Case_Queue_from_Input_Case</targetReference>
            </connector>
            <label>Reset Owner to Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_This_the_First_Response</name>
        <label>Was This the First Response?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Should_We_Reset_the_Owner_to_a_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Response_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Response_Values</targetReference>
            </connector>
            <label>First Response</label>
        </rules>
    </decisions>
    <decisions>
        <description>Proceeds with first path if Status was changed to &quot;New&quot; or &quot;On Hold&quot; or second path, if &quot;Waiting for Reply&quot; or &quot;Waiting for Customer&quot;.</description>
        <name>What_Was_the_Status_Changed_to</name>
        <label>What Was the Status Changed to?</label>
        <locationX>214</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_On_Hold</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AL_Find_Case_Queue_from_Input_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New / On Hold</label>
        </rules>
        <rules>
            <name>Waiting_for_Reply_Waiting_for_Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Reply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Most_Recent_Response_Values</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Waiting for Reply / Waiting for Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT - Case: Changed from &quot;In Progress&quot; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Case: Changed from &quot;In Progress&quot;</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>214</locationX>
        <locationY>1289</locationY>
        <inputAssignments>
            <field>First_Response_By__c</field>
            <value>
                <elementReference>FirstResponseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Response_Time__c</field>
            <value>
                <elementReference>FirstResponseTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Response_By__c</field>
            <value>
                <elementReference>MostRecentResponseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Response_Time__c</field>
            <value>
                <elementReference>MostRecentResponseTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>88</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Was_the_Status_Changed_to</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Find_Case_Queue_from_Input_Case</name>
        <label>AL - Find Case Queue from Input Case</label>
        <locationX>214</locationX>
        <locationY>1181</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowName>AL_Find_Case_Queue_from_Input_Case</flowName>
        <inputAssignments>
            <name>inputCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <name>QueueId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>FirstResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.First_Response_By__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>FirstResponseTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.First_Response_Time__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>MostRecentResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Most_Recent_Response_By__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>MostRecentResponseTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Most_Recent_Response_Time__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.OwnerId</elementReference>
        </value>
    </variables>
    <variables>
        <name>QueueSearch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
