force-app/main/default/flows/RT_CPR_Event_Death_CPR_Event_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Update_CPR_Event</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TVAHYDPPH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C09BYTETS01</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>ptSlackMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>SlackRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_to_Variables</name>
        <label>Assign Account to Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Journal_DK_2_0_Person__r.journal_dk_new__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Journal_DK_2_0_Person__r.journal_dk_new__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Values_to_Variables</name>
        <label>Assign Account Values to Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Account__r.FirstName} {!$Record.Account__r.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackRecordLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptAccountSlackRecordLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_to_Variables</name>
        <label>Assign Contact to Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_Related_Journal_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Values_to_Variables</name>
        <label>Assign Contact Values to Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Contact__r.FirstName} {!$Record.Contact__r.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackRecordLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptContactSlackRecordLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CPR_Event_ID_to_Slack_Record_ID</name>
        <label>Assign CPR Event ID to Slack Record ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackRecordLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptCprEventSlackRecordLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_to_Variables</name>
        <label>Assign Journal to Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Case.Journal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Journal_DK_2_0_Person__r.journal_dk_new__r.Journal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_an_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_True_to_IsCprChecked</name>
        <label>Assign True to IsCprChecked</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsCprChecked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Case</name>
        <label>Populate Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.CPR_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.CPR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CPR_From_File__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptCaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_in_Variable</name>
        <label>Set Contact in Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_to_Variables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_We_Have_a_Contact</name>
        <label>Do We Have a Contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Do_We_Have_a_CPR_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_in_Variable</targetReference>
            </connector>
            <label>Got Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_a_CPR_Number</name>
        <label>Do We Have a CPR Number?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_CPR_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPR_From_File__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCprChecked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_True_to_IsCprChecked</targetReference>
            </connector>
            <label>Got CPR Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Journal</name>
        <label>Is there a Journal?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_there_an_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Journal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.Journal_DK_2_0_Person__r.journal_dk_new__r.Journal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Journal_to_Variables</targetReference>
            </connector>
            <label>Journal Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Related_Journal_Person</name>
        <label>Is there a Related Journal Person?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Related_Journal_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.Journal_DK_2_0_Person__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Journal</targetReference>
            </connector>
            <label>Got Related Journal Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Account</name>
        <label>Is there an Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.Journal_DK_2_0_Person__r.journal_dk_new__r.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_to_Variables</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Related_Record_Do_We_Have</name>
        <label>Which Related Record Do We Have?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_CPR_Event_ID_to_Slack_Record_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default to CPR Event ID</defaultConnectorLabel>
        <rules>
            <name>Got_Account_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Values_to_Variables</targetReference>
            </connector>
            <label>Got Account ID</label>
        </rules>
        <rules>
            <name>Got_Contact_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Values_to_Variables</targetReference>
            </connector>
            <label>Got Contact ID</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT - CPR Event: Death CPR Event Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - CPR Event: Death CPR Event Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_CPR_Event</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Related_Record_Do_We_Have</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CPR_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>A21: Death notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_We_Have_a_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CPR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CPR_From_File__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds the Bereavement Team Queue and stores it&apos;s ID in the OwnerId on Case</description>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bereavement_Team</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>Case.OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Finds the &quot;DK CPR Death&quot; Record Type and stores the Record Type ID on Case</description>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DK_CPR_Death</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_CPR_Event</name>
        <label>Update CPR Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Is_Handled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Death_A21</stringValue>
            </value>
        </filters>
        <object>CPR_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>RT - CPR Event: Death CPR Event Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ptAccountSlackRecordLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>• Account: &lt;https://dfj.lightning.force.com/lightning/r/{!$Record.Account__c}/view|{!$Record.Account__r.FirstName} {!$Record.Account__r.LastName}&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ptCaseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>CPR A21 received. Effective: {!$Record.Effective_Date__c}. Event Id: {!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>ptCaseSlackRecordLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>• Case: &lt;https://dfj.lightning.force.com/lightning/r/{!Get_Case.Id}/view|#{!Get_Case.CaseNumber}&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ptCaseSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A21: Death notification for {!$Record.CPR_From_File__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ptContactSlackRecordLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>• Contact: &lt;https://dfj.lightning.force.com/lightning/r/{!$Record.Contact__c}/view|{!$Record.Contact__r.FirstName} {!$Record.Contact__r.LastName}&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ptCprEventSlackRecordLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>_Did not find a matching Account or Contact_
• CPR Event: &lt;https://dfj.lightning.force.com/lightning/r/{!$Record.Id}/view|{!$Record.Name}&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ptSlackMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>:skull_and_crossbones: *CPR A21 (Death)*

{!ptCaseSlackRecordLink}
{!SlackRecordLink}

• Event time: {!$Record.Event_Datetime__c}
• File run: &lt;https://dfj.lightning.force.com/lightning/r/CPR_File_Run__c/{!$Record.CPR_File_Run__c}/view|open run&gt;

_This is an automated notification from Salesforce._</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCprChecked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PersonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackRecordLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
