force-app/main/default/flows/RT_Event_Send_Appointment_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Twilio_Send_SMS_Message</name>
        <label>Twilio Send SMS Message</label>
        <locationX>710</locationX>
        <locationY>1901</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Did_We_Send_Through_Twilio</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromNumber</name>
            <value>
                <elementReference>FromNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SmsBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>ToNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_1_Hour_Before</name>
        <label>Assign 1-Hour-Before</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>SmsCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1HourBefore</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Related_Record_Do_We_Have</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1_Hour_Before_Templates_to_SMS_Bodies</name>
        <label>Assign 1-Hour-Before Templates to SMS Bodies</label>
        <locationX>314</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>SmsBodyDanish</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sms1HourBeforeDanish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsBodySwedish</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STOP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Market_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_24_Hours_Before</name>
        <label>Assign 24-Hours-Before</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>SmsCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>24HoursBefore</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Related_Record_Do_We_Have</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_24_Hours_Before_Templates_to_SMS_Bodies</name>
        <label>Assign 24-Hours-Before Templates to SMS Bodies</label>
        <locationX>578</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>SmsBodyDanish</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sms24HoursBeforeDanish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsBodySwedish</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STOP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Market_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Confirmation</name>
        <label>Assign Confirmation</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>SmsCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Related_Record_Do_We_Have</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ToNumber</name>
        <label>Assign ToNumber</label>
        <locationX>710</locationX>
        <locationY>1685</locationY>
        <assignmentItems>
            <assignToReference>ToNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_SMS_Record_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Confirmation_Templates_to_SMS_Bodies</name>
        <label>Assign Confirmation Templates to SMS Bodies</label>
        <locationX>50</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>SmsBodyDanish</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmsConfirmationDanish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsBodySwedish</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmsConfirmationSwedish</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Market_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Account_s_First_Name</name>
        <label>Populate Account&apos;s First Name</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_SMS_Are_We_Sending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>710</locationX>
        <locationY>2225</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_Market_Unit</name>
        <label>Populate Custom Error with Invalid Market Unit</label>
        <locationX>842</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Market Unit &quot;{!$Record.Market_Unit__c}&quot; is not supported</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_SMS_Category</name>
        <label>Populate Custom Error with Invalid SMS Category</label>
        <locationX>842</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS Category &quot;{!SmsCategory}&quot; is not supported. Valid values are &quot;Confirmation&quot;, &quot;24HoursBefore&quot; or &quot;1HourBefore&quot;.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Missing_Related_Record</name>
        <label>Populate Custom Error with Missing Related Record</label>
        <locationX>710</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Missing Related Record. Events for Reminders must be related to either Lead or Account.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lead_s_First_Name</name>
        <label>Populate Lead&apos;s First Name</label>
        <locationX>446</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_SMS_Are_We_Sending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_SMS_Record_Variable</name>
        <label>Populate SMS Record Variable</label>
        <locationX>710</locationX>
        <locationY>1793</locationY>
        <assignmentItems>
            <assignToReference>SmsRecord.Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsRecord.From_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FromNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsRecord.To_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsRecord.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmsBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsRecord.Send_Large_Messages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsRecord.Record_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Twilio_Send_SMS_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Danish_Values</name>
        <label>Set Danish Values</label>
        <locationX>50</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>FromNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4530812521</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmsBodyDanish</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_we_stop_sending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Irish_Values</name>
        <label>Set Irish Values</label>
        <locationX>578</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>FromNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00000000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmsBodyEnglish</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_we_stop_sending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Swedish_Values</name>
        <label>Set Swedish Values</label>
        <locationX>314</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>FromNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>46765106079</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmsBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmsBodySwedish</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_we_stop_sending</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Send_Through_Twilio</name>
        <label>Did We Send Through Twilio?</label>
        <locationX>710</locationX>
        <locationY>2009</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Skip_SMS_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Twilio_Send_SMS_Message</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_Record</targetReference>
            </connector>
            <label>Yes, Skip SMS Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_stop_sending</name>
        <label>Should we stop sending?</label>
        <locationX>446</locationX>
        <locationY>1577</locationY>
        <defaultConnector>
            <targetReference>Assign_ToNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Stop_Sending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SmsBody</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STOP</stringValue>
                </rightValue>
            </conditions>
            <label>Stop Sending</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Market_Unit</name>
        <label>What is the Market Unit?</label>
        <locationX>446</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Invalid_Market_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Danish_Market_Unit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Danish_Values</targetReference>
            </connector>
            <label>Danish Market Unit</label>
        </rules>
        <rules>
            <name>Swedish_Market_Unit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA_SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testamente_SV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Swedish_Values</targetReference>
            </connector>
            <label>Swedish Market Unit</label>
        </rules>
        <rules>
            <name>Irish_Market_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Irish_Values</targetReference>
            </connector>
            <label>Irish Market Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Related_Record_Do_We_Have</name>
        <label>Which Related Record Do We Have?</label>
        <locationX>446</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Missing_Related_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Related_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Account_s_First_Name</targetReference>
            </connector>
            <label>Got Related Account</label>
        </rules>
        <rules>
            <name>Got_Related_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lead_s_First_Name</targetReference>
            </connector>
            <label>Got Related Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_SMS_Are_We_Sending</name>
        <label>Which SMS Are We Sending?</label>
        <locationX>446</locationX>
        <locationY>845</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Invalid_SMS_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Confirmation_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SmsCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Confirmation_Templates_to_SMS_Bodies</targetReference>
            </connector>
            <label>Send Confirmation SMS</label>
        </rules>
        <rules>
            <name>Send_1_Hour_Before_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SmsCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1HourBefore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1_Hour_Before_Templates_to_SMS_Bodies</targetReference>
            </connector>
            <label>Send 1 Hour Before SMS</label>
        </rules>
        <rules>
            <name>Send_24_Hours_Before_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SmsCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>24HoursBefore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_24_Hours_Before_Templates_to_SMS_Bodies</targetReference>
            </connector>
            <label>Send 24 Hours Before SMS</label>
        </rules>
    </decisions>
    <description>This is a Record-Triggered Flow.
This flow triggers when an Event record is created and meets certain conditions. It sends SMS reminders and confirmations using Twilio, with templates varying based on the event type, related records, and market unit. The flow considers events starting within 24 hours, has a null Calendly Event Type, starts with &apos;Call with&apos; in the subject, has a non-null Phone_Text__c field, and either a null Lead__c or WhatId field, with SMS_Reminders_New__c set to &apos;Yes&apos;. It assigns appropriate SMS body templates based on the market unit and sends messages using Twilio.

Several objects and their fields worth mentioning. Below are the details (the format is given as: object_name - field_name: interaction)
  * Event - StartDateTime : Used to schedule reminders and determine if the event is within 24 hours.
  * Event - Calendly_Event_Type__c : Checked to ensure it&apos;s null.
  * Event - Subject : Used to filter events starting with &apos;Call with&apos;.
  * Event - Phone_Text__c : Ensures the field is not null.
  * Event - Lead__c : Checked to see if it&apos;s null.
  * Event - WhatId : Ensured to be null.
  * Event - SMS_Reminders_New__c : Verified to be &apos;Yes&apos;.
  * Event - Market_Unit__c : Used to determine the market unit for SMS templates.</description>
    <environments>Default</environments>
    <interviewLabel>RT - Event: Send Appointment Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Event: Send Appointment Reminders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS_Record</name>
        <label>Create SMS Record</label>
        <locationX>446</locationX>
        <locationY>2117</locationY>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>SmsRecord</inputReference>
    </recordCreates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Confirmation</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND (4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Calendly_Event_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Call with</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phone_Text__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SMS_Reminders_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_hour_before_start</name>
            <connector>
                <targetReference>Assign_1_Hour_Before</targetReference>
            </connector>
            <label>1 hour before start</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>StartDateTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X24_hours_before_start</name>
            <connector>
                <targetReference>Assign_24_Hours_Before</targetReference>
            </connector>
            <label>24 hours before start</label>
            <offsetNumber>-24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>StartDateTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>710</locationX>
        <locationY>2333</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>RT - Event: Send Appointment Reminders</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Sms1HourBeforeDanish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Kære {!FirstName}, dette er blot en påmindelse om vores aftale om en time, {!$Record.StartDateTime}. Med venlig hilsen, 
Din Familiejurist.
Denne besked kan ikke besvares - såfremt du bliver forhindret i at deltage, giv venligst besked ved at sende en email til mig på {!$Record.Owner:User.Email}.</text>
    </textTemplates>
    <textTemplates>
        <name>Sms1HourBeforeSwedish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hej {!FirstName}, detta är bara en påminnelse om ditt möte med Din Familjejurist om en timme, {!$Record.StartDateTime}. Vänliga hälsningar, Din Familjejurist</text>
    </textTemplates>
    <textTemplates>
        <name>Sms24HoursBeforeDanish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Kære {!FirstName}, Vi glæder os til det aftalte møde i morgen, d. {!$Record.StartDateTime}. Hav gerne gjort jer nogle tanker om, hvad I ønsker og forventer. Med venlig hilsen, Din Familiejurist. Skulle du, imod forventning, blive forhindret, bedes du venligst give besked ved at besvare denne SMS, med det samme.</text>
    </textTemplates>
    <textTemplates>
        <name>SmsConfirmationDanish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Kære {!FirstName}, dette er blot en påmindelse om vores aftale om en time, {!$Record.StartDateTime}. Med venlig hilsen, 
Din Familiejurist.
Denne besked kan ikke besvares - såfremt du bliver forhindret i at deltage, giv venligst besked ved at sende en email til mig på {!$Record.Owner:User.Email}.</text>
    </textTemplates>
    <textTemplates>
        <name>SmsConfirmationSwedish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hej {!FirstName}, detta är en bekräftelse på din tid den {!$Record.StartDateTime}. Med vänliga hälsningar, Din Familjejurist</text>
    </textTemplates>
    <triggerOrder>20</triggerOrder>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SmsBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SmsBodyDanish</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SmsBodyEnglish</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SmsBodySwedish</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SmsCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SmsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
    <variables>
        <name>ToNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
