force-app/main/default/flows/RT_Host_When_Account_is_Populated_check_for_Existing_Relations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Set_Account_s_Related_Host_in_Host_ID_Variable</name>
        <label>Set Account&apos;s Related Host in Host ID Variable</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>HostId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounts.Related_Host__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Throw_Multiple_Lookup_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Host_s_Record_ID_in_Host_ID_Variable</name>
        <label>Set Existing Host&apos;s Record ID in Host ID Variable</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>HostId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Hosts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Throw_Multiple_Lookup_Error</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Throw_Multiple_Lookup_Error</name>
        <label>Throw Multiple Lookup Error</label>
        <locationX>248</locationX>
        <locationY>995</locationY>
        <customErrorMessages>
            <errorMessage>The Account you&apos;re trying to populate on the Host, is already relatede to another Host.

Link to existing related host:
https://dfj.lightning.force.com/lightning/r/{!HostId}/view</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Does_Account_Already_have_a_Related_Host</name>
        <label>Does Account Already have a Related Host?</label>
        <locationX>248</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Hosts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Already_has_Related_Host</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_s_Related_Host_in_Host_ID_Variable</targetReference>
            </connector>
            <label>Account Already has Related Host</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Any_Other_Hosts_Already_Lookup_to_the_same_Account</name>
        <label>Does Any Other Hosts Already Lookup to the same Account?</label>
        <locationX>446</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Host_has_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Hosts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Host_s_Record_ID_in_Host_ID_Variable</targetReference>
            </connector>
            <label>Other Host has Lookup</label>
        </rules>
    </decisions>
    <description>This flow blocks new lookups to an Account that already has another related Host</description>
    <environments>Default</environments>
    <interviewLabel>RT - Host: When Account is Populated, check for Existing Relations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Host: When Account is Populated, check for Existing Relations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_Already_have_a_Related_Host</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Host__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_Host__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hosts</name>
        <label>Get Hosts</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Any_Other_Hosts_Already_Lookup_to_the_same_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hosts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Hosts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HostId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
