force-app/main/default/flows/RT_Lead_When_Company_Lead_is_Created_Set_Last_Name_to_N_A.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Set_Danish_Values</name>
        <label>Set Danish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Danish_Event_Bookers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Irish_Values</name>
        <label>Set Irish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Irish_Event_Coordinators</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Swedish_Values</name>
        <label>Set Swedish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Swedish_Event_Bookers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Queue_to_Find</name>
        <label>Which Queue to Find?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Danish_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Danish_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Danish_Values</targetReference>
            </connector>
            <label>Danish Queue</label>
        </rules>
        <rules>
            <name>Swedish_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA_SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Swedish_Values</targetReference>
            </connector>
            <label>Swedish Queue</label>
        </rules>
        <rules>
            <name>Irish_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Irish_Values</targetReference>
            </connector>
            <label>Irish Queue</label>
        </rules>
    </decisions>
    <description>Updated to set Last Name to Unknown instead of N/A</description>
    <environments>Default</environments>
    <interviewLabel>RT - Lead: When Company Lead is Created, Set Last Name to N/A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Lead: When Company Lead is Created, Set Last Name to N/A</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Queue</name>
        <label>Get Group (Queue)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Queue_to_Find</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Host</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Sets Last Name to &quot;N/A&quot;</description>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Entry_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Unit__c</field>
            <value>
                <elementReference>$User.Market_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Group_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
