force-app/main/default/flows/RT_PersonAccount_Total_Calls_is_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Count_Calls_Since_Latest_Campaign</name>
        <label>Count Calls Since Latest Campaign</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>numCallsSinceLatestCampaign</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Telegenta_Call_Histories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Calls_Since_Latest_Campaign_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_Calls_and_Determine_Outcome</name>
        <label>Count Calls and Determine Outcome</label>
        <locationX>336</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Do_We_Have_Calls_Since_Latest_Campaign_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Status__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Calls__pc</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Working_Status__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_with_Closed_Values</targetReference>
            </connector>
            <label>Close Account</label>
        </rules>
        <rules>
            <name>Invalidate_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Working_Status__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missed Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Calls__pc</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsuccessful_Calls__pc</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_with_Invalid_Values</targetReference>
            </connector>
            <label>Invalidate Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_a_Latest_Campaign_Date</name>
        <label>Do We Have a Latest Campaign Date?</label>
        <locationX>336</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Count_Calls_and_Determine_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Latest_Campaign_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Latest_Campaign_Date__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Telegenta_Call_Histories</targetReference>
            </connector>
            <label>Got Latest Campaign Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_Calls_Since_Latest_Campaign_Set</name>
        <label>Do We Have Calls Since Latest Campaign Set?</label>
        <locationX>336</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Calls_Since_Latest_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCallsSinceLatestCampaign</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Account_with_Calls_Since_Latest_Campaign</targetReference>
            </connector>
            <label>Got Calls Since Latest Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Calls_Since_Latest_Campaign_Date</name>
        <label>How Many Calls Since Latest Campaign Date?</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Count_Calls_and_Determine_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fewer_than_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCallsSinceLatestCampaign</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_with_Calls_Since_Latest_Campaign</targetReference>
            </connector>
            <label>Fewer than 8</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT - PersonAccount: Total Calls is Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - PersonAccount: Total Calls is Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Telegenta_Call_Histories</name>
        <label>Get Telegenta Call Histories</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Calls_Since_Latest_Campaign</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>telegenta__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>telegenta__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Latest_Campaign_Date__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>telegenta__Telegenta_Call_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_with_Calls_Since_Latest_Campaign</name>
        <label>Update Account with Calls Since Latest Campaign</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Calls_Since_Latest_Campaign__pc</field>
            <value>
                <elementReference>numCallsSinceLatestCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Closed_Values</name>
        <label>Update Account with Closed Values</label>
        <locationX>72</locationX>
        <locationY>1211</locationY>
        <connector>
            <targetReference>Do_We_Have_Calls_Since_Latest_Campaign_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Status__pc</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Status__pc</field>
            <value>
                <stringValue>Maxcall</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Invalid_Values</name>
        <label>Update Account with Invalid Values</label>
        <locationX>336</locationX>
        <locationY>1211</locationY>
        <connector>
            <targetReference>Do_We_Have_Calls_Since_Latest_Campaign_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Status__pc</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Status__pc</field>
            <value>
                <stringValue>Maxcall</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_We_Have_a_Latest_Campaign_Date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Total_Calls__pc</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CallsSinceLastCampaign</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LatestCampaignDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numCallsSinceLatestCampaign</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCalls</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
