force-app/main/default/flows/RT_Prospect_When_Updated_with_Resulting_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>1810</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Missing_Referring_Record</name>
        <label>Populate Custom Error with Missing Referring Record</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>When User Created Type is Set to Reference, a Referring Account or Referring Lead must be populated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_Reference_Subflow_Succeed</name>
        <label>Did Reference Subflow Succeed?</label>
        <locationX>578</locationX>
        <locationY>1121</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reference_Subflow_is_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsReferenceSubflowSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Reference Subflow is Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_Reference</name>
        <label>Is it a Reference?</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Created_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Is Reference</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Referring_Record_Do_We_Have</name>
        <label>Which Referring Record Do We Have?</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Missing_Referring_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referring_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Created_From_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get</targetReference>
            </connector>
            <label>Referring Account</label>
        </rules>
        <rules>
            <name>Referring_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Created_From_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referring_Lead</targetReference>
            </connector>
            <label>Referring Lead</label>
        </rules>
    </decisions>
    <description>When a Prospect is &quot;Converted&quot;, meaning it was updated with a &quot;Resulting Lead&quot;, we set status to &quot;Converted to Lead&quot;. Additionally, if User Created Type is set to Reference, we run the &quot;AL - Create Customer Reference from Input Values&quot; subflow and create a Customer Reference as well.</description>
    <environments>Default</environments>
    <interviewLabel>RT - Prospect: When Updated with Resulting Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Prospect: When Updated with Resulting Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get Referring Account</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AL_Create_Customer_Reference_from_Input_Values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_From_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds the Resulting Lead just set on the Prospect</description>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Referring_Record_Do_We_Have</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resulting_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referring_Lead</name>
        <label>Get Referring Lead</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AL_Create_Customer_Reference_from_Input_Values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_From_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Status of the Prospect to Converted To Lead</description>
        <name>Update_Prospect</name>
        <label>Update Prospect</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Is_it_a_Reference</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Prospect_Status__c</field>
            <value>
                <stringValue>Converted To Lead</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Prospect</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resulting_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Prospect__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Create_Customer_Reference_from_Input_Values</name>
        <label>AL - Create Customer Reference from Input Values</label>
        <locationX>578</locationX>
        <locationY>1013</locationY>
        <connector>
            <targetReference>Did_Reference_Subflow_Succeed</targetReference>
        </connector>
        <flowName>AL_Create_Customer_Reference_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCreatedLead</name>
            <value>
                <elementReference>Get_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputProspect</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputReferringAccount</name>
            <value>
                <elementReference>Get</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputReferringLead</name>
            <value>
                <elementReference>Get_Referring_Lead</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CustomError</assignToReference>
            <name>CustomError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsReferenceSubflowSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>1810</locationX>
        <locationY>539</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>RT - Prospect: When Updated with Resulting Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsReferenceSubflowSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
