force-app/main/default/flows/Scheduled_Create_Missing_Public_Document_Registrations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>PublicDocumentRegistrationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PublicDocumentRegistration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Collection</name>
        <label>Count Collection</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_We_Add_All_Document_Registrations_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Public_Document_Registration_Record</name>
        <label>Populate Public Document Registration Record</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>PublicDocumentRegistration.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PublicDocumentRegistration.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PublicDocumentRegistration.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PublicDocumentRegistration.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055J000001WTqgQAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PublicDocumentRegistration.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out of Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Add_All_Document_Registrations_to_Collection</name>
        <label>Did We Add All Document Registrations to Collection?</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Public_Document_Registration_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Registrations_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmMissingPDRs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Public_Document_Registration_Record</targetReference>
            </connector>
            <label>All Registrations Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quantity_Greater_than_PDR_Count</name>
        <label>Is Quantity Greater than PDR Count?</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_is_Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Number_of_Public_Document_Registrations__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Public_Document_Registration_Record</targetReference>
            </connector>
            <label>Quantity is Greater</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmMissingPDRs</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity} - {!$Record.Number_of_Public_Document_Registrations__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Scheduled: Create Missing Public Document Registrations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled: Create Missing Public Document Registrations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Public_Document_Registration_Record</name>
        <label>Create Public Document Registration Record</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <inputReference>PublicDocumentRegistrationCollection</inputReference>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Quantity_Greater_than_PDR_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Requires_Tinglysning__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-12-04</startDate>
            <startTime>09:28:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Count</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>PublicDocumentRegistration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Public_Document_Registration__c</objectType>
    </variables>
    <variables>
        <name>PublicDocumentRegistrationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Public_Document_Registration__c</objectType>
    </variables>
</Flow>
