force-app/main/default/flows/Scheduled_Submit_Time_Sheets_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Time_Sheet_to_Collection</name>
        <label>Assign Time Sheet to Collection</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Flow_Submit_Time_Sheet_s_for_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Variables_for_Approval_Process</name>
        <label>Assign Values to Variables for Approval Process</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>outputApprovalProcessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>04aW50000006vd7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputNextApproverTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>approverIsEmployee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSkipEntryCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSubmissionComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please review your time sheet for last month.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSubmitterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employee_s_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Time_Sheet_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>a155J000000X9q7QAC</description>
        <name>Is_it_the_first_day_of_the_month</name>
        <label>Is it the first day of the month?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>End Flow</defaultConnectorLabel>
        <rules>
            <name>First_Day_of_the_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFirstDayOfMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Variables_for_Approval_Process</targetReference>
            </connector>
            <label>First Day of the Month</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsFirstDayOfMonth</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 1</expression>
    </formulas>
    <interviewLabel>Scheduled: Submit Time Sheets for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled: Submit Time Sheets for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_the_first_day_of_the_month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Required_to_Approve_Time_Sheets__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Time_Sheet_from_Last_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Time_Sheet__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-15</startDate>
            <startTime>09:46:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Action_Flow_Submit_Time_Sheet_s_for_Approval</name>
        <label>Action Flow: Submit Time Sheet(s) for Approval</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <flowName>Action_Flow_Submit_Time_Sheet_s_for_Approval</flowName>
        <inputAssignments>
            <name>inputApprovalProcessId</name>
            <value>
                <elementReference>outputApprovalProcessId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputMultipleTimeSheetRecords</name>
            <value>
                <elementReference>TimeSheetCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputNextApproverTerms</name>
            <value>
                <elementReference>outputNextApproverTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSingleTimeSheetRecord</name>
        </inputAssignments>
        <inputAssignments>
            <name>inputSkipEntryCriteria</name>
            <value>
                <elementReference>outputSkipEntryCriteria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSubmissionComments</name>
            <value>
                <elementReference>outputSubmissionComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSubmitterId</name>
            <value>
                <elementReference>outputSubmitterId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>outputApprovalProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputNextApproverTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputSkipEntryCriteria</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputSubmissionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputSubmitterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeSheetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Sheet__c</objectType>
    </variables>
    <variables>
        <name>varNextApproverIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
