force-app/main/default/flows/Screen_Flow_Assign_Licenses_to_Specific_Employee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Final_Collection</name>
        <label>Add to Final Collection</label>
        <locationX>446</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>finalLicenseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LicenseCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MonthlyCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Collection.Monthly_License_Cost_in_DKK__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_License_Collection</name>
        <label>Add to License Collection</label>
        <locationX>270</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>licenseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>licenseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_License_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Licenses_Found_False</name>
        <label>Assign Licenses Found False</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>LicensesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1_Display_Existing_Licenses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Licenses_Found_True</name>
        <label>Assign Licenses Found True</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>LicensesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1_Display_Existing_Licenses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_License_Variable</name>
        <label>Populate License Variable</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>licenseRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_License_Types.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>licenseRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>licenseRecord.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>licenseRecord.Issue_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>licenseRecord.License_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_License_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>licenseRecord.Employment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee.Employment_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_License_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_by_Roles</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter by Roles</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNextValueToReference>currentItem_Filter_by_Roles</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_License_Types</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_by_Roles.Applicable_Roles__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Get_Employee.Role__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Screen_2_Select_License_Types</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Did_we_find_an_Employee</name>
        <label>Did we find an Employee?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Employee Found</defaultConnectorLabel>
        <rules>
            <name>Employee_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Licenses</targetReference>
            </connector>
            <label>Employee Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_Find_any_Licenses</name>
        <label>Did we Find any Licenses?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Licenses_Found_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Licenses</defaultConnectorLabel>
        <rules>
            <name>Licenses_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Licenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Licenses_Found_True</targetReference>
            </connector>
            <label>Licenses Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_Already_Have_License</name>
        <label>Does User Already Have License?</label>
        <locationX>358</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Add_to_Final_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Licenses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Collection</targetReference>
            </connector>
            <label>Duplicate Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Any_Licenses_Added</name>
        <label>Was Any Licenses Added?</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Screen_3_No_Licenses_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Licenses Added</defaultConnectorLabel>
        <rules>
            <name>Licenses_were_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finalLicenseCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_License_Records</targetReference>
            </connector>
            <label>Licenses were Added</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Screen Flow: Assign Licenses to Specific Employee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Assign Licenses to Specific Employee</label>
    <loops>
        <name>Loop_Collection</name>
        <label>Loop Collection</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <collectionReference>licenseCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing_Licenses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_Any_Licenses_Added</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_License_Types</name>
        <label>Loop Selected License Types</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <collectionReference>dtLicenseTypes.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_License_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_License_Records</name>
        <label>Create License Records</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Screen_2_Success</targetReference>
        </connector>
        <inputReference>finalLicenseCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employee</name>
        <label>Get Employee</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_an_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFDC_Employee__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Licenses</name>
        <label>Get Existing Licenses</label>
        <locationX>358</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_Already_Have_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>License_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Collection.License_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>License__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_License_Types</name>
        <label>Get License Types</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_by_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>License_Type_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User License</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>License_Type__c</object>
        <sortField>Provider__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Licenses</name>
        <label>Get Licenses</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_Find_any_Licenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>License__c</object>
        <sortField>License_Provider__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Screen_1_Display_Existing_Licenses</name>
        <label>Screen 1 - Display Existing Licenses</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_License_Types</targetReference>
        </connector>
        <fields>
            <name>headerExistingLicenses</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Existing Licenses assigned to {!Get_Employee.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LicensesFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayNoExistingLicenses</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We found no existing licenses assigned to {!Get_Employee.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Licenses_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtCurrentLicenses</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>License__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Licenses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Licenses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;License_Provider__c&quot;,&quot;guid&quot;:&quot;column-ee30&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;License Provider&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c18c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;License Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Monthly_License_Cost_in_DKK__c&quot;,&quot;guid&quot;:&quot;column-cce7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Monthly License Cost in DKK&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed to License Assignment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Select_License_Types</name>
        <label>Screen 2 - Select License Types</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_License_Types</targetReference>
        </connector>
        <fields>
            <name>displaySelectLicenses</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Select Licenses to Assign&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Commonly used licenses for this role, has been pre-selected.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;If the user does not need a license, please uncheck the box.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtLicenseTypes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>License_Type__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>License Types</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_License_Types</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;License_Provider_Name__c&quot;,&quot;guid&quot;:&quot;column-d400&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Provider&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;License Provider Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c8ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;License Type Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Monthly_Cost_Per_License_in_DKK__c&quot;,&quot;guid&quot;:&quot;column-9e1f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Monthly Cost Per License in DKK&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Yearly_Cost_Per_License_in_DKK__c&quot;,&quot;guid&quot;:&quot;column-a2ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Yearly Cost Per License in DKK&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>99.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Filter_by_Roles</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Success</name>
        <label>Screen 2 - Success</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaySuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 153, 20); font-size: 20px;&quot;&gt;License Records successfully created&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Info:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Licenses created for:&lt;/strong&gt; {!Get_Employee.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Number of Licenses Created:&lt;/strong&gt; {!LicenseCount}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Monthly Cost of Licenses in DKK:&lt;/strong&gt; {!MonthlyCost}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;Disclaimer:&lt;/strong&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; No actual licenses were created, we just told Salesforce that they exist&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Add more licenses</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3_No_Licenses_Added</name>
        <label>Screen 3 - No Licenses Added</label>
        <locationX>314</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayNoLicenses</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;We can&apos;t see that you added any new licenses&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Collection_Filter_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>License__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_by_Roles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>License_Type__c</objectType>
    </variables>
    <variables>
        <name>finalLicenseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>License__c</objectType>
    </variables>
    <variables>
        <name>licenseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>License__c</objectType>
    </variables>
    <variables>
        <name>LicenseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>licenseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>License__c</objectType>
    </variables>
    <variables>
        <name>LicensesFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MonthlyCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
