force-app/main/default/flows/Screen_Flow_Convert_Case_to_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_User_About_Converted_Case</name>
        <label>Email User About Converted Case</label>
        <locationX>336</locationX>
        <locationY>2498</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Navigate_to_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ToEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@dinfamiliejurist.dk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>CommaSeparatedCcRecipients</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Project</name>
        <label>Navigate to Project</label>
        <locationX>545</locationX>
        <locationY>2690</locationY>
        <actionName>c:DFJ_navigateToNewRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>ProjectRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:DFJ_navigateToNewRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Added_Recipient_to_ToEmail_Variable</name>
        <label>Assign Added Recipient to ToEmail Variable</label>
        <locationX>490</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ToEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_have_a_note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Record_Type_ID</name>
        <label>Assign Child Record Type ID</label>
        <locationX>545</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>recordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012W5000001UVnNIAW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Project_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Closed_Status_to_Case</name>
        <label>Assign Closed Status to Case</label>
        <locationX>413</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted to Project</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_3_Input_Project_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Record_Type_ID</name>
        <label>Assign Parent Record Type ID</label>
        <locationX>281</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>recordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012W5000001UVllIAG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Project_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Supplied_Email_to_ToEmail_Variable</name>
        <label>Assign Supplied Email to ToEmail Variable</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>ToEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_have_a_note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Project_Variable</name>
        <label>Assign Values to Project Variable</label>
        <locationX>545</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>ProjectRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Project_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProjectStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProjectDeadline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Parent_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>luParentProject.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Is_From_Converted_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Source_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectRecord.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plPriority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the text &quot;No further explanation was given&quot; to the Note Variable</description>
        <name>Populate_Note_with_Default_Note</name>
        <label>Populate Note with Default Note</label>
        <locationX>468</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Note</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No further explanation was given</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_User_About_Converted_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Note_with_Written_Note</name>
        <label>Populate Note with Written Note</label>
        <locationX>204</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Note</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>longNotificationText.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_User_About_Converted_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Project_Lookup_on_Case</name>
        <label>Populate Project Lookup on Case</label>
        <locationX>545</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Substitute_Comma_with_Semi_Colon_in_CC_List</name>
        <label>Substitute Comma with Semi Colon in CC List</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>CommaSeparatedCcRecipients</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmSubstituteCommaWithSemiColon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Supplied_Email_to_ToEmail_Variable</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Mark_Case_as_Closed</name>
        <choiceText>Mark Case as Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mark Case as Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Notify_User_Who_Created_Case</name>
        <choiceText>Notify User Who Created Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Notify User Who Created Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parent_Project</name>
        <choiceText>Parent Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parent Project</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standalone_Project</name>
        <choiceText>Standalone Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standalone Project</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard_Project</name>
        <choiceText>Standard Project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Project</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Do_we_have_a_note</name>
        <label>Do we have a note?</label>
        <locationX>336</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Populate_Note_with_Default_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Note_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>longNotificationText.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>longNotificationText.value</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Note_with_Written_Note</targetReference>
            </connector>
            <label>Note Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_a_Supplied_Email_Address</name>
        <label>Do we have a Supplied Email Address?</label>
        <locationX>336</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Screen_2_Add_Main_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplied_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_CC_Recipients</targetReference>
            </connector>
            <label>Supplied Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_CC_Recipients</name>
        <label>Do we have CC Recipients?</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Assign_Supplied_Email_to_ToEmail_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CC_Recipients_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clAdditionalUsersToNotify.selectedChoiceValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substitute_Comma_with_Semi_Colon_in_CC_List</targetReference>
            </connector>
            <label>CC Recipients Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_Close_the_Case</name>
        <label>Should we Close the Case?</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_3_Input_Project_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Leave Case Open</defaultConnectorLabel>
        <rules>
            <name>Close_the_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cbgWhatHappensToTheCase</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Mark_Case_as_Closed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Closed_Status_to_Case</targetReference>
            </connector>
            <label>Close the Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_Notify_the_User_Who_Created_the_Case</name>
        <label>Should we Notify the User Who Created the Case?</label>
        <locationX>545</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Notify</defaultConnectorLabel>
        <rules>
            <name>Notify_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cbgWhatHappensToTheCase</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Notify_User_Who_Created_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Supplied_Email_Address</targetReference>
            </connector>
            <label>Notify User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_Type</name>
        <label>Which Record Type?</label>
        <locationX>545</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>plProjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Parent_Project</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Record_Type_ID</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
        <rules>
            <name>Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>plProjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard_Project</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Child_Record_Type_ID</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcsCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsImportance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project_Importance__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsProjectStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project_Status__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsUsers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Case.SuppliedEmail</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Email</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmSubstituteCommaWithSemiColon</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!clAdditionalUsersToNotify.selectedChoiceValues}, &quot;;&quot;, &quot;,&quot;)</expression>
    </formulas>
    <formulas>
        <name>TodayPlus14</name>
        <dataType>Date</dataType>
        <expression>TODAY()+14</expression>
    </formulas>
    <interviewLabel>Screen Flow: Convert Case to Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Convert Case to Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>545</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Populate_Project_Lookup_on_Case</targetReference>
        </connector>
        <inputReference>ProjectRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1_Convert_to_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>545</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Should_we_Notify_the_User_Who_Created_the_Case</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_1_Convert_to_Project</name>
        <label>Screen 1 - Convert to Project</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Should_we_Close_the_Case</targetReference>
        </connector>
        <fields>
            <name>headerScreen1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Convert Case to Project&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayConvertCaseInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You can use this flow to convert a Case into a Project, if you determine that the work involved with solving the case, warrants this.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>cbgWhatHappensToTheCase</name>
            <choiceReferences>Mark_Case_as_Closed</choiceReferences>
            <choiceReferences>Notify_User_Who_Created_Case</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Mark_Case_as_Closed</defaultSelectedChoiceReference>
            <fieldText>What happens to the Case?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>cbAddNote</name>
            <dataType>Boolean</dataType>
            <fieldText>Add a note</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cbgWhatHappensToTheCase</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Notify_User_Who_Created_Case</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayNotifyCaseCreatorInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Information about the notification:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;An email will be generated with info about the conversion&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Users you select below, will be added as CC recipients.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;The original creator of the case, {!Get_Case.SuppliedName}, will automatically be notified on {!Get_Case.SuppliedEmail}.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cbgWhatHappensToTheCase</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Notify_User_Who_Created_Case</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case.SuppliedName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>clAdditionalUsersToNotify</name>
            <choiceReferences>rcsUsers</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Additional Users to Notify</fieldText>
            <fieldType>ComponentMultiChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search for users...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cbgWhatHappensToTheCase</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Notify_User_Who_Created_Case</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayNoteFieldHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Email Notification Text&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cbgWhatHappensToTheCase</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Notify_User_Who_Created_Case</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>longNotificationText</name>
            <extensionName>c:textAreaPlus</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>textMode</name>
                <value>
                    <stringValue>rich</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>This case is being converted into a project due to the fact that...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>175</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cbAddNote</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Add_Main_Email</name>
        <label>Screen 2 - Add Main Email</label>
        <locationX>490</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Added_Recipient_to_ToEmail_Variable</targetReference>
        </connector>
        <fields>
            <name>headerScreen2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Add Main Recipient&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The field Supplied Email/Web Email on Case is empty.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please add a main recipient of the notification.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>inputEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3_Input_Project_Information</name>
        <label>Screen 3 - Input Project Information</label>
        <locationX>545</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
        <fields>
            <name>secNameDescription</name>
            <fieldText>Name &amp; Description</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>secNameDescription_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputProjectName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Case.Subject</elementReference>
                    </defaultValue>
                    <fieldText>Project Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputProjectStartDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Project Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>inputProjectDeadline</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayPlus14</elementReference>
                    </defaultValue>
                    <fieldText>Project Deadline</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>secNameDescription_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>plStatus</name>
                    <choiceReferences>pcsProjectStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Proposed</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>plPriority</name>
                    <choiceReferences>pcsPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Medium</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>plCategory</name>
                    <choiceReferences>pcsCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>secNameDescription_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>plProjectType</name>
                    <choiceReferences>Parent_Project</choiceReferences>
                    <choiceReferences>Standard_Project</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Standalone_Project</elementReference>
                    </defaultValue>
                    <fieldText>Project Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>luParentProject</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Parent_Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Parent Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>plProjectType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Standard_Project</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Case.SuppliedName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your case with the subject &quot;{!Get_Case.Subject}&quot; has been converted into a Project.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You can find the Project here: &lt;a href=&quot;https://dfj.lightning.force.com/lightning/r/{!ProjectRecord.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!ProjectRecord.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;The Project was created from a Case you recently opened. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;You can find the Case here: &lt;/span&gt;&lt;a href=&quot;https://dfj.lightning.force.com/lightning/r/{!ProjectRecord.Source_Case__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Source Case&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Notes:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Note}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Updated on the Status on Your Recent Case</text>
    </textTemplates>
    <variables>
        <name>CommaSeparatedCcRecipients</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailsOfAdditionalUsersToNotify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Note</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsersToNotifyCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
