force-app/main/default/flows/Screen_Flow_Check_Document_Validity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Content_Document_Link_to_Deletion_Collection</name>
        <label>Assign Content Document Link to Deletion Collection</label>
        <locationX>246</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentsForDeletion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Documents_Marked_for_Removal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Documents_Marked_for_Removal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_Document_to_Record_Collection</name>
        <label>Assign Content Document to Record Collection</label>
        <locationX>378</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>contentDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Content_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Document_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_to_Matching_Collection</name>
        <label>Assign Document to Matching Collection</label>
        <locationX>378</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>matchingDocumentsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Content_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Matching_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_to_Mismatch_Collection</name>
        <label>Assign Document to Mismatch Collection</label>
        <locationX>642</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>mismatchDocumentsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Content_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Mismatched_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Failed_to_Document_Validity</name>
        <label>Assign Failed to Document Validity</label>
        <locationX>158</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>recordId.Document_Validity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_with_Failed_Validity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Passed_to_Document_Validity</name>
        <label>Assign Passed to Document Validity</label>
        <locationX>422</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>recordId.Document_Validity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Most_Recent_Document_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_with_Passed_Validity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Journal_to_Record_Variable</name>
        <label>Assign Selected Journal to Record Variable</label>
        <locationX>266</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>journalRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtJournals.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sole_Journal_to_Record_Variable</name>
        <label>Assign Sole Journal to Record Variable</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>journalRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Journals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Journals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Collections</name>
        <label>Clear Variables</label>
        <locationX>158</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentsForDeletion</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mismatchDocumentsCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Content_Document</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentUnlink</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Journal_DK_2_0</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Person_2_from_Journal_DK_2_0</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Person_1_from_Journal_DK_2_0</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocuments</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchingDocumentsCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Content_Document_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Journals</name>
        <label>Count Journals</label>
        <locationX>290</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>numFoundJournals</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Journals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_Find_more_than_1_Journal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Matching_Documents</name>
        <label>Count Matching Documents</label>
        <locationX>378</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>numMatchingDocuments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>matchingDocumentsCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Mismatched_Documents</name>
        <label>Count Mismatched Documents</label>
        <locationX>642</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>numMismatchedDocuments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>mismatchDocumentsCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_we_Find_any_Mismatched_Documents</name>
        <label>Did we Find any Mismatched Documents?</label>
        <locationX>290</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Assign_Passed_to_Document_Validity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Documents Match</defaultConnectorLabel>
        <rules>
            <name>Mismatched_Documents_Were_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mismatchDocumentsCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Failed_to_Document_Validity</targetReference>
            </connector>
            <label>Mismatched Documents Were Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_Find_more_than_1_Journal</name>
        <label>Did we Find more than 1 Journal?</label>
        <locationX>290</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Only_1_Journal_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numFoundJournals</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Journals</targetReference>
            </connector>
            <label>Only 1 Journal Found</label>
        </rules>
        <rules>
            <name>More_than_1_Journal_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numFoundJournals</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_Select_Correct_Journal</targetReference>
            </connector>
            <label>More than 1 Journal Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Title_Contain_Either_Person_s_First_and_Last_Names</name>
        <label>Does Title Contain Either Person&apos;s First and Last Names?</label>
        <locationX>510</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Assign_Document_to_Mismatch_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mismatch</defaultConnectorLabel>
        <rules>
            <name>Title_Match</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Content_Documents.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Person_1_from_Journal_DK_2_0.person_fornavn__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Content_Documents.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Person_1_from_Journal_DK_2_0.person_efternavn__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Content_Documents.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Person_2_from_Journal_DK_2_0.person_fornavn__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Content_Documents.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Person_2_from_Journal_DK_2_0.person_efternavn__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Content_Documents.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>journalRecord.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Document_to_Matching_Collection</targetReference>
            </connector>
            <label>Title Match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen Flow: Check Document Validity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Check Document Validity</label>
    <loops>
        <name>Loop_Content_Document_Links</name>
        <label>Loop Content Document Links</label>
        <locationX>290</locationX>
        <locationY>1058</locationY>
        <collectionReference>Get_Content_Document_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Journal_DK_2_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Content_Documents</name>
        <label>Loop Content Documents</label>
        <locationX>290</locationX>
        <locationY>1790</locationY>
        <collectionReference>contentDocuments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Title_Contain_Either_Person_s_First_and_Last_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Did_we_Find_any_Mismatched_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Documents_Marked_for_Removal</name>
        <label>Loop Documents Marked for Removal</label>
        <locationX>158</locationX>
        <locationY>2822</locationY>
        <collectionReference>dtMismatchedDocuments.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Document_Link_to_Deletion_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Content_Document_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Journals</name>
        <label>Loop Journals</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Journals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sole_Journal_to_Record_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Content_Document_Links</name>
        <label>Delete Content Document Links</label>
        <locationX>158</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Clear_Collections</targetReference>
        </connector>
        <inputReference>contentDocumentsForDeletion</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>378</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Content_Document_to_Record_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Content_Document_Links.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Links</name>
        <label>Get Content Document Links</label>
        <locationX>290</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Document_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Journal_DK_2_0</name>
        <label>Get Journal DK (2.0)</label>
        <locationX>290</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_1_from_Journal_DK_2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Journal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>journalRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>df_journal_dk_new__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Journals</name>
        <label>Get Journals</label>
        <locationX>290</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Journals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Journal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_1_from_Journal_DK_2_0</name>
        <label>Get Person 1 from Journal DK (2.0)</label>
        <locationX>290</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_2_from_Journal_DK_2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>person_hidden_person_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>journal_dk_new__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Journal_DK_2_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>df_160_person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_2_from_Journal_DK_2_0</name>
        <label>Get Person 2 from Journal DK (2.0)</label>
        <locationX>290</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>person_hidden_person_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>journal_dk_new__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Journal_DK_2_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>df_160_person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_with_Failed_Validity</name>
        <label>Update Account with Failed Validity</label>
        <locationX>158</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Screen_3_Show_Mismatched_Documents</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Passed_Validity</name>
        <label>Update Account with Passed Validity</label>
        <locationX>422</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Screen_4_All_Matching_Documents</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_1_Start_Document_Check</name>
        <label>Screen 1 - Start Document Check</label>
        <locationX>290</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Journals</targetReference>
        </connector>
        <fields>
            <name>headerStartDocumentCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Document Validation Required&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Before proceeding, you must run a document check, to ensure that all documents on the Account, are valid for this customer. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start Validation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Select_Correct_Journal</name>
        <label>Screen 2 - Select Correct Journal</label>
        <locationX>266</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Journal_to_Record_Variable</targetReference>
        </connector>
        <fields>
            <name>headerSelectJournal</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Select Correct Journal&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We found multiple Journals related to the Account. Please select the one, you&apos;re currently processing. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtJournals</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Journal__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Journals</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Journals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0275&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Journal Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Journal_States__c&quot;,&quot;guid&quot;:&quot;column-71f1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Journal  States&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Responsible_Lawyer_Name__c&quot;,&quot;guid&quot;:&quot;column-2fcd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Responsible Lawyer&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-7ccd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3_Show_Mismatched_Documents</name>
        <label>Screen 3 - Show Mismatched Documents</label>
        <locationX>158</locationX>
        <locationY>2714</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Documents_Marked_for_Removal</targetReference>
        </connector>
        <fields>
            <name>headerShowMismatchedDocuments</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;The following mismatched documents were identified&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please, remove the documents&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtMismatchedDocuments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mismatched Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>mismatchDocumentsCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-0110&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-5da2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Delete Selected Documents and Start Over</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_4_All_Matching_Documents</name>
        <label>Screen 4 - All Matching Documents</label>
        <locationX>422</locationX>
        <locationY>2714</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>headerOnlyMatchingDocumentsFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 128, 9);&quot;&gt;All Documents Match&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;We found {!numMatchingDocuments} of matching documents.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtMatchingDocuments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Matching Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>matchingDocumentsCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-6136&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>164</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1_Start_Document_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>contentDocumentsForDeletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocumentUnlink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>currentItem_Copy_1_of_Filter_Person_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>df_160_person__c</objectType>
    </variables>
    <variables>
        <name>journalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal__c</objectType>
    </variables>
    <variables>
        <name>matchingDocumentsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>mismatchDocumentsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>numFoundJournals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numMatchingDocuments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numMismatchedDocuments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
