force-app/main/default/flows/Screen_Flow_Create_Customer_Care_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Partner_Referral_Opp_to_Collection</name>
        <label>Add Partner Referral Opp to Collection</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Partner_Opp_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ref_Lead_Opp_to_Collection</name>
        <label>Add Ref. Lead Opp to Collection</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>OpportunityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Ref_Lead_Opp_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Partner_Opp_Variable</name>
        <label>Clear Partner Opp Variable</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Subcategory__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Partner_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Ref_Lead_Opp_Variable</name>
        <label>Clear Ref. Lead Opp Variable</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Subcategory__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Reference_Lead_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Partner_Referral_Opps</name>
        <label>Populate Partner Referral Opps</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptOppNamePartnerReferral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Partner_Referral_Opp_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Positive_Review_Opp</name>
        <label>Populate Positive Review Opp</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Positive Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptOppNamePositiveReview</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Reference_Lead_Opp</name>
        <label>Populate Reference Lead Opp</label>
        <locationX>138</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reference Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptOppNameRefLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ref_Lead_Opp_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aros</name>
        <choiceText>Aros</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aros</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seren</name>
        <choiceText>Seren</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seren</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Was_Partner_Referral_Selected</name>
        <label>Was Partner Referral Selected?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Was_Reference_Lead_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Partner Referral</defaultConnectorLabel>
        <rules>
            <name>Partner_Referral_Was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>plType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partner Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_Partner_Referral</targetReference>
            </connector>
            <label>Partner Referral Was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Positive_Review_Selected</name>
        <label>Was Positive Review Selected?</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <defaultConnectorLabel>Skip Positive Review</defaultConnectorLabel>
        <rules>
            <name>Positive_Review_Was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>plType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Positive Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4_Positive_Review</targetReference>
            </connector>
            <label>Positive Review Was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Reference_Lead_Selected</name>
        <label>Was Reference Lead Selected?</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Was_Positive_Review_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Reference Lead</defaultConnectorLabel>
        <rules>
            <name>Reference_Lead_Was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>plType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reference Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_3_Reference_Lead</targetReference>
            </connector>
            <label>Reference Lead Was Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcsOppSubcategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subcategory__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen Flow: Create Customer Care Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Create Customer Care Opportunities</label>
    <loops>
        <name>Loop_Partner_Repeater</name>
        <label>Loop Partner Repeater</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>repPartnerReferrals.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Partner_Referral_Opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_Reference_Lead_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Reference_Lead_Repeater</name>
        <label>Loop Reference Lead Repeater</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <collectionReference>repProspects.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Reference_Lead_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_Positive_Review_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_Partner_Referral_Selected</targetReference>
        </connector>
        <fields>
            <name>headerScreen1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Select Opportunities to Create&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>plType</name>
            <choiceReferences>pcsOppSubcategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Partner_Referral</name>
        <label>Screen 2 - Partner Referral</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Partner_Repeater</targetReference>
        </connector>
        <fields>
            <name>headerPartnerReferral</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Partner Referral&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>repPartnerReferrals</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>plSelectPartner</name>
                <choiceReferences>Aros</choiceReferences>
                <choiceReferences>Seren</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Select Partner</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3_Reference_Lead</name>
        <label>Screen 3 - Reference Lead</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Reference_Lead_Repeater</targetReference>
        </connector>
        <fields>
            <name>headerReferenceLead</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Reference Lead&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>repProspects</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>txtProspectFirstName</name>
                <dataType>String</dataType>
                <fieldText>First Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>txtProspectLastName</name>
                <dataType>String</dataType>
                <fieldText>Last Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>txtProspectEmail</name>
                <extensionName>flowruntime:email</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>txtProspectPhone</name>
                <extensionName>flowruntime:phone</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_4_Positive_Review</name>
        <label>Screen 4 - Positive Review</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Populate_Positive_Review_Opp</targetReference>
        </connector>
        <fields>
            <name>headerPositiveReview</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Positive Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ptOppNamePartnerReferral</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Partner_Repeater.plSelectPartner} Partner Referral</text>
    </textTemplates>
    <textTemplates>
        <name>ptOppNamePositiveReview</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Positive Review Opp</text>
    </textTemplates>
    <textTemplates>
        <name>ptOppNameRefLead</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Potential Reference for {!Loop_Reference_Lead_Repeater.txtProspectLastName} {!Loop_Reference_Lead_Repeater.txtProspectFirstName}</text>
    </textTemplates>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
