force-app/main/default/flows/SF_Create_Single_Work_Schedule_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_Friday_to_Collection</name>
        <label>Add Friday to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Which_Days_Were_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Monday_to_Collection</name>
        <label>Add Monday to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Which_Days_Were_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Saturday_to_Collection</name>
        <label>Add Saturday to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Which_Days_Were_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sunday_to_Collection</name>
        <label>Add Sunday to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Which_Days_Were_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Thursday_to_Collection</name>
        <label>Add Thursday to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Which_Days_Were_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tuesday_to_Collection</name>
        <label>Add Tuesday to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Which_Days_Were_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Wednesday_to_Collection</name>
        <label>Add Wednesday to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Which_Days_Were_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asign_Thursday_Values</name>
        <label>Asign Thursday Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkSchedule.Day_of_the_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thursday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputThursdayStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputThursdayEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Lunch_Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputLunchDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Thursday_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employee_ID_to_Work_Schedule_Variable</name>
        <label>Assign Employee ID to Work Schedule Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkSchedule.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Days_Were_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Friday_Values</name>
        <label>Assign Friday Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkSchedule.Day_of_the_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Friday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputFridayStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputFridayEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Lunch_Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputLunchDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Friday_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Monday_Values</name>
        <label>Assign Monday Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkSchedule.Day_of_the_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputMondayStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputMondayEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Lunch_Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputLunchDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Monday_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sunday_Values</name>
        <label>Assign Sunday Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkSchedule.Day_of_the_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sunday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputSundayStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputSundayEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Lunch_Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputLunchDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Sunday_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tuesday_Values</name>
        <label>Assign Tuesday Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkSchedule.Day_of_the_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tuesday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTuesdayStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTuesdayEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Lunch_Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputLunchDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tuesday_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Wednesday_Values</name>
        <label>Assign Wednesday Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkSchedule.Day_of_the_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wednesday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputWednesdayStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputWednesdayEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Lunch_Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputLunchDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Wednesday_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Schedule_Collection_to_Output_Variable</name>
        <label>Assign Work Schedule Collection to Output Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputWorkScheduleCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkScheduleCollection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Tuesday_Values</name>
        <label>Assign Saturday Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkSchedule.Day_of_the_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Saturday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputSaturdayStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputSaturdayEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkSchedule.Lunch_Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputLunchDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Saturday_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Days_Were_Selected</name>
        <label>Which Days Were Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Work_Schedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monday_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkdays</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Monday_Values</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Monday_Values</targetReference>
            </connector>
            <label>Monday was Selected</label>
        </rules>
        <rules>
            <name>Tuesday_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkdays</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tuesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Tuesday_Values</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tuesday_Values</targetReference>
            </connector>
            <label>Tuesday was Selected</label>
        </rules>
        <rules>
            <name>Wednesday_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkdays</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wednesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Wednesday_Values</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Wednesday_Values</targetReference>
            </connector>
            <label>Wednesday was Selected</label>
        </rules>
        <rules>
            <name>Thursday_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkdays</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asign_Thursday_Values</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asign_Thursday_Values</targetReference>
            </connector>
            <label>Thursday was Selected</label>
        </rules>
        <rules>
            <name>Friday_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkdays</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Friday_Values</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Friday_Values</targetReference>
            </connector>
            <label>Friday was Selected</label>
        </rules>
        <rules>
            <name>Saturday_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkdays</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_4_of_Assign_Tuesday_Values</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Tuesday_Values</targetReference>
            </connector>
            <label>Saturday was Selected</label>
        </rules>
        <rules>
            <name>Sunday_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkdays</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Sunday_Values</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sunday_Values</targetReference>
            </connector>
            <label>Sunday was Selected</label>
        </rules>
    </decisions>
    <description>Added lunch duration</description>
    <environments>Default</environments>
    <interviewLabel>SF - Create Single Work Schedule Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Create Single Work Schedule Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Schedules</name>
        <label>Create Work Schedules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Work_Schedule_Collection_to_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>WorkScheduleCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Schedules</name>
        <label>Get Work Schedules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Employee_ID_to_Work_Schedule_Variable</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployeeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Schedule__c</object>
        <sortField>Weekday_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Schedules</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>SF - Create Work Schedule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>EmployeeId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFridayEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFridayStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputLunchDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inputMondayEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputMondayStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputSaturdayEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputSaturdayStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputSundayEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputSundayStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputThursdayEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputThursdayStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTuesdayEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTuesdayStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputWednesdayEnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputWednesdayStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputWorkdays</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputWorkScheduleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Work_Schedule__c</objectType>
    </variables>
    <variables>
        <name>WorkSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Schedule__c</objectType>
    </variables>
    <variables>
        <name>WorkScheduleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Schedule__c</objectType>
    </variables>
</Flow>
