force-app/main/default/flows/SF_Display_Lecture_Registration_Form_TM_on_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Did_we_find_a_Form_Submission</name>
        <label>Did we find a Form Submission?</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Form_Submission_Questionnaire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Form_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form_Submission_Lecture_Registration_Form</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1_Display_TM_Form</targetReference>
            </connector>
            <label>Got Form Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_find_a_Questionnaire</name>
        <label>Did we find a Questionnaire?</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Questionnaire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form_Submission_Questionnaire</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_Display_Questionnaire</targetReference>
            </connector>
            <label>Got Questionnaire</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcsAvoidInheritanceTax</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_to_Avoid_Inheritance_Tax__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsAvoidPartnerPayout</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_to_Avoid_Partner_Payout_When_I_Die__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsAvoidUnequalInheritance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_to_Avoid_Unequal_Inheritance__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsControlWhoInherits</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_to_Control_Who_Inherits__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsFuturePoACustomerBenefit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_Future_PoA_Customer_Benefit__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsGeneralPowerOfAttorney</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_General_Power_of_Attorney__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsGiftCardReferral</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_to_Provide_Gift_Card_for_Referral__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsPensionCheck</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_Pension_Check__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsPrenupToProtectSpouse</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_a_Prenup_to_Protect_Their_Spouse__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsSecureChildrensFuture</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_to_Secure_Childrens_Future__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsSeparatePropertyForKids</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_Separate_Property_for_Their_Kids__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsSetConditionsOnInheritance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_to_Set_Conditions_on_Inheritance__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsTransferRealEstate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_to_Transfer_Real_Estate__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsWantsFuturePoA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wants_Future_Power_of_Attorney__c</picklistField>
        <picklistObject>Form_Submission__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SF: Display Lecture Registration Form (TM) on Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF: Display Lecture Registration Form (TM) on Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Form_Submission_Lecture_Registration_Form</name>
        <label>Get Form Submission (Lecture Registration Form)</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_a_Form_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lecture Registration Form</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Form_Submission__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Form_Submission_Questionnaire</name>
        <label>Get Form Submission (Questionnaire)</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_a_Questionnaire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Questionnaire</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Form_Submission__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_1_Display_TM_Form</name>
        <label>Screen 1 - Display TM Form</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtWantsFuturePowerofAttorney</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants Future Power of Attorney &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_Future_Power_of_Attorney__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtFuturePoACustomerBenefit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Wants Future Power of Attorney (Customer Benefit) &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_Future_PoA_Customer_Benefit__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtSeparatePropertyForKids</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants Separate Property for Kids&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(28, 183, 1); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_Separate_Property_for_Their_Kids__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtAvoidUnequalInheritance</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants to Avoid Unequal Inheritance &lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(28, 183, 1);&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_to_Avoid_Unequal_Inheritance__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtAvoidInheritanceTax</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants to Avoid Inheritance Tax&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(28, 183, 1); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_to_Avoid_Inheritance_Tax__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtPrenupToProtectSpouse</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants a Prenup to Protect Their Spouse&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_a_Prenup_to_Protect_Their_Spouse__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtPensionCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants Pension Check&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_Pension_Check__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtControlWhoInherits</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants to Control Who Inherits&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_to_Control_Who_Inherits__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtSecureChildrensFuture</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants to Secure Children&apos;s Future&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_to_Secure_Childrens_Future__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtTransferRealEstate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants to Transfer Real Estate&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_to_Transfer_Real_Estate__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtGeneralPoA</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants General Power of Attorney&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_General_Power_of_Attorney__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtAvoidPartnerPayout</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants to Avoid Partner Payout&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_to_Avoid_Partner_Payout_When_I_Die__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtGiftCardReferral</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants to Provide Gift Card for Referral&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_to_Provide_Gift_Card_for_Referral__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtConditionsOnInheritance</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Wants to Set Conditions on Inheritance&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(28, 183, 1); font-size: 16px;&quot;&gt;✓&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Form_Submission_Lecture_Registration_Form.Wants_to_Set_Conditions_on_Inheritance__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Display_Questionnaire</name>
        <label>Screen 2 - Display Questionnaire</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayTicketInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Tickets:&lt;/strong&gt; {!Get_Form_Submission_Questionnaire.Tickets__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Start:&lt;/strong&gt; {!Get_Form_Submission_Questionnaire.Campaign_Start__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Venue:&lt;/strong&gt; {!Get_Form_Submission_Questionnaire.Campaign__r.Venue__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Form_Submission_Lecture_Registration_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
