force-app/main/default/flows/SF_IT_Case_Overview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>50</locationX>
        <locationY>1176</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TVAHYDPPH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08C5T18SAZ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>SlackMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Count_Cases</name>
        <label>Count Cases</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>CounterTotal</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Escalated_Counter</name>
        <label>Increment Escalated Counter</label>
        <locationX>666</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>CounterEscalated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_New_Counter</name>
        <label>Increment New Counter</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>CounterNew</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Other_Counter</name>
        <label>Increment Other Counter</label>
        <locationX>930</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>CounterOther</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Response_Received_Counter</name>
        <label>Increment Response Received Counter</label>
        <locationX>402</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>CounterResponseReceived</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>1106</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SF_IT_Case_Overview</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_this_the_Production_Org</name>
        <label>Is this the Production Org?</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>This_is_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Organization.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductionOrgId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cases</targetReference>
            </connector>
            <label>This is Production</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Status_is_the_Case_in</name>
        <label>What Status is the Case in?</label>
        <locationX>534</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Increment_Other_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Case_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_New_Counter</targetReference>
            </connector>
            <label>Case is New</label>
        </rules>
        <rules>
            <name>Case_is_Response_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Response Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Response_Received_Counter</targetReference>
            </connector>
            <label>Case is Response Received</label>
        </rules>
        <rules>
            <name>Case_is_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Escalated_Counter</targetReference>
            </connector>
            <label>Case is Escalated</label>
        </rules>
    </decisions>
    <description>Every morning, the flow runs (using the Record Type &quot;IT_Department&quot;) and finds all open cases. Outputs a message into Slack with an overview of how many open cases there are and what status they&apos;re in.</description>
    <environments>Default</environments>
    <interviewLabel>SF - IT Case Overview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - IT Case Overview</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Status_is_the_Case_in</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Facebook</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Production_Org_ID</name>
        <label>Get Production Org ID</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_the_Production_Org</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProductionOrgId</stringValue>
            </value>
        </filters>
        <object>Environment_Variable__mdt</object>
        <outputAssignments>
            <assignToReference>ProductionOrgId</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Production_Org_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Department</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-28</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SF_IT_Case_Overview</name>
        <label>SF - IT Case Overview</label>
        <locationX>1106</locationX>
        <locationY>468</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>SF - IT Case Overview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>SlackMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>_*Daily Overview of Open Cases:*_
*New:* {!CounterNew}
*Response Received:* {!CounterResponseReceived}
*Escalated:* {!CounterEscalated}
*Other Open Status:* {!CounterOther}

_*Total: {!CounterTotal}*_</text>
    </textTemplates>
    <variables>
        <name>CounterEscalated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterNew</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterOther</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterResponseReceived</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductionOrgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
