force-app/main/default/flows/SF_Submit_Lecture_Registration_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Campaign_Members_to_Collection</name>
        <label>Assign Campaign Members to Collection</label>
        <locationX>1260</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_for_Non_TM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IsButtonForgotten_and_IsAddWalkIn_False</name>
        <label>Assign IsButtonForgotten and IsAddWalkIn False</label>
        <locationX>1260</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>IsButtonForgotten</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsAddWalkIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Campaign_Members_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IsButtonForgotten_and_IsAddWalkIn_True</name>
        <label>Assign IsButtonForgotten and IsAddWalkIn True</label>
        <locationX>1722</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>IsButtonForgotten</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsAddWalkIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_3_Populate_TM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Campaign_to_Variable</name>
        <label>Assign Selected Campaign to Variable</label>
        <locationX>1104</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Campaign_to_Variable</name>
        <label>Assign Single Campaign to Variable</label>
        <locationX>976</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Single_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Single_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_TM_Counter</name>
        <label>Increment TM Counter</label>
        <locationX>1062</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>LogCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Campaign_Counter</name>
        <label>Populate Campaign Counter</label>
        <locationX>1260</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>CampaignCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_We_Find_Multiple_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>2250</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_Market_Unit</name>
        <label>Populate Custom Error with Invalid Market Unit</label>
        <locationX>1260</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Market Unit &quot;{!MarketUnit}&quot;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_No_Events_Found_for_Today</name>
        <label>Populate Custom Error with No Events Found for Today</label>
        <locationX>1632</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Events Found for Today</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Campaign_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lecturer_ID_with_Default_Lecturer_s_ID</name>
        <label>Populate Lecturer ID with Default Lecturer&apos;s ID</label>
        <locationX>1524</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>LecturerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lecturer_ID_with_Manually_Set_Danish_Lecturer_ID</name>
        <label>Populate Lecturer ID with Manually Set Danish Lecturer ID</label>
        <locationX>732</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>LecturerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plLecturerDenmark</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lecturer_ID_with_Manually_Set_Swedish_Lecturer_ID</name>
        <label>Populate Lecturer ID with Manually Set Swedish Lecturer ID</label>
        <locationX>996</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>LecturerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plLecturerSweden</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Values_in_Variables</name>
        <label>Set Default Values in Variables</label>
        <locationX>1568</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarketUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Market_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1_Select_Date_Lecturer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Do_Not_Contact_Back_to_False</name>
        <label>Set Do Not Contact Back to False</label>
        <locationX>798</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>IsDoNotContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DoNotContact_to_True</name>
        <label>Set DoNotContact to True</label>
        <locationX>1128</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>IsDoNotContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_TM_Submitted_or_was_Walk_In_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Input_Campaign_s_Values_in_Variables</name>
        <label>Set Input Campaign&apos;s Values in Variables</label>
        <locationX>952</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>DateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_From_Input.Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lecturer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_From_Input.Lecturer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarketUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_From_Input.Market_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1_Select_Date_Lecturer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Select_Other_Lecturer_to_True</name>
        <label>Set Select Other Lecturer to True</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>boolSelectOtherLecturer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Input_Campaign_s_Values_in_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Submission_Type_to_Lecture_Registration_Form</name>
        <label>Set Submission Type to Lecture Registration Form</label>
        <locationX>930</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>SubmissionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lecture Registration Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Create_Form_Submission_from_Input_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_to_Collection</name>
        <choiceText>Add to Collection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add to Collection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Lookup</name>
        <choiceText>Choice Lookup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choice Lookup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Document_Review_Request</name>
        <choiceText>Document Review Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document Review Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Registration_Form_TM</name>
        <choiceText>Registration Form (TM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registration Form (TM)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repeater</name>
        <choiceText>Repeater</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repeater</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <description>Uses the field &quot;Is Registration Form Logged Manually&quot; to exclude people, who were already entered</description>
        <name>Filter_for_Non_TM</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Non-TM</label>
        <locationX>1260</locationX>
        <locationY>2606</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Non_TM</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CampaignMemberCollection</collectionReference>
        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Non_TM.Event_m_destatus__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Tilmeldingsblanket</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Non_TM.Is_Registration_Form_Logged_Manually__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Non_TM.DoNotCall</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_for_TM</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Shows Submitted TMs (Also shows people with &quot;DoNotCall&quot; true)</description>
        <name>Filter_for_TM</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for TM</label>
        <locationX>1260</locationX>
        <locationY>2714</locationY>
        <assignNextValueToReference>currentItem_Filter_for_TM</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CampaignMemberCollection</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_TM.Event_m_destatus__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Tilmeldingsblanket</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_TM.DoNotCall</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Screen_3_Populate_TM</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Did_User_Create_a_Walk_In</name>
        <label>Did User Create a Walk-In?</label>
        <locationX>1590</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>Assign_IsButtonForgotten_and_IsAddWalkIn_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Walk-In Created</defaultConnectorLabel>
        <rules>
            <name>User_Created_Walk_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AL_Create_Lecture_Walk_In.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Campaign_Members</targetReference>
            </connector>
            <label>User Created Walk-In</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_Multiple_Campaigns</name>
        <label>Did We Find Multiple Campaigns?</label>
        <locationX>1260</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_No_Events_Found_for_Today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Campaigns Found</defaultConnectorLabel>
        <rules>
            <name>Single_Campaign_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Single_Campaign</targetReference>
            </connector>
            <label>Single Campaign Exists</label>
        </rules>
        <rules>
            <name>Multiple_Campaigns_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_Select_Campaign</targetReference>
            </connector>
            <label>Multiple Campaigns Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_a_Record_ID</name>
        <label>Do We Have a Record ID?</label>
        <locationX>1260</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Values_in_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Record_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_From_Input</targetReference>
            </connector>
            <label>Got Record ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lecturer_the_Current_User</name>
        <label>Is Lecturer the Current User?</label>
        <locationX>952</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Select_Other_Lecturer_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Lecturer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseSafeUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Campaign_From_Input.Lecturer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Input_Campaign_s_Values_in_Variables</targetReference>
            </connector>
            <label>User is Lecturer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Do_Not_Contact_Set</name>
        <label>Was Do Not Contact Set?</label>
        <locationX>1260</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>Was_TM_Submitted_or_was_Walk_In_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Contact_was_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cbDoNotContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DoNotContact_to_True</targetReference>
            </connector>
            <label>Do Not Contact was Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_DoNotContact_Set</name>
        <label>Was DoNotContact Set?</label>
        <locationX>930</locationX>
        <locationY>4094</locationY>
        <defaultConnector>
            <targetReference>Increment_TM_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Do_Not_Contact_Was_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cbDoNotContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Do_Not_Contact_Back_to_False</targetReference>
            </connector>
            <label>Yes, Do Not Contact Was Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Name_Updated</name>
        <label>Was Name Updated?</label>
        <locationX>930</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>Set_Submission_Type_to_Lecture_Registration_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>p1FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>dtCampaignMembers.firstSelectedRow.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>p1LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>dtCampaignMembers.firstSelectedRow.LastName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_Related_Record</targetReference>
            </connector>
            <label>Name Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Other_Lecturer_Selected</name>
        <label>Was Other Lecturer Selected?</label>
        <locationX>1260</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Populate_Lecturer_ID_with_Default_Lecturer_s_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Lecturer</defaultConnectorLabel>
        <rules>
            <name>Other_Lecturer_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cbSelectOtherLecturer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Market_Unit_s_Lecturer_to_Set</targetReference>
            </connector>
            <label>Other Lecturer Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_TM_Submitted_or_was_Walk_In_Added</name>
        <label>Was TM Submitted or was Walk-In Added?</label>
        <locationX>1260</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Did_User_Create_a_Walk_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Walk-In Added</defaultConnectorLabel>
        <rules>
            <name>TM_Was_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggAddWalkIn.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Name_Updated</targetReference>
            </connector>
            <label>TM Was Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Related_Record</name>
        <label>What is the Related Record?</label>
        <locationX>578</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>Set_Submission_Type_to_Lecture_Registration_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Record_is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dtCampaignMembers.firstSelectedRow.LeadOrContactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Related Record is Lead</label>
        </rules>
        <rules>
            <name>Related_Record_is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dtCampaignMembers.firstSelectedRow.LeadOrContactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Related Record is Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Market_Unit_s_Lecturer_to_Set</name>
        <label>Which Market Unit&apos;s Lecturer to Set?</label>
        <locationX>996</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Invalid_Market_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Market Unit</defaultConnectorLabel>
        <rules>
            <name>Danish_Market_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lecturer_ID_with_Manually_Set_Danish_Lecturer_ID</targetReference>
            </connector>
            <label>Danish Market Unit</label>
        </rules>
        <rules>
            <name>Swedish_Market_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA_SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lecturer_ID_with_Manually_Set_Swedish_Lecturer_ID</targetReference>
            </connector>
            <label>Swedish Market Unit</label>
        </rules>
    </decisions>
    <description>Tiny update that uses BLANKVALUE({!p1LastName}, &quot;NotProvided&quot;) to set NotProvided as LastName if user updates the name but leaves Last Name blank</description>
    <dynamicChoiceSets>
        <name>ccsCampaignMembers</name>
        <collectionReference>Get_Campaign_Members</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>CampaignMember</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccsCampaigns</name>
        <collectionReference>Get_Campaigns</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsLecturersDenmark</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsLecturer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Market_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DFJ_DK</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsLecturersSweden</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsLecturer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Market_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FA_SE</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CaseSafeUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>frmLastNameNotBlank</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!p1LastName}, &quot;NotProvided&quot;)</expression>
    </formulas>
    <interviewLabel>SF - Submit Lecture Registration Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Submit Lecture Registration Form</label>
    <loops>
        <name>Loop_Single_Campaign</name>
        <label>Loop Single Campaign</label>
        <locationX>888</locationX>
        <locationY>1874</locationY>
        <collectionReference>Get_Campaigns</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Campaign_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Campaign_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>1104</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Selected_Campaign_to_Variable</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plCampaigns</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_From_Input</name>
        <label>Get Campaign (From Input)</label>
        <locationX>952</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lecturer_the_Current_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>1260</locationX>
        <locationY>2282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_IsButtonForgotten_and_IsAddWalkIn_False</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaigns</name>
        <label>Get Campaigns</label>
        <locationX>1260</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Campaign_Counter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lecturer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LecturerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Open_for_Bookings__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Host_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Association</stringValue>
            </value>
        </filters>
        <filters>
            <field>Host_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Company</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>Start__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>578</locationX>
        <locationY>3554</locationY>
        <connector>
            <targetReference>Set_Submission_Type_to_Lecture_Registration_Form</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtCampaignMembers.firstSelectedRow.LeadOrContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>p1FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>p1LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>3554</locationY>
        <connector>
            <targetReference>Set_Submission_Type_to_Lecture_Registration_Form</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtCampaignMembers.firstSelectedRow.LeadOrContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>p1FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>frmLastNameNotBlank</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2250</locationX>
        <locationY>1766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values_Flow</targetReference>
        </connector>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!CustomError}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit Bug Report</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Campaign_Found</name>
        <label>No Campaign Found</label>
        <locationX>1632</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Select Other Date/Lecturer</backButtonLabel>
        <fields>
            <name>displayNoCampaignFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;No Campaign Found Matching Selected Values&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1_Select_Date_Lecturer</name>
        <label>Screen 1 - Select Date &amp; Lecturer</label>
        <locationX>1260</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_Other_Lecturer_Selected</targetReference>
        </connector>
        <fields>
            <name>headerSelectDateLecturer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Select Date &amp;amp; Lecturer&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_1_Select_Date_Lecturer_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Select_Date_Lecturer_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtLecturer</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ptUserName</elementReference>
                    </defaultValue>
                    <fieldText>Lecturer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbSelectOtherLecturer</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>boolSelectOtherLecturer</elementReference>
                    </defaultValue>
                    <fieldText>Select Other Lecturer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>plLecturerDenmark</name>
                    <choiceReferences>rcsLecturersDenmark</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lecturer</elementReference>
                    </defaultValue>
                    <fieldText>Lecturer</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cbSelectOtherLecturer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>MarketUnit</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>DFJ_DK</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>plLecturerSweden</name>
                    <choiceReferences>rcsLecturersSweden</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lecturer</elementReference>
                    </defaultValue>
                    <fieldText>Lecturer</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cbSelectOtherLecturer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>MarketUnit</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>FA_SE</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Select_Date_Lecturer_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DateTime</elementReference>
                    </defaultValue>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Select_Campaign</name>
        <label>Screen 2 - Select Campaign</label>
        <locationX>1104</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <fields>
            <name>headerSelectCampaign</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Select Lecture&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>plCampaigns</name>
            <choiceReferences>ccsCampaigns</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Lecture</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3_Populate_TM</name>
        <label>Screen 3 - Populate TM</label>
        <locationX>1260</locationX>
        <locationY>2822</locationY>
        <actions>
            <name>AL_Create_Lecture_Walk_In</name>
            <actionName>AL_Create_Lecture_Walk_In</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>inputCampaignId</name>
                <value>
                    <elementReference>Campaign.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputEmail</name>
                <value>
                    <elementReference>walkInEmail.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputFullName</name>
                <value>
                    <elementReference>walkInName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputPhone</name>
                <value>
                    <elementReference>walkInPhone.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputSource</name>
                <value>
                    <stringValue>Salesforce Screen Flow</stringValue>
                </value>
            </inputParameters>
            <label>AL - Create Lecture Walk-In</label>
            <nameSegment>AL_Create_Lecture_Walk_In</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_Do_Not_Contact_Set</targetReference>
        </connector>
        <fields>
            <name>headerSubmitTm</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Submit TM Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayFormSubmissionCounter</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(13, 189, 0);&quot;&gt;TB Submitted!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(13, 189, 0);&quot;&gt;Counter: {!LogCounter}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LogCounter</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>toggAddWalkIn</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Walk-In</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Show</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Hide</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>IsAddWalkIn</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <elementReference>AL_Create_Lecture_Walk_In.IsSuccess</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>secWalkInInformation</name>
            <fieldText>Walk-In Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>secWalkInInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>walkInName</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>walkInPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+45 70 30 55 70</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>secWalkInInformation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>walkInEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>abAddWalkIn</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Create Ticket</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>AL_Create_Lecture_Walk_In.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>AL_Create_Lecture_Walk_In.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>AL_Create_Lecture_Walk_In.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>AL_Create_Lecture_Walk_In.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>walkInName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>walkInPhone.value</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayAddWalkInInformationAlert</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create Ticket&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;To enable button, please fill out at least Name and Phone Number&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1 OR 2</conditionLogic>
                        <conditions>
                            <leftValueReference>walkInName</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>walkInPhone.value</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayPleaseClickTheButtonAlert</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You have to click Create Ticket to proceed, when selecting &quot;Add Walk-In&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsButtonForgotten</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayCreateTicketSuccessMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 147, 35); font-size: 14px;&quot;&gt;Walk-In Created&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 147, 35); font-size: 14px;&quot;&gt;Click &quot;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 147, 35); font-size: 14px;&quot;&gt;Submit TM&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 147, 35); font-size: 14px;&quot;&gt;&quot; to refresh&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;OBS:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; The page will refresh and Customer will just be added to the list, so you can select them and add the TM information.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AL_Create_Lecture_Walk_In.IsSuccess</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggAddWalkIn.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtCampaignMembers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CampaignMember</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Not Yet Submitted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_for_Non_TM</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a285&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-7368&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Event_m_destatus__c&quot;,&quot;guid&quot;:&quot;column-211a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Event mdestatus&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Is_Registration_Form_Logged_Manually__c&quot;,&quot;guid&quot;:&quot;column-2bc3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Logged&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Is Registration Form Logged Manually&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggAddWalkIn.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>secPersonInfor</name>
            <fieldText>Person Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>secPersonInfor_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPerson1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Person 1&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>p1FirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtCampaignMembers.firstSelectedRow.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>p1LastName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtCampaignMembers.firstSelectedRow.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>p1Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>dtCampaignMembers.firstSelectedRow.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>secPersonInfor_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPerson2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Person 2&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>p2FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>Partner&apos;s First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>p2LastName</name>
                    <dataType>String</dataType>
                    <fieldText>Partner&apos;s Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>p2Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>secPersonInfor_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtComment</name>
                    <extensionName>c:textAreaPlus</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>textMode</name>
                        <value>
                            <stringValue>plain</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Comment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>textAreaHeight</name>
                        <value>
                            <stringValue>125</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggAddWalkIn.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_3_Populate_TM_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_3_Populate_TM_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cbFremtidsfuldmagt</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg nsker en fremtidsfuldmagt</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbFremtidsfuldmagtKundefordele</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg nsker en fremtidsfuldmagt med kundefordele</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbGeneralfuldmagt</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg nsker en generalfuldmagt</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbSreje</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg nsker sreje til mine brn</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbSkvfordeling</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg vil undg en skvfordeling af arven</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_3_Populate_TM_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cbStyreArvefordelingen</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg vil selv styre arvefordelingen</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbBndlggelse</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg vil bndlgge arven</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbAegtepagt</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg nsker en gtepagt</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cvUndgBetalingVdd</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg vil undg at min partner skal af med en stor sum penge ved min dd</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_3_Populate_TM_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cbBrnetestamente</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg nsker et brnetestamente</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbExistingDocumentCheck</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg vil have tjekket eksisterende dokumenter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbEjendomsoverdragelse</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg er interesseret i ejendomsoverdragelse</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbPensionstjek</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg vil gerne have tjekket min pension</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cbGavekort</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Jeg vil gerne sikre at nogen jeg kender for samme rabat</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggAddWalkIn.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MarketUnit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>DFJ_DK</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_3_Populate_TM_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_3_Populate_TM_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cbDoNotContact</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Do Not Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_3_Populate_TM_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayDoNotContactAlert</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Lead will be closed&lt;/strong&gt;&lt;em&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>cbDoNotContact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggAddWalkIn.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MarketUnit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FA_SE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>toggShowCompletedTm</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Show Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Show</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Hide</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtSubmittedTms</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CampaignMember</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Already Submitted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_for_TM</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5bac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-7708&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Event_m_destatus__c&quot;,&quot;guid&quot;:&quot;column-6857&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Event mdestatus&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Is_Registration_Form_Logged_Manually__c&quot;,&quot;guid&quot;:&quot;column-d295&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Logged&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Is Registration Form Logged Manually&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggShowCompletedTm.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit TM</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>abAddWalkIn</eventSource>
            <handlers>
                <screenActionName>AL_Create_Lecture_Walk_In</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <sourceTemplate>Template_Lecturer_Screen_Flow</sourceTemplate>
    <start>
        <locationX>1134</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_We_Have_a_Record_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Create_Form_Submission_from_Input_Campaign_Member</name>
        <label>AL - Create Form Submission from Input Campaign Member</label>
        <locationX>930</locationX>
        <locationY>3986</locationY>
        <connector>
            <targetReference>Was_DoNotContact_Set</targetReference>
        </connector>
        <flowName>AL_Create_Form_Submission_from_Input_Campaign_Member</flowName>
        <inputAssignments>
            <name>inputAvoidPartnerPayout</name>
            <value>
                <elementReference>cvUndgBetalingVdd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputAvoidUnequalInheritance</name>
            <value>
                <elementReference>cbSkvfordeling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputCampaignMember</name>
            <value>
                <elementReference>dtCampaignMembers.firstSelectedRow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputComments</name>
            <value>
                <elementReference>txtComment.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputControlWhoInherits</name>
            <value>
                <elementReference>cbStyreArvefordelingen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputDoNotContact</name>
            <value>
                <elementReference>IsDoNotContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputExistingDocumentCheck</name>
            <value>
                <elementReference>cbExistingDocumentCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFormSubmissionType</name>
            <value>
                <elementReference>SubmissionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFuturePoACustomerBenefit</name>
            <value>
                <elementReference>cbFremtidsfuldmagtKundefordele</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFuturePowerOfAttorney</name>
            <value>
                <elementReference>cbFremtidsfuldmagt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputGeneralPowerOfAttorney</name>
            <value>
                <elementReference>cbGeneralfuldmagt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputGiftCardForReferral</name>
            <value>
                <elementReference>cbGavekort</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputManuallyLogged</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPartnerFirstName</name>
            <value>
                <elementReference>p2FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPartnerLastName</name>
            <value>
                <elementReference>p2LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPartnerPhone</name>
            <value>
                <elementReference>p2Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPensionCheck</name>
            <value>
                <elementReference>cbPensionstjek</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPrenupToProtectSpouse</name>
            <value>
                <elementReference>cbAegtepagt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSecureChildrensFuture</name>
            <value>
                <elementReference>cbBrnetestamente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSeparatePropertyForKids</name>
            <value>
                <elementReference>cbSreje</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSetConditionsOnInheritance</name>
            <value>
                <elementReference>cbBndlggelse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSource</name>
            <value>
                <stringValue>Lecture</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTransferRealEstate</name>
            <value>
                <elementReference>cbEjendomsoverdragelse</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values_Flow</name>
        <label>AL - Send Error Email from Input Values Flow</label>
        <locationX>2250</locationX>
        <locationY>1874</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>SF - Submit Lecture Registration Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ptUserName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <variables>
        <name>boolSelectOtherLecturer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CampaignMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Non_TM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_TM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormSubmissionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Form_Submission__c</objectType>
    </variables>
    <variables>
        <name>IsAddWalkIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsButtonForgotten</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsDoNotContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Lecturer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LecturerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoggedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>MarketUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmissionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
