force-app/main/default/flows/STF_Journal_Daily_Run_of_Journals_X_Days_after_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Custom_Error_with</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_Referral_Invite_Send_Succeed</name>
        <label>Did Referral Invite Send Succeed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referral_Invite_was_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSendReferralInviteSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Referral Invite was Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_a_Customer_Reference</name>
        <label>Did We Find a Customer Reference?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Do_We_Have_a_Phone_Number_on_the_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Customer_Reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Reference.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Got Customer Reference</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_an_Existing_Conversation</name>
        <label>Did We Find an Existing Conversation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Customer_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Existing_Conversation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SMS_Conversation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Got Existing Conversation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_a_Phone_Number_on_the_Account</name>
        <label>Do We Have a Phone Number on the Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Phone_on_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Phone_Formatted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AL_Send_Referral_Invite_After_Journal_Completed</targetReference>
            </connector>
            <label>Got Phone on Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_60_days_since_their_Journal_was_Completed</name>
        <label>Is it 60 days since their Journal was Completed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X60_Days_Since_Completion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>frmCompletedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmTodayMinus60Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Conversation</targetReference>
            </connector>
            <label>60 Days Since Completion</label>
        </rules>
    </decisions>
    <description>When a Journal has been done for 60 days, we sent them an invitation to refer someone they know to us</description>
    <environments>Default</environments>
    <formulas>
        <name>frmCompletedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Completed_Date__c})</expression>
    </formulas>
    <formulas>
        <name>frmTodayMinus60Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-60</expression>
    </formulas>
    <interviewLabel>STF - Journal: Daily Run of Journals X Days after Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STF - Journal: Daily Run of Journals X Days after Completion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer_Reference</name>
        <label>Get Customer Reference</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Customer_Reference</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</filterLogic>
        <filters>
            <field>Referring_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referring_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referring_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referring_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referring_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referring_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Reference__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS_Conversation</name>
        <label>Get SMS Conversation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_an_Existing_Conversation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR (4 AND 5))</filterLogic>
        <filters>
            <field>Conversation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Get Reference</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Response_Evaluation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SMS_Conversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_60_days_since_their_Journal_was_Completed</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Completed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Journal_States__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journal_States__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Færdig ny process</stringValue>
            </value>
        </filters>
        <object>Journal__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-30</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Send_Referral_Invite_After_Journal_Completed</name>
        <label>AL - Send Referral Invite After Journal Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_Referral_Invite_Send_Succeed</targetReference>
        </connector>
        <flowName>AL_Send_Referral_Invite_After_Journal_Completed</flowName>
        <inputAssignments>
            <name>inputJournal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CustomError</assignToReference>
            <name>CustomError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsSendReferralInviteSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Populate_Custom_Error_with</name>
        <label>Populate Custom Error with</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>STF - Journal: Daily Run of Journals X Days after Completion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSendReferralInviteSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
