force-app/main/default/flows/STF_Targets_Create_Target_Links_for_Backlog.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TargetLinkCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TargetLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Link_and_Update_Order</name>
        <label>Populate Link and Update Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TargetLink.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Orders.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetLink.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Orders.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetLink.Target_Metric__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetLink.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Orders.Order_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetLink.Target__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetLink.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>STF - Targets: Create Target Links for Backlog {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STF - Targets: Create Target Links for Backlog</label>
    <loops>
        <name>Loop_Orders</name>
        <label>Loop Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Link_and_Update_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Target_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Target_Links</name>
        <label>Create Target Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TargetLinkCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Orders</name>
        <label>Get Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Price__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2025-06-30T22:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Target_Metric__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revenue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Month_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2025.0</numberValue>
            </value>
        </filters>
        <object>Targets__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-07-24</startDate>
            <startTime>18:57:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>TargetLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Target_Link__c</objectType>
    </variables>
    <variables>
        <name>TargetLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Target_Link__c</objectType>
    </variables>
</Flow>
