force-app/main/default/flows/STF_Email_Close_Cases_Missing_Replies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Business_Total_Hours_Difference</name>
        <label>Get Business &amp; Total Hours Difference</label>
        <locationX>358</locationX>
        <locationY>468</locationY>
        <actionName>BusinessHoursFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>How_Long_Have_We_Waited_for_a_Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endDateTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDateTime</name>
            <value>
                <elementReference>$Record.Awaiting_Reply_Since__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BusinessHoursFlowAction</nameSegment>
        <outputParameters>
            <assignToReference>BusinessHoursDiff</assignToReference>
            <name>businessHours</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>226</locationX>
        <locationY>1608</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>teknik@dinfamiliejurist.dk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>1546</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_2_Business_Days_Template</name>
        <label>Set &quot;2 Business Days&quot; Template</label>
        <locationX>402</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting_Reply_48_Hours_1742327506849</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_3_Business_Days_Template</name>
        <label>Set &quot;3 Business Days&quot; Template</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting_Reply_72_Hours_1742328064637</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_We_Have_Issue_Category_and_Origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Category_and_Origin_to_Default_Values</name>
        <label>Set Category and Origin to Default Values</label>
        <locationX>138</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>$Record.Issue_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User Stopped Responding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Issue_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_ID_in_Variable</name>
        <label>Set Contact ID in Variable</label>
        <locationX>226</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_a_Contact</name>
        <label>Did We Find a Contact?</label>
        <locationX>358</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Create_Case_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_ID_in_Variable</targetReference>
            </connector>
            <label>Got Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_Issue_Category_and_Origin</name>
        <label>Do We Have Issue Category and Origin?</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Set_Category_and_Origin_to_Default_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Default Values</defaultConnectorLabel>
        <rules>
            <name>Got_Category_and_Origin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_Origin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>Got Category and Origin</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Long_Have_We_Waited_for_a_Response</name>
        <label>How Long Have We Waited for a Response?</label>
        <locationX>358</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Less than 2 Business Days</defaultConnectorLabel>
        <rules>
            <name>More_than_3_Business_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessHoursDiff</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_3_Business_Days_Template</targetReference>
            </connector>
            <label>More than 3 Business Days</label>
        </rules>
        <rules>
            <name>More_than_2_Business_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessHoursDiff</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_2_Business_Days_Template</targetReference>
            </connector>
            <label>More than 2 Business Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Type_IT_Department</name>
        <label>Is Record Type IT Department?</label>
        <locationX>1084</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_is_IT_Dep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT_Department</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Total_Hours_Difference</targetReference>
            </connector>
            <label>Record Type is IT Dep.</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmWaitTimeValidator</name>
        <dataType>Boolean</dataType>
        <expression>{!BusinessHoursDiff} &gt;= {!WaitTimeCheck}</expression>
    </formulas>
    <interviewLabel>STF - Email/Close Cases Missing Replies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STF - Email/Close Cases Missing Replies</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Comment</name>
        <label>Create Case Comment</label>
        <locationX>490</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>Could Not Find Recipient (Contact) Matching SuppliedEmail/Webemail &quot;{!$Record.SuppliedEmail}&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>358</locationX>
        <locationY>1284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>358</locationX>
        <locationY>1176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1084</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Type_IT_Department</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>358</locationX>
        <locationY>1800</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>958</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Awaiting_Reply_Since__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for Reply</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012W5000000N9XFIA0</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-19</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>1546</locationX>
        <locationY>684</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>STF - Email/Close Cases Missing Replies</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AwaitingReplySince</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessHoursDiff</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CloseCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WaitTimeCheck</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
