force-app/main/default/flows/STF_Journal_Sent_Reminder_to_View_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>.Account__r.PersonEmail}</description>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ToEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>EmailTemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account__r.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_Account_have_an_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TVAHYDPPH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C04AK6QMAJJ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>SlackMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Danish_Values</name>
        <label>Assign Danish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DK_Reminder_to_View_Documents_1757319420123</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no-reply@dinfamiliejurist.dk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Irish_Values</name>
        <label>Assign Irish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IE_Reminder_to_View_Documents_1755179596263</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no-reply@hereslaw.ie</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Swedish_Values</name>
        <label>Assign Swedish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE_Reminder_to_View_Documents_1757318450466</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no-reply@dinfamiljejurist.se</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Could_Not_Find_Email_Template</name>
        <label>Populate Custom Error with Could Not Find Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Could Not Find Email Template, by searching for &quot;{!EmailTemplateName}&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_Market_Unit</name>
        <label>Populate Custom Error with Invalid Market Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Market_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AL_Send_Error_Email_from_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_SlackMessage_with_Missing_Email_on_Account</name>
        <label>Populate SlackMessage with Missing Email on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptMissingSpouseEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_SlackMessage_with_Missing_Email_on_Spouse</name>
        <label>Populate SlackMessage with Missing Email on Spouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ptMissingSpouseEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_ToEmail_Variable_with_Account_s_Email</name>
        <label>Populate ToEmail Variable with Account&apos;s Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ToEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_ToEmail_Variable_with_Spouse_s_Email</name>
        <label>Populate ToEmail Variable with Spouse&apos;s Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ToEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Spouse_Email__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_an_Email_Template</name>
        <label>Did We Find an Email Template?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Could_Not_Find_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Email_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_We_Have_a_Spouse_to_Alert_as_Well</targetReference>
            </connector>
            <label>Got Email Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Have_a_Spouse_to_Alert_as_Well</name>
        <label>Do We Have a Spouse to Alert as Well?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Does_Account_have_an_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Spouse_to_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Is_Spouse_Shared_Document_Recipient__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Spouse_have_an_Email</targetReference>
            </connector>
            <label>Got Spouse to Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_have_an_Email</name>
        <label>Does Account have an Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Populate_SlackMessage_with_Missing_Email_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_has_an_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_ToEmail_Variable_with_Account_s_Email</targetReference>
            </connector>
            <label>Account has an Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Spouse_have_an_Email</name>
        <label>Does Spouse have an Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Populate_SlackMessage_with_Missing_Email_on_Spouse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spouse_has_an_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Spouse_Email__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_ToEmail_Variable_with_Spouse_s_Email</targetReference>
            </connector>
            <label>Spouse has an Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_Proceed_with_Notification</name>
        <label>Should we Proceed with Notification?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_with_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmAwaitingCustomerPlus7Days</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Shared_Documents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_Market_Unit</targetReference>
            </connector>
            <label>Proceed with Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Market_Unit</name>
        <label>What is the Market Unit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Populate_Custom_Error_with_Invalid_Market_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Danish_Market_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Danish_Values</targetReference>
            </connector>
            <label>Danish Market Unit</label>
        </rules>
        <rules>
            <name>Swedish_Market_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA_SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Swedish_Values</targetReference>
            </connector>
            <label>Swedish Market Unit</label>
        </rules>
        <rules>
            <name>Irish_Market_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Irish_Values</targetReference>
            </connector>
            <label>Irish Market Unit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmAwaitingCustomerPlus7Days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Awaiting_customer_since__c}+7</expression>
    </formulas>
    <formulas>
        <name>frmMostRecentSentMinus7</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Most_Recent_Document_Sent__c}-7</expression>
    </formulas>
    <interviewLabel>STF - Journal: Sent Reminder to View Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STF - Journal: Sent Reminder to View Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_an_Email_Template</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>EmailTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Shared_Documents</name>
        <label>Get Shared Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_we_Proceed_with_Notification</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Journal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Newest_Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Viewed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shared_Document__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Shared_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Journal_States__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gennemgang Get Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Document_Sent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Disable_Document_Review_Notifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GA_Reply_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting customer</stringValue>
            </value>
        </filters>
        <object>Journal__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-09-13</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>AL_Send_Error_Email_from_Input_Values</name>
        <label>AL - Send Error Email from Input Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>AL_Send_Error_Email_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCustomError</name>
            <value>
                <elementReference>CustomError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFlowName</name>
            <value>
                <stringValue>STF - Journal: Sent Reminder to View Documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ptMissingAccountEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Missing Email on Account: 
We&apos;ve tried to send a reminder to &lt;https://dfj.lightning.force.com/lightning/r/{!$Record.Id}/view|{!$Record.Name}&gt;, to review their documents.</text>
    </textTemplates>
    <textTemplates>
        <name>ptMissingSpouseEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Missing Email on Spouse: 
We&apos;ve tried to send a reminder to &lt;https://dfj.lightning.force.com/lightning/r/{!$Record.Id}/view|{!$Record.Name}&gt;, to review their documents. 
It is noted that Spouse should be notified as well, but there is no email on the spouse.</text>
    </textTemplates>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
