force-app/main/default/flows/Update_Campaign_Member_From_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Campaign_Member_status</name>
        <label>Assign Campaign Member status</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Lead_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Lead_Booking_Status_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_Campaign_Member</name>
        <label>Assign Fields to Campaign Member</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Date_of_cancellation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Cancelled_tickets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cancelled_tickets__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Member3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_previous_Related_Event_Id</name>
        <label>Assign previous Related Event Id</label>
        <locationX>237</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>previousrelatedEventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Related_Event_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Campaign_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Other_Lead_fields_are_updated</name>
        <label>Check if Other Lead fields are updated</label>
        <locationX>545</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_with_Lecturer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Below_fields_are_updated</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Status_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking_Status_Formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Booking_Status_Formula__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Member</targetReference>
            </connector>
            <label>Below fields are updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_prior_related_event_id</name>
        <label>check prior related event id</label>
        <locationX>545</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_if_Other_Lead_fields_are_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_prior_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Related_Event_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Event_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_previous_Related_Event_Id</targetReference>
            </connector>
            <label>Has prior value</label>
        </rules>
        <rules>
            <name>if_lead_has_null_prior_related_event_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Related_Event_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Event_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Event_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_New_Campaign_Member</targetReference>
            </connector>
            <label>if lead has null prior related event Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_find_a_Campaign_Member</name>
        <label>Did we find a Campaign Member?</label>
        <locationX>336</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>No Campaign Member Found</defaultConnectorLabel>
        <rules>
            <name>Campaign_Member_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_Member_status</targetReference>
            </connector>
            <label>Campaign Member Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Created_Or_Updated</name>
        <label>Does Lead Created Or Updated</label>
        <locationX>919</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Related_Event_Id_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Campaign</targetReference>
            </connector>
            <label>Lead Related Event Id Changed</label>
        </rules>
        <rules>
            <name>New_Record_Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_New_Campaign</targetReference>
            </connector>
            <label>New Record Inserted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Member_Already_Exist_on_New_Campaign</name>
        <label>Does Member Already Exist on New Campaign?</label>
        <locationX>237</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Create_New_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Member</defaultConnectorLabel>
        <rules>
            <name>Member_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Other_Lead_fields_are_updated</targetReference>
            </connector>
            <label>Member Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Booking_Status_Changed</name>
        <label>Is Lead Booking Status Changed</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign_Member3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Booking_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Status_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking_Status_Formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Booking_Status_Formula__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_to_Campaign_Member</targetReference>
            </connector>
            <label>Lead Booking Status Changed</label>
        </rules>
    </decisions>
    <description>Optimized flow as part of DFJ Cleanup</description>
    <environments>Default</environments>
    <formulas>
        <name>GetUpdatedCount</name>
        <dataType>Number</dataType>
        <expression>{!UpdateOldCount}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Campaign Member From Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update/Create Campaign Member From Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_create_new_campaign_member</name>
        <label>Copy 1 of create new campaign member</label>
        <locationX>1029</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Lead_with_Lecturer</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Copy_1_of_Get_New_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Unit__c</field>
            <value>
                <elementReference>$Record.Market_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform_Lead_ID__c</field>
            <value>
                <elementReference>$Record.Platform_Lead_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_per_ticket__c</field>
            <value>
                <elementReference>$Record.Price_Per_Ticket__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tickets_in_order__c</field>
            <value>
                <elementReference>$Record.Tickets_in_order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_of_booking__c</field>
            <value>
                <elementReference>$Record.Booking_date_time__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Campaign_Member</name>
        <label>Create New Campaign Member</label>
        <locationX>325</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Check_if_Other_Lead_fields_are_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_New_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Unit__c</field>
            <value>
                <elementReference>$Record.Market_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform_Lead_ID__c</field>
            <value>
                <elementReference>$Record.Platform_Lead_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_per_ticket__c</field>
            <value>
                <elementReference>$Record.Price_Per_Ticket__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tickets_in_order__c</field>
            <value>
                <elementReference>$Record.Tickets_in_order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_of_booking__c</field>
            <value>
                <elementReference>$Record.Booking_date_time__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_New_Campaign</name>
        <label>Copy 1 of Get New Campaign</label>
        <locationX>1029</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_create_new_campaign_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Event_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Event_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>336</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_a_Campaign_Member</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Campaign</name>
        <label>Get New Campaign</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_prior_related_event_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Event_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Event_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Campaign_Member</name>
        <label>Get New Campaign Member</label>
        <locationX>237</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Member_Already_Exist_on_New_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Campaign_record</name>
        <label>Get Previous Campaign record</label>
        <locationX>237</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Previous_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Event_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Related_Event_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Lead_with_Lecturer</name>
        <label>Copy 1 of Update Lead with Lecturer</label>
        <locationX>1029</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Lecturer__c</field>
            <value>
                <elementReference>Copy_1_of_Get_New_Campaign.Lecturer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member3</name>
        <label>Update Campaign Member</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Update_Lead_with_Lecturer</targetReference>
        </connector>
        <inputReference>Get_Campaign_Member</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_with_Lecturer</name>
        <label>Update Lead with Lecturer</label>
        <locationX>545</locationX>
        <locationY>2471</locationY>
        <inputAssignments>
            <field>Lecturer__c</field>
            <value>
                <elementReference>Get_New_Campaign.Lecturer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Related_Event_Id__c</field>
            <value>
                <elementReference>previousrelatedEventId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Campaign_Member</name>
        <label>Update Previous Campaign Member</label>
        <locationX>237</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_New_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_Campaign_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Status__c</field>
            <value>
                <stringValue>Booked at new event</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>793</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Lead_Created_Or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Event_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>previousrelatedEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateOldCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdateOldLeadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
