force-app/main/default/flows/Update_Campaign_with_Order_Field_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Order_to_Collection</name>
        <label>Add Order to Collection</label>
        <locationX>72</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>orderCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Flow_Create_ShareRecord_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Is_From_Internal_Meeting_to_Order_Variable</name>
        <label>Assign &quot;Is From Internal Meeting&quot; to Order Variable</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_from_Internal_Meeting_Booker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meeting_Booker_to_Order_Variable</name>
        <label>Assign Meeting Booker to Order Variable</label>
        <locationX>72</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>$Record.Meeting_Booker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__r.Meeting_booker__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Campaign_Record</name>
        <label>Assign Values to Campaign Record</label>
        <locationX>149</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>campaignRecord.Actual_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AggregateProvisionValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignRecord.Count_of_Refunds_in_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalRefundsinCampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignRecord.Refund_Amount_in_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalRefundAmountinCampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_Meeting_Booker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Refunds</name>
        <label>Count Refunds</label>
        <locationX>237</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TotalRefundsinCampaign</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggregate_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_of_All_provision_Value</name>
        <label>Sum of All provision Value</label>
        <locationX>369</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AggregateProvisionValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Aggregate_values.Provision_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalRefundAmountinCampaign</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Aggregate_values.Refund_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_refund_value_is_greater_than_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_refund_value_is_greater_than_0</name>
        <label>If refund value is greater than 0</label>
        <locationX>369</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Aggregate_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aggregate_values.Refund_Value__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Refunds</targetReference>
            </connector>
            <label>greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Meeting_Booke_still_Active</name>
        <label>Is Meeting Booke still Active?</label>
        <locationX>204</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meeting Booker is Inactive</defaultConnectorLabel>
        <rules>
            <name>Meeting_Booke_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Meeting_Booker.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Meeting_Booker_to_Order_Variable</targetReference>
            </connector>
            <label>Meeting Booker is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Already_Shared</name>
        <label>Is Order Already Shared?</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Is_Meeting_Booke_still_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Booker</defaultConnectorLabel>
        <rules>
            <name>Order_is_Shared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Share</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign</targetReference>
            </connector>
            <label>Order is Shared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Meeting_Booker</name>
        <label>Is there a Meeting Booker?</label>
        <locationX>281</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Meeting Booker</defaultConnectorLabel>
        <rules>
            <name>Meeting_Booker_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Meeting_Booker_User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Meeting_Booker</targetReference>
            </connector>
            <label>Meeting Booker Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Related_Event_ID</name>
        <label>Is there a Related Event ID?</label>
        <locationX>281</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Meeting_Booker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Related Event ID</defaultConnectorLabel>
        <rules>
            <name>Related_Event_ID_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Event_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Related_Orders</targetReference>
            </connector>
            <label>Related Event ID Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Campaign with Order Field Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Campaign with Order Field Values</label>
    <loops>
        <name>Aggregate_values</name>
        <label>Aggregate values</label>
        <locationX>149</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Related_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_of_All_provision_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Campaign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Orders</name>
        <label>Get All Related Orders</label>
        <locationX>149</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggregate_values</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3)</filterLogic>
        <filters>
            <field>Related_Event_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Event_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provision_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Refund_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>149</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Campaign_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Event_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Event_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Share</name>
        <label>Get Order Share</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Order_Already_Shared</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Meeting_booker__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Meeting_Booker</name>
        <label>Get User (Meeting Booker)</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Is_From_Internal_Meeting_to_Order_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meeting_Booker_User_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>281</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <inputReference>campaignRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>281</locationX>
        <locationY>2771</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_a_Related_Event_ID</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Action_Flow_Create_ShareRecord_Flow</name>
        <label>Action Flow: Create ShareRecord Flow</label>
        <locationX>72</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Update_Campaign</targetReference>
        </connector>
        <flowName>Action_Flow_Create_ShareRecord</flowName>
        <inputAssignments>
            <name>inputAccessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputOrderCollection</name>
            <value>
                <elementReference>orderCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputUserOrGroupId</name>
            <value>
                <elementReference>$Record.Meeting_Booker__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AggregateProvisionValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>campaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>orderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>TotalRefundAmountinCampaign</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalRefundsinCampaign</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
